{% import './_macros.css' %}

/* Default Button*/
button,
.button,
.hs-button {
  cursor: pointer;
  display: inline-block;
  font-size: 1.125rem;
  line-height: 1.2;
  text-align: center;
  {{ transition() }}
  white-space: normal;
  text-decoration: none;
  {% if button_uppercase %}
  text-transform: uppercase;
  {% endif %}
  font-weight: {{ button_font.styles|attr('font-weight') }};;
  font-family: {{ button_font.font }}, sans-serif;
  letter-spacing: {{ button_letter_spacing ~ 'px' }};
  padding: {{ button_vertical_padding ~ 'px' ~ ' ' ~ button_horizontal_padding ~ 'px' }};
  border: {{ button_border_width ~ 'px solid' }};
  border-radius: {{ button_border_radius ~ 'px' }};
  background-color: {{ primary_color }};
  border-color: {{ primary_color }};
  color: #FFFFFF;
  fill: #FFFFFF;
}
button:hover,
button:focus,
.button:hover,
.button:focus,
.hs-button:hover,
.hs-button:focus {
  text-decoration: none;
  opacity: 1;
  background-color: {{ color_variant(primary_color, -50) }};
  border-color: {{ color_variant(primary_color, -50) }};
}
{#button:active,
.button:active,
.hs-button:active {
  text-decoration: none;
  opacity: 1;
  background-color: {{ color_variant(primary_color, +50) }};
  border-color: {{ color_variant(primary_color, +50) }};
  color: #FFFFFF;
}#}
button:disabled,
.button:disabled
.hs-button:disabled {
  text-decoration: none;
  opacity: 1;
  background-color: {{ light_gray_color }};
  border-color: {{ light_gray_color }};
  color: {{ dark_gray_color }};
}

/* Primary Button */
.button-primary,
.button-primary:after {
  background-color: {{ primary_color }};
  border-color: {{ primary_color }};
  color: {{ light_color }};
}
.button-primary:hover,
.button-primary:focus,
.button-primary:hover:after,
.button-primary:focus:after {
  background-color: {{ color_variant(primary_color, -50) }};
  border-color: {{ color_variant(primary_color, -50) }};
  color: {{ light_color }};
  fill: {{ light_color }};
}

/* Secondary Button */
.button-secondary,
.button-secondary:after {
  background-color: {{ secondary_color }};
  border-color: {{ secondary_color }};
  color: {{ light_color }};
  fill: {{ light_color }};
}
.button-secondary:hover,
.button-secondary:focus,
.button-secondary:hover:after,
.button-secondary:focus:after {
  background-color: {{ color_variant(secondary_color, -50) }};
  border-color: {{ color_variant(secondary_color, -50) }};
  color: {{ light_color }};
}

/* Light Button */
.button-light,
.button-light:after {
  background-color: {{ light_color }};
  border-color: {{ light_color }};
  color: {{ dark_color }};
  fill: {{ dark_color }};
}
.button-light:hover,
.button-light:focus,
.button-light:hover:after,
.button-light:focus:after {
  background-color: {{ dark_color }};
  border-color: {{ dark_color }};
  color: {{ light_color }};
  fill: {{ light_color }};
}

/* Dark Button */
.button-dark,
.button-dark:after {
  background-color: {{ dark_color }};
  border-color: {{ dark_color }};
  color: {{ light_color }};
  fill: {{ light_color }};
}
.button-dark:hover,
.button-dark:focus,
.button-dark:hover:after,
.button-dark:focus:after {
  background-color: {{ light_color }};
  border-color: {{ light_color }};
  color: {{ dark_color }};
  fill: {{ dark_color }};
}

/* Light Gray Button */
.button-light-gray,
.button-light-gray:after {
  background-color: {{ light_gray_color }};
  border-color: {{ light_gray_color }};
  color: {{ dark_gray_color }};
  fill: {{ dark_gray_color }};
}
.button-light-gray:hover,
.button-light-gray:focus,
.button-light-gray:hover:after,
.button-light-gray:focus:after {
  background-color: {{ dark_gray_color }};
  border-color: {{ dark_gray_color }};
  color: {{ light_gray_color }};
  fill: {{ light_gray_color }};
}

/* Dark Gray Button */
.button-dark-gray,
.button-dark-gray:after {
  background-color: {{ dark_gray_color }};
  border-color: {{ dark_gray_color }};
  color: {{ light_gray_color }};
  fill: {{ light_gray_color }};
}
.button-dark-gray:hover,
.button-dark-gray:focus,
.button-dark-gray:hover:after,
.button-dark-gray:focus:after {
  background-color: {{ light_gray_color }};
  border-color: {{ light_gray_color }};
  color: {{ dark_gray_color }};
  fill: {{ dark_gray_color }};
}

/* Link Button */
.button-link,
.button-link:after {
  background-color: {{ link_color }};
  border-color: {{ link_color }};
  color: {{ light_color }};
  fill: {{ light_color }};
}
.button-link:hover,
.button-link:focus,
.button-link:hover:after,
.button-link:focus:after {
  background-color: {{ link_hover_focus_color }};
  border-color: {{ link_hover_focus_color }};
  color: {{ light_color }};
}

/* Primary Button Outline */
.button-outline-primary,
.button-outline-primary:after {
  background-color: transparent;
  border-color: {{ primary_color }};
  color: {{ primary_color }};
  fill: {{ primary_color }};
}
.button-outline-primary:hover,
.button-outline-primary:focus,
.button-outline-primary:hover:after,
.button-outline-primary:focus:after {
  background-color: {{ primary_color }};
  border-color: {{ primary_color }};
  color: {{ light_color }};
  fill: {{ light_color }};
}

/* Secondary Button Outline */
.button-outline-secondary,
.button-outline-secondary:after {
  background-color: transparent;
  border-color: {{ secondary_color }};
  color: {{ secondary_color }};
  fill: {{ secondary_color }};
}
.button-outline-secondary:hover,
.button-outline-secondary:focus,
.button-outline-secondary:hover:after,
.button-outline-secondary:focus:after {
  background-color: {{ secondary_color }};
  border-color: {{ secondary_color }};
  color: {{ light_color }};
  fill: {{ light_color }};
}

/* Light Button Outline */
.button-outline-light,
.button-outline-light:after {
  background-color: transparent;
  border-color: {{ light_color }};
  color: {{ light_color }};
  fill: {{ light_color }};
}
.button-outline-light:hover,
.button-outline-light:focus,
.button-outline-light:hover:after,
.button-outline-light:focus:after {
  background-color: {{ light_color }};
  border-color: {{ light_color }};
  color: {{ dark_color }};
  fill: {{ dark_color }};
}

/* Dark Button Outline */
.button-outline-dark,
.button-outline-dark:after {
  background-color: transparent;
  border-color: {{ dark_color }};
  color: {{ dark_color }};
  fill: {{ dark_color }};
}
.button-outline-dark:hover,
.button-outline-dark:focus,
.button-outline-dark:hover:after,
.button-outline-dark:focus:after {
  background-color: {{ dark_color }};
  border-color: {{ dark_color }};
  color: {{ light_color }};
  fill: {{ light_color }};
}

/* Light Gray Button Outline */
.button-outline-light-gray,
.button-outline-light-gray:after {
  background-color: transparent;
  border-color: {{ light_gray_color }};
  color: {{ light_gray_color }};
  fill: {{ light_gray_color }};
}
.button-outline-light-gray:hover,
.button-outline-light-gray:focus,
.button-outline-light-gray:hover:after,
.button-outline-light-gray:focus:after {
  background-color: {{ light_gray_color }};
  border-color: {{ light_gray_color }};
  color: {{ light_color }};
  fill: {{ light_color }};
}

/* Dark Gray Button Outline */
.button-outline-dark-gray,
.button-outline-dark-gray:after {
  background-color: transparent;
  border-color: {{ dark_gray_color }};
  color: {{ dark_gray_color }};
  fill: {{ dark_gray_color }};
}
.button-outline-dark-gray:hover,
.button-outline-dark-gray:focus,
.button-outline-dark-gray:hover:after,
.button-outline-dark-gray:focus:after {
  background-color: {{ dark_gray_color }};
  border-color: {{ dark_gray_color }};
  color: {{ light_color }};
  fill: {{ light_color }};
}

/* Link Button Outline */
.button-outline-link,
.button-outline-link:after {
  background-color: transparent;
  border-color: {{ link_color }};
  color: {{ link_color }};
  fill: {{ link_color }};
}
.button-outline-link:hover,
.button-outline-link:focus,
.button-outline-link:hover:after,
.button-outline-link:focus:after {
  background-color: {{ link_hover_focus_color }};
  border-color: {{ link_hover_focus_color }};
  color: {{ light_color }};
  fill: {{ light_color }};
}

/* Gradient Button */
.button-gradient {
  background: -webkit-gradient(linear, left top, right top, from({{ gradient_color_1 }}), color-stop({{ gradient_color_2 }}), color-stop({{ gradient_color_2 }}), to({{ gradient_color_1 }}));
  background: -o-linear-gradient(left, {{ gradient_color_1 }}, {{ gradient_color_2 }}, {{ gradient_color_2 }}, {{ gradient_color_1 }});
  background: linear-gradient(to right, {{ gradient_color_1 }}, {{ gradient_color_2 }}, {{ gradient_color_2 }}, {{ gradient_color_1 }});
  background-size: 300% 100%;
  padding: {{ button_vertical_padding + button_border_width ~ 'px' }} {{ button_horizontal_padding + button_border_width ~ 'px' }};
  border: none;
}
.button-gradient:after {
  border-color: {{ gradient_color_1 }};
}
.button-gradient:hover,
.button-gradient:focus {
  background-position: 100% 0;
}
.button-gradient:hover:after,
.button-gradient:focus:after {
  border-color: {{ gradient_color_2 }};
}

/* Button Small */
.button-small {
  font-size: .95rem;
  padding: {{ button_vertical_padding * .75 ~ 'px' ~ ' ' ~ button_horizontal_padding * .75 ~ 'px' }};
}
.button-gradient.button-small {
  padding: {{ button_vertical_padding * .75 + button_border_width ~ 'px' ~ ' ' ~ button_horizontal_padding * .75 + button_border_width ~ 'px' }};
}

/* Button Large */
.button-large {
  font-size: 1.25rem;
  padding: {{ button_vertical_padding * 1.125 ~ 'px' ~ ' ' ~ button_horizontal_padding * 1.25 ~ 'px' }};
}
.button-gradient.button-large {
  padding: {{ button_vertical_padding * 1.125 + button_border_width ~ 'px' ~ ' ' ~ button_horizontal_padding * 1.25 + button_border_width ~ 'px' }};
}

/* Accent */
.button-accent {
  position: relative;
}
.button-accent:after {
  content: "";
  position: absolute;
  top: -0.5rem;
  left: -0.5rem;
  right: -0.5rem;
  bottom: -0.5rem;
  width: calc(100% + 1rem);
  height: calc(100% + 1rem);
  border-style: solid;
  border-width: 2px;
  border-radius: inherit;
  background: transparent !important;
  {{ transition() }}
}

/* Link */
.link {
  {% if button_uppercase %}
  text-transform: uppercase;
  {% endif %}
  font-weight: {{ button_font.styles|attr('font-weight') }};;
  font-family: {{ button_font.font }}, sans-serif;
  letter-spacing: {{ button_letter_spacing ~ 'px' }};
  position: relative;
  display: inline-block;
  padding: 0;
}
.link:after {
  content: "";
  width: 0;
  height: 3px;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: {{ secondary_color }};
  {{ transition() }}
}
.link:hover:after {
  width: 100%;
  right: 0;
}