{% import './_macros.css' %}

.cards-wrapper {
  display: flow-root;
  position: relative;
}
.cards-wrapper .slick-dots {
  bottom: -17px;
}
.cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin: -.75rem;
  -webkit-box-flex: 1;
  -ms-flex: 1 1 100%;
  flex: 1 1 100%;
}
.cards-single {
  max-width: 100%;
  width: 100%;
  padding: .75rem;
}
.cards-single-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  height: 100%;
  position: relative;
  overflow: hidden;
  border-radius: {{ card_border_radius ~ 'px' }}
}

@media (max-width: {{max_width + 120 ~ 'px'}}) {
  .cards-wrapper {
    overflow: hidden;
  }
}

@media (max-width: 991px) {
  .cards-single:not(.flex-basis-1) {
    -ms-flex-preferred-size: 50% !important;
    flex-basis: 50% !important;
    width: 50% !important;
    max-width: 480px;
  }
  .cards-single.flex-basis-1:only-child {
    -ms-flex-preferred-size: 100% !important;
    flex-basis: 100% !important;
    width: 100% !important;
  }
}

@media (max-width: 767px) {
  .cards-single:not(.flex-basis-1) {
    -ms-flex-preferred-size: 100% !important;
    flex-basis: 100% !important;
    width: 100% !important;
  }
  .cards-single:not(.flex-basis-1) {
    max-width: 460px;
  }
}

/* Image */
.card-image-wrapper {
  overflow: hidden;
  padding-bottom: 56.25%;
}
.cards-single-inner > a > .card-image-wrapper {
  padding-bottom: 0;
}
.card-image-bg {
  background-image: url({{ get_asset_url('../images/grayscale-mountain.png') }});
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 56.25%; /* This number gives the image it's proper size. It is derived as  image_height / image_width * 100% */
  position: relative;
}
.card-image {
  overflow: hidden;
}
.card-image img {
  display: block;
  height: auto;
  margin: 0 auto;
  max-width: 100%;
}
.card-image--padding img {
  padding: 1.5rem 1.5rem 0;
}

/* Icon */
.card-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: 10rem;
  max-height: 10rem;
}
.card-icon svg {
  height: inherit;
  max-width: 100%;
  max-height: inherit;
  padding: 1.5rem 1.5rem 0;
}

/* Overlay */
.card-content {
  position: absolute;
  bottom: -100%;    
  opacity: 0;
  z-index: 4;
  {{ transition() }}
}
.cards-single-inner:hover .card-content,
.cards-single-inner:focus .card-content {
  bottom: 0;
  opacity: 1;
}
.card-overlay {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
}
.card-overlay-content {
  position: absolute;
  bottom: 0;
  z-index: 3;
  width: 100%;
}
.card-body {
  padding: 1.5rem;
  width: 100%;
}
.card-heading-wrapper {
  margin-bottom: .75rem;
}
.card-heading {
  margin-bottom: 0;
}
.card-heading + .card-text,
.card-heading + .social-links,
.card-text + .social-links {
  margin-top: .75rem;
}
.card-button {
  margin-top: auto;
  padding: 0 1.5rem 1.5rem;;
  width: 100%
}

/* Post */
.card-post-meta-wrapper {
  font-size: .875rem;
}
.card-post-meta {
  display: block;
  line-height: 1;
  margin-top: .5rem;
}
.card-post-meta svg {
  margin-right: .5rem;
}

/* Hover Animations */
.card-hover--card-zoom,
.card-hover--image-zoom .card-image-bg,
.card-hover--image-zoom .card-image img,
.card-hover--image-zoom .blog-card-image {
  {{ transition() }}
}
.card-hover--card-zoom:hover,
.card-hover--image-zoom:hover .card-image-bg,
.card-hover--image-zoom:hover .card-image img,
.card-hover--image-zoom:hover .blog-card-image {
  -webkit-transform: scale(1.02);
  transform: scale(1.02);
}

/* Transparent Card */
.cards-single-inner.bg-transparent .card-image,
.cards-single-inner.bg-transparent .card-image-wrapper,
.cards-single-inner.bg-transparent .card-image-bg {
  border-radius: {{ card_border_radius ~ 'px' }}
}
.cards-single-inner.bg-transparent .card-body {
  padding: 1rem 0;
}
.cards-single-inner.bg-transparent .card-button {
  margin-top: auto;
  padding: 0 0 1rem;
  width: 100%;
}

/* Accent Line */
.card-accent {
  width: 100%;
  height: 0.25rem;
  margin: 0.75rem 0;
}
.card-accent-top {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: .5rem;
}
.card-accent-bottom {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: .5rem;
}

/* Filter */
.cards-filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding-bottom: 1.25rem;
  margin: -0.5rem;
}
.cards-filter .button {
  margin: 0.5rem;
}
.cards-filter select {
  margin: 0.5rem;
  min-width: 32%;
  width: auto !important;
}