{% import './_macros.css' %}

.body-wrapper {
  {{ transition() }}
}
.body-wrapper.header-type-default:before {
  content: "";
  height: var(--header-height);
  display: block;
  {{ transition() }}
}
.body-wrapper.header-type-transparent .hero-banner:before,
.body-wrapper.header-type-transparent .blog-post__header:before{
  content: "";
  height: calc(var(--header-height) - 2rem);
  display: block;
  {{ transition() }}
}
.content-wrapper {
  margin: 0 auto;
  padding: 0 20px;
  max-width: {{ max_width ~ 'px' }};
}
.dnd-section,
.content-wrapper--vertical-spacing {
  padding: {{ vertical_spacing ~ 'px' }} 50px;
}
.dnd-section > .row-fluid {
  margin: 0 auto;
  max-width: {{ max_width ~ 'px' }};
}
.dnd-section .dnd-row + .dnd-row {
  margin-top: 1.25rem;
}

@media (max-width: 991px) {
  .dnd-section,
  .content-wrapper--vertical-spacing {
    padding: {{ vertical_spacing * .75 ~ 'px' }} 20px;
  }
}

@media (max-width: 767px) {
  .dnd-section,
  .content-wrapper--vertical-spacing {
    padding: {{ vertical_spacing * .5 ~ 'px' }} 20px;
  }
  
  .dnd-section .dnd-module + .dnd-module,
  .dnd-section .dnd-column + .dnd-column,
  .dnd-section .dnd-column + .dnd-module,
  .dnd-section .dnd-module + .dnd-column {
    margin-top: 1.25rem;
  }
}