{% import './_macros.css' %}

.footer {
  position: relative;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.footer-background--gradient {
  background: -webkit-gradient(linear, left top, right top, from({{ gradient_color_1 }}), to({{ gradient_color_2 }}));
  background: -o-linear-gradient(left, {{ gradient_color_1 }}, {{ gradient_color_2 }});
  background: linear-gradient(to right, {{ gradient_color_1 }}, {{ gradient_color_2 }});
}
.footer-background--image {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.footer-background--image .footer-top {
  background-color: rgba({{ dark_color|convert_rgb }}, .5 );
}
.footer-top {
  padding: 0 20px;
}
.footer-top-container {
  max-width: {{ max_width  ~ 'px' }};
  margin: 0 auto;
	position: relative;
}
.footer-bottom {
	padding: .5rem 20px;
  background-color: transparent;
}
.footer-bottom-container {
  max-width: {{ max_width  ~ 'px' }};
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: baseline;
  -ms-flex-align: baseline;
  align-items: baseline;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

@media (max-width: 767px) {
  .footer-top {
    padding: 4rem 20px;
    text-align: center;
  }
  .footer-bottom-container {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
}

@media (min-width: 768px) {
  .footer-bottom-container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
  }
}

/* Column Content */
.footer-column-item {
  margin-bottom: 1.75rem;
}
.footer-column-item p {
  margin-bottom: .75rem; 
}
.footer-column-item h1,
.footer-column-item h2,
.footer-column-item h3,
.footer-column-item h4,
.footer-column-item h5,
.footer-column-item h6,
.footer-column-item-title {
  color: inherit !important;
}
.footer-column-item .social-links svg {
  fill: inherit !important;
}
.footer-column-item > *:last-child {
  margin-bottom: 0;
}
.footer-column-item a:not(.social-links-single) {
  position: relative;
  display: inline-block;
}
.footer-column-item a:not(.social-links-single):after {
  content: "";
  width: 0;
  height: 3px;
  background-color: {{ secondary_color }};
  position: absolute;
  bottom: 0;
  left: 0%;
  {{ transition() }}
}
.footer-column-item a:not(.social-links-single):hover:after {
  width: 100%;
  right: 0;
}
.footer-top-container > .row-fluid > [class*="span"]:last-child > .footer-column-item:last-child {
  margin-bottom: 0;
}
.footer-column-accent-background {
  padding: 1.5rem;
  margin-bottom: 1.75rem;
}
.footer-column-accent-background .footer-column-item:last-child {
  margin-bottom: 0;
}

@media (min-width: 768px) {
  .footer-top-container > .row-fluid {
    display: flex;
  }
  .footer-top-container > .row-fluid > [class*="span"] {
    padding: 4rem 0;
  }
  .footer-column-item {
    margin-bottom: 1rem;
  }
  .footer-column-item:last-child {
    margin-bottom: 0;
  }
  .footer-column-accent-line .footer-column-item {
    padding-left: 2rem !important;
    border-left-style: solid;
    border-left-width: 2px;
    border-left-color: inherit;
  }
  .footer-column-accent-background {
    padding: 4rem 2.25rem !important;
    margin-bottom: 0;
  }
}

/* Form */
.footer-form form {
  padding: 0;
  border: 0;
  background: transparent;
}
.footer-form .form-title {
  display: none;
}
.footer-form input[type=text],
.footer-form input[type=email],
.footer-form input[type=password],
.footer-form input[type=tel],
.footer-form input[type=number],
.footer-form input[type=file],
.footer-form select,
.footer-form textarea,
.footer-form form label {
  font-size: .875rem;
}
.footer-form form label {
  color: inherit !important;
}

/* Menu */
.footer-column-item-menu .hs-menu-children-wrapper {
  display: none !important;
}
.footer-column-item-menu ul {
  margin: 0;
}
.footer-column-item-menu li {
  display: block;
  width: 100%;
}
.footer-column-item-menu li:nth-child(n+2) {
  margin-top: .5rem;
}
.footer-column-item-menu a {
  color: inherit;
  font-size: 1.125rem;
  font-weight: bold;
  line-height: 1.7;
  padding: 0;
}
.footer-column-item-menu a:hover,
.footer-column-item-menu a:focus {
  color: inherit;
}
.footer-column-item-menu li.active a:after {
  width: 100%;
  right: 0;
}

/* Social Icons */
@media (max-width: 767px) {
  .footer-column-item .social-links {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
}

/* Copyright */
.footer-bottom-copyright {
  font-size: .75rem;
  -webkit-box-ordinal-group: 3;
  -ms-flex-order: 2;
  order: 2;
}
@media (min-width: 768px) {
  .footer-bottom-copyright {
    -webkit-box-flex: 1;
    -ms-flex: 1 0 60%;
    flex: 1 0 60%;
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
  }
}

/* Bottom Menu */
.footer-bottom-menu {
  -webkit-box-ordinal-group: 2;
  -ms-flex-order: 1;
  order: 1;
}
.footer-bottom-menu .hs-menu-children-wrapper {
  display: none;
}
.footer-bottom-menu .hs-menu-wrapper.hs-menu-flow-horizontal ul {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}
.footer-bottom-menu li a {
  color: inherit;
  font-size: .75rem;
  padding: 0 .5rem;
  border-right: 1px solid {{ dark_color }};
  border-color: inherit;
}
.footer-bottom-menu li:first-child a {
  padding-left: 0;
}
.footer-bottom-menu li:last-child a {
  border-right: none;
  padding-right: 0;
}
.footer-bottom-menu a:hover,
.footer-bottom-menu a:focus {
  opacity: .75;
}
.footer-bottom-menu li.active a {
  font-weight: bold;
}

@media (min-width: 768px) {
  .footer-bottom-menu {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 40%;
    flex: 0 0 40%;
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;
  }
}

/* Scroll to Top */
.footer-scroll-to-top {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  width: 2.5rem;
  height: 2.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  background-color: {{ primary_color }};
  border-radius: {{ button_border_radius  ~ 'px' }};
  {{ transition() }}
  z-index: 5;
  opacity: 0;
  visibility: hidden;
}
.footer-scroll-to-top:hover,
.footer-scroll-to-top:focus {
  opacity: 1;
}
.footer-scroll-to-top-active {
  opacity: .4;
  visibility: visible;
}
.footer-scroll-to-top svg {
  height: 1.25rem;
  fill: {{ light_color }};
}