/* Container */
.container {
  width: 100%;
  max-width: {{ max_width  ~ 'px' }};
  margin: 0 auto;
}

/* Full Height */
.full-height {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

/* Full Width */
.full-width {
  width: 100%;
  max-width: 100%;
}

/* Text Alignment */
.text-left {
  text-align: left;
}
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}

/* Margin Alignment */
.margin-align-left {
  margin-left: 0;
  margin-right: auto;
}
.margin-align-center {
  margin-left: auto;
  margin-right: auto;
}
.margin-align-right {
  margin-left: auto;
  margin-right: 0;
}

/* Flex Alignment - Horizontal */
.justify-left {
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}
.justify-center {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.justify-right {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

/* Flex Basis - Width in 12 col grid */
.flex-basis-1 {
  -ms-flex-preferred-size: 100%;
  flex-basis: 100%;
  width: 100%;
}
.flex-basis-2 {
  -ms-flex-preferred-size: 50%;
  flex-basis: 50%;
  width: 50%;
}
.flex-basis-3 {
  -ms-flex-preferred-size: 33.33%;
  flex-basis: 33.33%;
  width: 33.33%;
}
.flex-basis-4 {
  -ms-flex-preferred-size: 25%;
  flex-basis: 25%;
  width: 25%;
}
.flex-basis-5 {
  -ms-flex-preferred-size: 20%;
  flex-basis: 20%;
  width: 20%;
}
.flex-basis-6 {
  -ms-flex-preferred-size: 16.66%;
  flex-basis: 16.66%;
  width: 16.66%;
}
.flex-basis-7 {
  -ms-flex-preferred-size: 14.28%;
  flex-basis: 14.28%;
  width: 14.28%;
}
.flex-basis-8 {
  -ms-flex-preferred-size: 12.5%;
  flex-basis: 12.5%;
  width: 12.5%;
}
.flex-basis-9 {
  -ms-flex-preferred-size: 11.11%;
  flex-basis: 11.11%;
  width: 11.11%;
}
.flex-basis-10 {
  -ms-flex-preferred-size: 10%;
  flex-basis: 10%;
  width: 10%;
}
.flex-basis-11 {
  -ms-flex-preferred-size: 9.09%;
  flex-basis: 9.09%;
  width: 9.09%;
}
.flex-basis-12 {
  -ms-flex-preferred-size: 8.33%;
  flex-basis: 8.33%;
  width: 8.33%;
}

/* Text Color */
.color-body,
.color-body svg,
.color-body:hover,
.color-body:focus {
  color: {{ body_color }};
  fill: {{ body_color }};
}
.color-primary,
.color-primary svg,
.color-primary:hover,
.color-primary:focus {
  color: {{ primary_color }};
  fill: {{ primary_color }};
}
.color-secondary,
.color-secondary svg,
.color-secondary:hover,
.color-secondary:focus {
  color: {{ secondary_color }};
  fill: {{ secondary_color }};
}
.color-dark,
.color-dark svg,
.color-dark:hover,
.color-dark:focus {
  color: {{ dark_color }};
  fill: {{ dark_color }};
}
.color-light,
.color-light svg,
.color-light:hover,
.color-light:focus {
  color: {{ light_color }};
  fill: {{ light_color }};
}
.color-dark-gray,
.color-dark-gray svg,
.color-dark-gray:hover,
.color-dark-gray:focus {
  color: {{ dark_gray_color }};
  fill: {{ dark_gray_color }};
}
.color-light-gray,
.color-light-gray svg,
.color-light-gray:hover,
.color-light-gray:focus {
  color: {{ light_gray_color }};
  fill: {{ light_gray_color }};
}
.color-link,
.color-link svg,
.color-link:hover,
.color-link:focus {
  color: {{ link_color }};
  fill: {{ link_color }};
}

/* Background Fixed */
.bg-fixed {
  background-attachment: fixed;
}

/* Background Color */
.bg-transparent {
  background-color: transparent;
}
.bg-primary {
  background-color: {{ primary_color }};
}
.bg-secondary {
  background-color: {{ secondary_color }};
}
.bg-dark {
  background-color: {{ dark_color }}
}
.bg-light {
  background-color: {{ light_color }}
}
.bg-dark-gray {
  background-color: {{ dark_gray_color }};
}
.bg-light-gray {
  background-color: {{ light_gray_color }};
}
.bg-link {
  background-color: {{ link_color }};
}

/* Border Color */
.border-transparent {
  border-color: transparent;
}
.border-primary {
  border-color: {{ primary_color }};
}
.border-secondary {
  border-color: {{ secondary_color }};
}
.border-dark {
  border-color: {{ dark_color }}
}
.border-light {
  border-color: {{ light_color }}
}
.border-dark-gray {
  border-color: {{ dark_gray_color }};
}
.border-light-gray {
  border-color: {{ light_gray_color }};
}
.border-link {
  border-color: {{ link_color }};
}

/* Pseudo Element Background Color */
.pe-transparent:before,
.pe-transparent:after,
.pe-transparent a:before,
.pe-transparent a:after,
.pe-transparent > span:before,
.pe-transparent > span:after {
  background-color: transparent;
  color: transparent;
}
.pe-primary:before,
.pe-primary:after,
.pe-primary a:before,
.pe-primary a:after,
.pe-primary > span:before,
.pe-primary > span:after {
  background-color: {{ primary_color }};
  color: {{ primary_color }};
}
.pe-secondary:before,
.pe-secondary:after,
.pe-secondary a:before,
.pe-secondary a:after,
.pe-secondary > span:before,
.pe-secondary > span:after {
  background-color: {{ secondary_color }};
  color: {{ secondary_color }};
}
.pe-dark:before,
.pe-dark:after,
.pe-dark a:before,
.pe-dark a:after,
.pe-dark > span:before,
.pe-dark > span:after {
  background-color: {{ dark_color }};
  color: {{ dark_color }};
}
.pe-light:before,
.pe-light:after,
.pe-light a:before,
.pe-light a:after,
.pe-light > span:before,
.pe-light > span:after {
  background-color: {{ light_color }};
  color: {{ light_color }};
}
.pe-dark-gray:before,
.pe-dark-gray:after,
.pe-dark-gray a:before,
.pe-dark-gray a:after,
.pe-dark-gray > span:before,
.pe-dark-gray > span:after {
  background-color: {{ dark_gray_color }};
  color: {{ dark_gray_color }};
}
.pe-light-gray:before,
.pe-light-gray:after,
.pe-light-gray a:before,
.pe-light-gray a:after,
.pe-light-gray > span:before,
.pe-light-gray > span:after {
  background-color: {{ light_gray_color }};
  color: {{ light_gray_color }};
}
.pe-link:before,
.pe-link:after,
.pe-link a:before,
.pe-link a:after,
.pe-link > span:before,
.pe-link > span:after {
  background-color: {{ link_color }};
  color: {{ link_color }};
}

/* Pseudo Element Border Color */
.pe-border-transparent:before,
.pe-border-transparent:after {
  border-color: transparent;
}
.pe-border-primary:before,
.pe-border-primary:after {
  border-color: {{ primary_color }};
}
.pe-border-secondary:before,
.pe-border-secondary:after {
  border-color: {{ secondary_color }};
}
.pe-border-dark:before,
.pe-border-dark:after {
  border-color: {{ dark_color }}
}
.pe-border-light:before,
.pe-border-light:after {
  border-color: {{ light_color }}
}
.pe-border-dark-gray:before,
.pe-border-dark-gray:after {
  border-color: {{ dark_gray_color }};
}
.pe-border-light-gray:before,
.pe-border-light-gray:after {
  border-color: {{ light_gray_color }};
}
.pe-border-link:before,
.pe-border-link:after {
  border-color: {{ link_color }};
}

/* Rounding */
.rounded,
.rounded:before,
.rounded:after {
  border-radius: {{ general_border_radius ~ 'px' }};
}

/* Margins */
.margin-top-05 {
  margin-top: .5rem;
}
.margin-top-1 {
  margin-top: 1rem;
}
.margin-top-2 {
  margin-top: 2rem;
}
.margin-top-3 {
  margin-top: 3rem;
}
.margin-top-4 {
  margin-top: 4rem;
}
.margin-top-5 {
  margin-top: 5rem;
}
.margin-top-6 {
  margin-top: 6rem;
}
.margin-top-8 {
  margin-top: 8rem;
}
.margin-top-10 {
  margin-top: 10rem;
}

.margin-bottom-05 {
  margin-bottom: .5rem;
}
.margin-bottom-1 {
  margin-bottom: 1rem;
}
.margin-bottom-2 {
  margin-bottom: 2rem;
}
.margin-bottom-3 {
  margin-bottom: 3rem;
}
.margin-bottom-4 {
  margin-bottom: 4rem;
}
.margin-bottom-5 {
  margin-bottom: 5rem;
}
.margin-bottom-6 {
  margin-bottom: 6rem;
}
.margin-bottom-8 {
  margin-bottom: 8rem;
}
.margin-bottom-10 {
  margin-bottom: 10rem;
}

/* Paddings */
.padding-05 {
  padding: .5rem;
}
.padding-1 {
  padding: 1rem;
}
.padding-2 {
  padding: 2rem;
}
.padding-3 {
  padding: 3rem;
}
.padding-4 {
  padding: 4rem;
}
.padding-5 {
  padding: 5rem;
}
.padding-6 {
  padding: 6rem;
}
.padding-8 {
  padding: 8rem;
}
.padding-10 {
  padding: 10rem;
}

.padding-top-05 {
  padding-top: .5rem;
}
.padding-top-1 {
  padding-top: 1rem;
}
.padding-top-2 {
  padding-top: 2rem;
}
.padding-top-3 {
  padding-top: 3rem;
}
.padding-top-4 {
  padding-top: 4rem;
}
.padding-top-5 {
  padding-top: 5rem;
}
.padding-top-6 {
  padding-top: 6rem;
}
.padding-top-8 {
  padding-top: 8rem;
}
.padding-top-10 {
  padding-top: 10rem;
}

.padding-bottom-05 {
  padding-bottom: .5rem;
}
.padding-bottom-1 {
  padding-bottom: 1rem;
}
.padding-bottom-2 {
  padding-bottom: 2rem;
}
.padding-bottom-3 {
  padding-bottom: 3rem;
}
.padding-bottom-4 {
  padding-bottom: 4rem;
}
.padding-bottom-5 {
  padding-bottom: 5rem;
}
.padding-bottom-6 {
  padding-bottom: 6rem;
}
.padding-bottom-8 {
  padding-bottom: 8rem;
}
.padding-bottom-10 {
  padding-bottom: 10rem;
}

/* Responsiveness - MD */
@media (max-width: 991px) {
  /* Flex Basis - Width in 12 col grid */
  .md-flex-basis-1 {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
  }
  .md-flex-basis-2 {
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
  }
  .md-flex-basis-3 {
    -ms-flex-preferred-size: 33.33%;
    flex-basis: 33.33%;
  }
  .md-flex-basis-4 {
    -ms-flex-preferred-size: 25%;
    flex-basis: 25%;
  }
  .md-flex-basis-5 {
    -ms-flex-preferred-size: 20%;
    flex-basis: 20%;
  }
  .md-flex-basis-6 {
    -ms-flex-preferred-size: 16.66%;
    flex-basis: 16.66%;
  }
  .md-flex-basis-7 {
    -ms-flex-preferred-size: 14.28%;
    flex-basis: 14.28%;
  }
  .md-flex-basis-8 {
    -ms-flex-preferred-size: 12.5%;
    flex-basis: 12.5%;
  }
  .md-flex-basis-9 {
    -ms-flex-preferred-size: 11.11%;
    flex-basis: 11.11%;
  }
  .md-flex-basis-10 {
    -ms-flex-preferred-size: 10%;
    flex-basis: 10%;
  }
  .md-flex-basis-11 {
    -ms-flex-preferred-size: 9.09%;
    flex-basis: 9.09%;
  }
  .md-flex-basis-12 {
    -ms-flex-preferred-size: 8.33%;
    flex-basis: 8.33%;
  }
}

/* Responsiveness - SM */
@media (max-width: 767px) {
  /* Text Alignment */
  .sm-text-left {
    text-align: left;
  }
  .sm-text-center {
    text-align: center;
  }
  .sm-text-right {
    text-align: right;
  }
}

/* Sticky Sidebar */
.inner-wrapper-sticky {
  transform: translate(0, 0);
  transform: translate3d(0, 0, 0);
}