{% import './_macros.css' %}

.list-inner {
  list-style: none;
  padding-left: 0;
  margin-bottom: 0;
}
.list-single {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: .75rem;
}
.list-single:last-child {
  margin-bottom: 0
}
.list-indicator {
  min-width: 2rem;
  position: relative;
}
.list-indicator--bullet {
  position: relative;
}
.list-indicator--bullet span {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: .625rem;
  width: .5rem;
  height: .5rem;
  border-radius: 100%;
}
.list-indicator--number  {
  font-weight: bold;
}
.list-indicator--icon {
  margin-top: .125rem;
}
.list-indicator--icon span {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.list-indicator--icon svg {
  width: 1rem;
  height: 1rem;
}
.list-indicator--image {
  margin-top: .125rem;
}