{% import './_macros.css' %}

.social-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: -.25rem;
}
.social-links-single {
  height: 2.25rem;
  width: 2.25rem;
  margin: .25rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  border-radius: {{ button_border_radius ~ 'px' }};
  background-color: {{ primary_color }};
}
.social-links-single:hover,
.social-links-single:focus {
  opacity: .75;
}
.social-links-single svg {
  height: 1rem;
  fill: #FFFFFF;
  {{ transition() }}
}