/* Error pages */
.error-page {
  padding: 10rem 0;
  position: relative;
  text-align: center;
  z-index: 2;
}
.error-page * {
  position: relative;
  z-index: 2;
}
.error-page:before {
  color: {{ light_color }};
  content: attr(data-error);
  font-size: 40vw;
  font-weight: bold;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  z-index: 1;
}

@media (min-width: 1100px) {
  .error-page:before {
    font-size: 20rem;
  }
}

/* System pages */
.systems-page {
  margin: 0 auto;
  max-width: 700px;
  padding: 3rem 1.4rem;
}
.systems-page--search-results {
  max-width: 100%;
  padding: 3rem 0;
}
.systems-page .header {
  background-color: transparent;
  border-bottom: none;
  padding: 0;
  margin-top: 1.2rem;
  font-weight: bold;
}
.systems-page .success {
  background-color: #CDE3CC;
  border: 1.5px solid #4F7D24;
  border-radius: 6px;
  color: #4F7D24;
  display: inline-block;
  margin: 1.4rem 0;
  padding: 0.1rem 0.7rem;
  width: 100%;
}
.systems-page .form-container {
  margin-bottom: 1.2rem;
}
.systems-page form input[type='submit'] {
  display: block;
}

/* Search pages */
.hs-search-results__title {
  color: #494A52;
  font-size: 1.25rem;
  margin-bottom: 0.35rem;
  text-decoration: underline;
}
.hs-search-results__title:hover {
  text-decoration: none;
}
.hs-search-results__description {
  padding-top: 0.7rem;
}
.hs-search-results__listing li {
  margin-bottom: .75rem !important;
  padding-bottom: .75rem !important;
  border-bottom: 1px solid {{ light_gray_color }};
}

/* Password prompt */
.password-prompt input[type=password] {
  height: auto !important;
  margin-bottom: 1.4rem;
}
.systems-page form .hs-form-field:nth-last-child(3) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.systems-page #hs-login-widget-remember ~ label {
  margin-bottom: 0;
}
.systems-page #hs_login_reset {
  display: block;
  margin-bottom: 0.625rem;
}

/* Backup unsubscribe */
.backup-unsubscribe #email-prefs-form div {
  padding-bottom: 0 !important;
}
.backup-unsubscribe input[type=email] {
  font-size: 0.875rem !important;
  margin-bottom: 1.4rem;
  padding: 0.7rem !important;
}

/* Subscription preferences */
#email-prefs-form .item.disabled {
  opacity: 0.6;
  cursor: not-allowed;
}
#email-prefs-form .item.disabled input:disabled {
  cursor: not-allowed;
}
.checkbox-row > span,
.subscribe-options > p:last-child > label{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

/* Membership pages */
#hs-membership-form a[class*='show-password'] {
  font-size: .75rem;
  display: block;
  margin: -.5rem 0 .5rem;
}

/* Input error messages */
.form-input-validation-message ul.hs-error-msgs {
  padding-left: 0;
  margin: 0;
}
.form-input-validation-message ul.hs-error-msgs li {
  margin: 0;
}