{% import './_macros.css' %}

html {
  font-size: {{ theme.typography.body_text.size ~ theme.typography.body_text.size_unit }};
}
body {
  line-height: 1.7;
  word-break: break-word;
  font-family: {{ body_font.font }}, sans-serif;
  font-weight: {{ body_font.styles|attr('font-weight') }};
  color: {{ body_color }};
}
html[lang^="ja"] body,
html[lang^="zh"] body,
html[lang^="ko"] body {
  line-break: strict;
  word-break: break-all;
}

@media (max-width: 767px) {
  html {
    font-size: {{ theme.typography.body_text.size * .875 ~ theme.typography.body_text.size_unit }};
  }
}

/* Paragraphs */
p {
  margin: 0 0 1.25rem;
}
p:last-child {
  margin-bottom: 0;
}

/* Anchors */
a {
  cursor: pointer;
  text-decoration: none;
  color: {{ link_color }};
  {{ transition() }}
}
a:hover,
a:focus {
  color: {{ link_hover_focus_color }};
}
{#a:active {
  color: {{ color_variant(link_color, +50) }};
}#}

/* Headings */
h1, h2, h3, h4, h5, h6 {
  margin: 0 0 .75rem;
  line-height: 1.25;
  word-break: break-word;
}
h1:last-child, h2:last-child, h3:last-child, h4:last-child, h5:last-child, h6:last-child {
  margin-bottom: 0;
}
h1, .h1 {
  font-size: {{ h1_font.size ~ h1_font.size_unit }};
  font-style: {{ h1_font.styles|attr('font-style') }};
  font-weight: {{ h1_font.styles|attr('font-weight') }};
  font-family: {{ h1_font.font }}, sans-serif;
  color: {{ h1_font.color }};
	{% if h1_font.styles|attr('text-decoration') %}
	  text-decoration: {{ h1_font.styles|attr('text-decoration') }};
	{% endif %}
  letter-spacing: {{ theme.typography.h1_letter_spacing ~ 'px'}};
}
h2, .h2 {
  font-size: {{ h2_font.size ~ h2_font.size_unit }};
  font-style: {{ h2_font.styles|attr('font-style') }};
  font-weight: {{ h2_font.styles|attr('font-weight') }};
  font-family: {{ h2_font.font }}, sans-serif;
  color: {{ h2_font.color }};
	{% if h2_font.styles|attr('text-decoration') %}
	  text-decoration: {{ h2_font.styles|attr('text-decoration') }};
	{% endif %}
  letter-spacing: {{ theme.typography.h2_letter_spacing ~ 'px'}};
}
h3, .h3 {
  font-size: {{ h3_font.size ~ h3_font.size_unit }};
  font-style: {{ h3_font.styles|attr('font-style') }};
  font-weight: {{ h3_font.styles|attr('font-weight') }};
  font-family: {{ h3_font.font }}, sans-serif;
  color: {{ h3_font.color }};
	{% if h3_font.styles|attr('text-decoration') %}
	  text-decoration: {{ h3_font.styles|attr('text-decoration') }};
	{% endif %}
  letter-spacing: {{ theme.typography.h3_letter_spacing ~ 'px'}};
}
h4, .h4 {
  font-size: {{ h4_font.size ~ h4_font.size_unit }};
  font-style: {{ h4_font.styles|attr('font-style') }};
  font-weight: {{ h4_font.styles|attr('font-weight') }};
  font-family: {{ h4_font.font }}, sans-serif;
  color: {{ h4_font.color }};
	{% if h4_font.styles|attr('text-decoration') %}
	  text-decoration: {{ h4_font.styles|attr('text-decoration') }};
	{% endif %}
  letter-spacing: {{ theme.typography.h4_letter_spacing ~ 'px'}};
}
h5, .h5 {
  font-size: {{ h5_font.size ~ h5_font.size_unit }};
  font-style: {{ h5_font.styles|attr('font-style') }};
  font-weight: {{ h5_font.styles|attr('font-weight') }};
  font-family: {{ h5_font.font }}, sans-serif;
  color: {{ h5_font.color }};
	{% if h5_font.styles|attr('text-decoration') %}
	  text-decoration: {{ h5_font.styles|attr('text-decoration') }};
	{% endif %}
  letter-spacing: {{ theme.typography.h5_letter_spacing ~ 'px'}};
}
h6, .h6 {
  font-size: {{ h6_font.size ~ h6_font.size_unit }};
  font-style: {{ h6_font.styles|attr('font-style') }};
  font-weight: {{ h6_font.styles|attr('font-weight') }};
  font-family: {{ h6_font.font }}, sans-serif;
  color: {{ h6_font.color }};
	{% if h6_font.styles|attr('text-decoration') %}
	  text-decoration: {{ h6_font.styles|attr('text-decoration') }};
	{% endif %}
  letter-spacing: {{ theme.typography.h6_letter_spacing ~ 'px'}};
}

@media (max-width: 1279px) {
  h1, .h1 {
    font-size: {{ h1_font.size * .9 ~ h1_font.size_unit }};
  }
  h2, .h2 {
    font-size: {{ h2_font.size * .9 ~ h2_font.size_unit }};
  }
  h3, .h3 {
    font-size: {{ h3_font.size * .9 ~ h3_font.size_unit }};
  }
  h4, .h4 {
    font-size: {{ h4_font.size * .9 ~ h4_font.size_unit }};
  }
  h5, .h5 {
    font-size: {{ h5_font.size * .9 ~ h5_font.size_unit }};
  }
  h6, .h6 {
    font-size: {{ h6_font.size * .9 ~ h6_font.size_unit }};
  }
}

@media (max-width: 991px) {
  h1, .h1 {
    font-size: {{ h1_font.size * .8 ~ h1_font.size_unit }};
  }
  h2, .h2 {
    font-size: {{ h2_font.size * .8 ~ h2_font.size_unit }};
  }
  h3, .h3 {
    font-size: {{ h3_font.size * .8 ~ h3_font.size_unit }};
  }
  h4, .h4 {
    font-size: {{ h4_font.size * .8 ~ h4_font.size_unit }};
  }
  h5, .h5 {
    font-size: {{ h5_font.size * .8 ~ h5_font.size_unit }};
  }
  h6, .h6 {
    font-size: {{ h6_font.size * .8 ~ h6_font.size_unit }};
  }
}

@media (max-width: 767px) {
  h1, .h1 {
    font-size: {{ h1_font.size * .7 ~ h1_font.size_unit }};
  }
  h2, .h2 {
    font-size: {{ h2_font.size * .7 ~ h2_font.size_unit }};
  }
  h3, .h3 {
    font-size: {{ h3_font.size * .75 ~ h3_font.size_unit }};
  }
  h4, .h4 {
    font-size: {{ h4_font.size * .75 ~ h4_font.size_unit }};
  }
}

@media (max-width: 479px) {
  h1, .h1 {
    font-size: {{ h1_font.size * .6 ~ h1_font.size_unit }};
  }
  h2, .h2 {
    font-size: {{ h2_font.size * .65 ~ h2_font.size_unit }};
  }
  h3, .h3 {
    font-size: {{ h3_font.size * .7 ~ h3_font.size_unit }};
  }
}

/* Heading underline */
.heading-accent--full-width,
.heading-accent--text-width,
.heading-accent--small-width {
  position: relative;
  padding-bottom: .5rem;
}
.heading-accent--text-width span,
.heading-accent--left-horizontal span,
.heading-accent--left-vertical span,
.heading-accent--split-vertical span,
.heading-accent--split-horizontal span {
  position: relative;
  display: inline-block;
}
.heading-accent--split-horizontal {
  padding: 0 2.625rem;
}
.heading-accent--split-vertical {
  padding: 2.375rem 0;
}
.heading-accent--full-width:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 3px;
  width: 100%;
  background-color: {{ primary_color }};
}
.heading-accent--text-width span:after {
  content: "";
  position: absolute;
  bottom: -.5rem;
  left: 0;
  height: 3px;
  width: 100%;
  background-color: {{ primary_color }};
}
.heading-accent--small-width:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 3px;
  width: 5rem;
  background-color: {{ primary_color }};
}
.text-center .heading-accent--small-width:after,
.justify-center .heading-accent--small-width:after {
  left: 50%;
  transform: translateX(-50%);
}
.text-right .heading-accent--small-width:after,
.justify-right .heading-accent--small-width:after {
  left: unset;
  right: 0;
}
.heading-accent--left-horizontal span:after {
  content: "";
  position: absolute;
  top: 50%;
  left: -1.625rem;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  height: 0.5rem;
  width: 1.5rem;
  background-color: {{ primary_color }};
}
.heading-accent--left-vertical span:after {
  content: "";
  position: absolute;
  top: 0;
  left: -.875rem;
  height: 100%;
  width: 0.5rem;
  background-color: {{ primary_color }};
}
.heading-accent--split-horizontal span:before,
.heading-accent--split-horizontal span:after {
  content: "";
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  height: 3px;
  width: 2.25rem;
  background-color: {{ primary_color }};
}
.heading-accent--split-horizontal span:before {
  left: -2.5rem;
}
.heading-accent--split-horizontal span:after {
  right: -2.5rem;
}
.heading-accent--split-vertical span:before,
.heading-accent--split-vertical span:after {
  content: "";
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  height: 2.25rem;
  width: 0.5rem;
  background-color: {{ primary_color }};
}
.heading-accent--split-vertical span:before {
  top: -2.375rem;
}
.heading-accent--split-vertical span:after {
  bottom: -2.375rem;
}

/* Subheading */
.subheading {
  text-transform: uppercase;
  letter-spacing: 1px;
  line-height: 1;
  font-size: .75rem;
}

/* Intro */
.intro-text {
  font-size: 1.25rem;
  line-height: 1.5;
  margin-bottom: 1.25rem;
}
.intro-text:last-child {
  margin-bottom: 0;
}

/* Lists */
ul,
ol {
  margin: 0 0 1.25rem;
  padding-left: 2rem;
}
ul ul,
ol ul,
ul ol,
ol ol {
  margin: 0;
}

/* Code blocks */
pre {
  overflow: auto;
}
code {
  vertical-align: bottom;
}

/* Mark */
mark {
  background-color: {{ primary_color }};
}

/* Selection */
::-moz-selection {
  background-color: {{ primary_color }};
  color: #fff;
}
::selection {
  background-color: {{ primary_color }};
  color: #fff;
}

/* Blockquotes */
blockquote {
  border-left: 2px solid {{ primary_color }};
  margin: 0 0 1.25rem;
  padding-left: 15px;
}

/* Horizontal rules */
hr {
  background-color: {{ light_gray_color }};
  border: none;
  color: {{ light_gray_color }};
  height: 1px;
}

/* Image alt text */
img {
  font-size: 14px;
  word-break: normal;
  max-width: 100%;
  height: auto;
}

/* Drop Shadow */
.text-shadow {
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
}