.counter-wrapper {
  position: relative;
  z-index: 1;
}
.counter {
  padding: 1rem;
}
.counter-icon svg {
  height: 80px;
}
.counter-number {
  font-size: 3.25rem;
  line-height: 1;
  font-weight: bold;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
}
.counter-number-inner {
  font-size: 4rem;
  margin: 0 .375rem;
}
.counter-text {
  font-size: 1.5rem;
  line-height: 1.3;
}