<div class="counter-wrapper{% if module.enable_sticky_column %} sticky{% endif %}">
<div id="{{ module.custom_id }}" class="counter text-{{ module.alignment }} counter_{{ name }} {{ module.custom_class }}"
  {% if module.enable_animation %}
    {% if module.animation_settings.animation_type == "default" %}
      data-aos="{{ theme.animations.animation_type }}"
    {% else %}
      data-aos="{{ module.animation_settings.animation_type }}"
    {% endif %}
    data-aos-delay="{{ module.animation_settings.animation_delay }}"
    {% if module.animation_settings.override_default_animation_duration %}
      data-aos-duration="{{ module.animation_settings.animation_duration }}"
    {% endif %}
    data-aos-id="counter_{{ name }}"
  {% endif %}
>
  {% if module.enable_icon and module.icon.unicode %}
    <div class="counter-icon color-{{ module.icon_color }}">
      {% icon name="{{ module.icon.name }}" style="{{ module.icon.type }}" unicode="{{ module.icon.unicode }}" icon_set="{{ module.icon.icon_set }}" %}
    </div>
  {% endif %}
  {% if module.top_text %}
    <span class="counter-text color-{{ module.text_color }}">{{ module.top_text }}</span>
  {% endif %}
  <div class="counter-number color-{{ module.number_color }} justify-{{ module.alignment }}">
    {% if module.prefix %}
      <span>{{ module.prefix }}</span>
    {% endif %}
    <span class="counter-number-inner" data-count="{{ module.number }}">0</span>
    {% if module.suffix %}
      <span>{{ module.suffix }}</span>
    {% endif %}
  </div>
  {% if module.bottom_text %}
    <span class="counter-text color-{{ module.text_color }}">{{ module.bottom_text }}</span>
  {% endif %}
</div>
</div>

{% require_css %}
  <style>
    {% scope_css %}
      {# Module custom styles #}
      .counter-wrapper {
        {% if module.style.spacing.spacing %}
          {{ module.style.spacing.spacing.css }}
        {% endif %}
        {% if module.style.background.background_type == 'none' %}
          background: none;
        {% elif module.style.background.background_type == 'color' %}
          background: rgba({{ module.style.background.background_color.color|convert_rgb }}, {{ module.style.background.background_color.opacity / 100 }});
        {% elif module.style.background.background_type == 'gradient' %}
          background: {{ module.style.background.background_gradient.css }};
        {% elif module.style.background.background_type == 'image' %}
          {{ module.style.background.background_image.css }};
        {% endif %}
      }
      {% if module.style.custom_styling.icon_color.color %}
        .counter-icon svg {
          fill: rgba({{ module.style.custom_styling.icon_color.color|convert_rgb }}, {{ module.style.custom_styling.icon_color.opacity / 100 }});
        }
      {% endif %}
      {% if module.style.custom_styling.text_color.color %}
        .counter-text {
          color: rgba({{ module.style.custom_styling.text_color.color|convert_rgb }}, {{ module.style.custom_styling.text_color.opacity / 100 }});
        }
      {% endif %}
      {% if module.style.custom_styling.number_color.color %}
        .counter-number {
          color: rgba({{ module.style.custom_styling.number_color.color|convert_rgb }}, {{ module.style.custom_styling.number_color.opacity / 100 }});
        }
      {% endif %}
    {% end_scope_css %}
  </style>
{% end_require_css %}

{% require_js %}
  <script>
    {#document.addEventListener('aos:in:counter_{{ name }}', ({ detail }) => {
      console.log('animated in', detail);
      numberCounter(".counter_{{ name }}");
    });#}
    
    var counterLoadedOnce_{{ name|regex_replace('-', '_') }} = false;
    var counter_{{ name|regex_replace('-', '_') }} = $('.counter_{{ name }}');

    function initializeCounter_{{ name }}() {
      if ( isScrolledIntoView(counter_{{ name|regex_replace('-', '_') }}) && !counterLoadedOnce_{{ name|regex_replace('-', '_') }} ) {
        numberCounter(counter_{{ name|regex_replace('-', '_') }});
        counterLoadedOnce_{{ name|regex_replace('-', '_') }} = true;
      }
    }
    
    $(function() {
      initializeCounter_{{ name }}()
      
      $(window).on('scroll', function() {
        initializeCounter_{{ name }}()
      });
    });
  </script>
{% end_require_js %}