<div class="cards-wrapper{% if module.enable_sticky_column %} sticky{% endif %}">
<div id="{{ module.custom_id }}" class="cards testimonials {{ module.custom_class }}{% if module.layout == "slider" %} slider-enabled{% endif %}"
  {% if module.layout == 'slider' %}
		data-slider-items="{{ module.items_in_row }}" 
		data-slider-arrows="{% if module.slider_options.arrows %}true{% else %}false{% endif %}"
		data-slider-dots="{% if module.slider_options.dots %}true{% else %}false{% endif %}"
    data-slider-autoplay="{% if module.slider_options.autoplay %}true{% else %}false{% endif %}"
    data-slider-autoplay_speed="{% if module.slider_options.autoplay %}{{ module.slider_options.autoplay_speed }}{% endif %}"

    {% if module.enable_animation %}
      {% if module.animation_settings.animation_type == "default" %}
        data-aos="{{ theme.animations.animation_type }}"
      {% else %}
        data-aos="{{ module.animation_settings.animation_type }}"
      {% endif %}
      data-aos-delay="{{ module.animation_settings.animation_delay }}"
      {% if module.animation_settings.override_default_animation_duration %}
        data-aos-duration="{{ module.animation_settings.animation_duration }}"
      {% endif %}
    {% endif %}
  {% endif %}
>
  {% for item in module.testimonials %}
    <div class="cards-single flex-basis-{{ module.items_in_row }}"
      {% unless module.layout == "slider" %}
        {% if module.enable_animation %}
          {% if module.animation_settings.animation_type == "default" %}
            data-aos="{{ theme.animations.animation_type }}"
          {% else %}
            data-aos="{{ module.animation_settings.animation_type }}"
          {% endif %}
          data-aos-delay="{{ ( ( loop.index0 % module.items_in_row ) * module.animation_settings.animation_delay ) + module.animation_settings.animation_delay }}"
          {% if module.animation_settings.override_default_animation_duration %}
            data-aos-duration="{{ module.animation_settings.animation_duration }}"
          {% endif %}
        {% endif %}
      {% endunless %}   
    >
      <div class="cards-single-inner bg-{{ module.background_color }}">
        <div class="card-body text-{{ module.alignment }} color-{{ module.text_color }}">
          {% if item.author_image.src and module.image_position is string_containing "top" %}
            <div class="testimonial-image testimonial-image--{{ module.image_position }}{% if module.enable_round_image %} testimonial-image--round{% endif %}" style="background-image:url('{{ resize_image_url(item.author_image.src, 120) }}');"></div>
          {% endif %}
          <p class="testimonial-quote">"{{ item.quote }}"</p>
          {% if item.author %}
            <p class="testimonial-name">{{ item.author }}</p>
          {% endif %}
          {% if item.title %}
            <p class="testimonial-title">{{ item.title }}</p>
          {% endif %}
          {% if item.author_image.src and module.image_position is string_containing "bottom" %}
            <div class="testimonial-image testimonial-image--{{ module.image_position }}{% if module.enable_round_image %} testimonial-image--round{% endif %}" style="background-image:url('{{ resize_image_url(item.author_image.src, 120) }}');"></div>
          {% endif %}
        </div>
      </div>
    </div>
  {% endfor %}
</div>
</div>

{% require_css %}
  <style>
    {% scope_css %}
      {% unless module.layout == "slider" %}
        @media (max-width: 767px) {
          .cards-single {
            transition-delay: {{ module.animation_settings.animation_delay ~ "ms" }} !important;
          }
        }
        @media (min-width: 768px) and (max-width: 991px) {
          .cards-single:nth-child(odd) {
            transition-delay: {{ module.animation_settings.animation_delay ~ "ms" }} !important;
          }
          .cards-single:nth-child(even) {
            transition-delay: {{ module.animation_settings.animation_delay + 300 ~ "ms" }} !important;
          }
        }
      {% endunless %}

      {# Module custom styles #}
      .cards-wrapper {
        {% if module.style.spacing.spacing %}
          {{ module.style.spacing.spacing.css }}
        {% endif %}
        {% if module.style.background.background_type == 'none' %}
          background: none;
        {% elif module.style.background.background_type == 'color' %}
          background: rgba({{ module.style.background.background_color.color|convert_rgb }}, {{ module.style.background.background_color.opacity / 100 }});
        {% elif module.style.background.background_type == 'gradient' %}
          background: {{ module.style.background.background_gradient.css }};
        {% elif module.style.background.background_type == 'image' %}
          {{ module.style.background.background_image.css }};
        {% endif %}
      }
      .cards {
        {% if module.style.item_spacing.item_spacing_horizontal != none %}
          margin-left: -{{ module.style.item_spacing.item_spacing_horizontal / 2 ~ 'px' }};
          margin-right: -{{ module.style.item_spacing.item_spacing_horizontal / 2 ~ 'px' }};
        {% endif %}
        {% if module.style.item_spacing.item_spacing_vertical != none %}
          margin-top: -{{ module.style.item_spacing.item_spacing_vertical / 2 ~ 'px' }};
        {% endif %}
      }
      .cards:not(.slider-enabled) {
        {% if module.style.item_spacing.item_spacing_vertical != none %}
          margin-bottom: -{{ module.style.item_spacing.item_spacing_vertical / 2 ~ 'px' }};
        {% endif %}
      }
      .cards-single {
        {% if module.style.item_spacing.item_spacing_horizontal != none %}
          padding-left: {{ module.style.item_spacing.item_spacing_horizontal / 2 ~ 'px' }};
          padding-right: {{ module.style.item_spacing.item_spacing_horizontal / 2 ~ 'px' }};
        {% endif %}
        {% if module.style.item_spacing.item_spacing_vertical != none %}
          padding-top: {{ module.style.item_spacing.item_spacing_vertical / 2 ~ 'px' }};
          padding-bottom: {{ module.style.item_spacing.item_spacing_vertical / 2 ~ 'px' }};
        {% endif %}
      }
      .cards-single-inner {
        {% if module.style.custom_styling.border_radius != none %}
          border-radius: {{ module.style.custom_styling.border_radius ~ 'px' }};
        {% endif %}
      }
    {% end_scope_css %}
  </style>
{% end_require_css %}