<div class="timeline-wrapper{% if module.enable_sticky_column %} sticky{% endif %}">
<div id="{{ module.custom_id }}" class="timeline timeline--{{ module.layout|replace('_', '-') }} {{ module.custom_class }}">
  <ul class="timeline-inner {{ module.custom_class }} pe-{{ module.line_color }}">
    {% for item in module.timeline_blocks %}
      <li class="timeline-single pe-{{ module.bullet_color }}">
        {% unless module.layout == 'text_left' or module.layout == 'text_right' %}
          <div class="timeline-image"
            {% if module.enable_animation %}
              {% if module.animation_settings.animation_type == "default" %}
                data-aos="{{ theme.animations.animation_type }}"
              {% else %}
                data-aos="{{ module.animation_settings.animation_type }}"
              {% endif %}
              data-aos-delay="{{ module.animation_settings.animation_delay * 2 }}"
              {% if module.animation_settings.override_default_animation_duration %}
                data-aos-duration="{{ module.animation_settings.animation_duration }}"
              {% endif %}
            {% endif %}
          >
            {% if item.image.src %}
              {% set sizeAttrs = 'width="{{ item.image.width }}" height="{{ item.image.height }}"' %}
              {% set renderSize = item.image.width %}
              {% if item.image.size_type == 'auto_custom_max' %}
                {% set sizeAttrs = 'width="{{ item.image.max_width }}" height="{{ item.image.max_height }}"' %}
                {% set renderSize = item.image.max_width %}
              {% endif %}
              {% set loadingAttr = item.image.loading != 'disabled' ? 'loading="{{ item.image.loading }}"' : '' %}
              <img src="{{ resize_image_url(item.image.src, renderSize) }}" alt="{{ item.image.alt }}" {{ loadingAttr }} {{ sizeAttrs }} class="{% if theme.other.general_border_radius %}rounded{% endif %}">
            {% endif %}
          </div>
        {% endunless %}
        {% unless module.layout == 'image_left' or module.layout == 'image_right' %}
          <div class="timeline-text text-{{ item.text.alignment }}{% if item.text.text_color != "default"  %} color-{{ item.text.text_color }}{% endif %}"
            {% if module.enable_animation %}
              {% if module.animation_settings.animation_type == "default" %}
                data-aos="{{ theme.animations.animation_type }}"
              {% else %}
                data-aos="{{ module.animation_settings.animation_type }}"
              {% endif %}
              data-aos-delay="{{ module.animation_settings.animation_delay }}"
              {% if module.animation_settings.override_default_animation_duration %}
                data-aos-duration="{{ module.animation_settings.animation_duration }}"
              {% endif %}
            {% endif %}   
          >
            {% if item.text.subheading %}
              <label class="subheading">{{ item.text.subheading }}</label>
            {% endif %}
            {% if item.text.heading %}
              <{{ item.text.heading_tag }}
                class="{% if item.text.heading_size != item.text.heading_tag %}{{ item.text.heading_size }}{% endif %}{% if item.text.text_color != "default" %} color-{{ item.text.text_color }}{% endif %}{% if item.text.heading_accent != "none" %} heading-accent--{{ item.text.heading_accent }} pe-{{ item.text.heading_accent_color }}{% endif %}">
                <span>{{ item.text.heading }}</span>
              </{{ item.text.heading_tag }}>{% endif %}
            {% if item.text.main_text %}
              <div>{{ item.text.main_text }}</div>
            {% endif %}
          </div>
        {% endunless %}
      </li>        
    {% endfor %}
  </ul>
</div>
</div>

{% require_css %}
  <style>
    {% scope_css %}
      {# Module custom styles #}
      .timeline-wrapper {
        {% if module.style.spacing.spacing %}
          {{ module.style.spacing.spacing.css }}
        {% endif %}
        {% if module.style.background.background_type == 'none' %}
          background: none;
        {% elif module.style.background.background_type == 'color' %}
          background: rgba({{ module.style.background.background_color.color|convert_rgb }}, {{ module.style.background.background_color.opacity / 100 }});
        {% elif module.style.background.background_type == 'gradient' %}
          background: {{ module.style.background.background_gradient.css }};
        {% elif module.style.background.background_type == 'image' %}
          {{ module.style.background.background_image.css }};
        {% endif %}
      }
      {% if module.style.item_spacing.item_spacing != none %}
        .timeline-single:not(:last-child) {
          margin-bottom: {{ module.style.item_spacing.item_spacing ~ 'px'}};
        }
      {% endif %}
      {% if module.style.custom_styling.image_border_radius != none %}
        .timeline-image img {
          border-radius: {{ module.style.custom_styling.image_border_radius ~ 'px' }};
        }
      {% endif %}
      {% if module.style.custom_styling.line_color.color %}
        .timeline-inner:before {
          background-color: rgba({{ module.style.custom_styling.line_color.color|convert_rgb }}, {{ module.style.custom_styling.line_color.opacity / 100 }});
        }
      {% endif%}
      {% if module.style.custom_styling.bullet_color.color %}
        .timeline-single:before {
          background-color: rgba({{ module.style.custom_styling.bullet_color.color|convert_rgb }}, {{ module.style.custom_styling.bullet_color.opacity / 100 }});
        }
      {% endif%}
    {% end_scope_css %}
  </style>
{% end_require_css %}