.timeline-inner {
  padding-left: 0;
  position: relative;
}
.timeline-inner:before {
  content: "";
  position: absolute;
  left: calc(50% - 1px);
  top: .5rem;
  width: 3px;
  height: calc(100% + .75rem);
  z-index: 1;
}
.timeline-single {
  display: flex;
  position: relative;
  margin-bottom: 1.25rem;
}
.timeline-single:before {
  content: "";
  position: absolute;
  top: .5rem;
  left: 50%;
  width: .75rem;
  height: .75rem;
  border-radius: 50%;
  z-index: 3;
  transform: translateX(-50%);
}
.timeline-image {
  flex: 0 0 50%;
  padding-right: 2rem;
}
.timeline-image img {
  display: block;
}
.timeline-text {
  flex: 0 0 50%;
  padding-left: 2rem;
}

.timeline--image-text-switching .timeline-single:nth-child(even) .timeline-text,
.timeline--text-image-switching .timeline-single:nth-child(odd) .timeline-text {
  order: 2;
  padding-left: 0;
  padding-right: 2rem;
}
.timeline--image-text-switching .timeline-single:nth-child(even) .timeline-image,
.timeline--text-image-switching .timeline-single:nth-child(odd) .timeline-image {
  order: 3;
  padding-right: 0;
  padding-left: 2rem;
}
.timeline--image-text-switching .timeline-single:nth-child(odd) .timeline-image img,
.timeline--text-image-switching .timeline-single:nth-child(even) .timeline-image img {
  margin-left: auto;
}

.timeline--image-text-repeating .timeline-image,
.timeline--text-image-repeating .timeline-text {
  order: 2;
  padding-left: 0;
  padding-right: 2rem;
}
.timeline--image-text-repeating .timeline-text,
.timeline--text-image-repeating .timeline-image {
  order: 3;
  padding-right: 0;
  padding-left: 2rem;
}
.timeline--image-text-repeating .timeline-image img {
  margin-left: auto;
}

.timeline--image-left .timeline-text,
.timeline--image-left .timeline-image,
.timeline--image-right .timeline-text,
.timeline--image-right .timeline-image,
.timeline--text-left .timeline-text,
.timeline--text-left .timeline-image,
.timeline--text-right .timeline-text,
.timeline--text-right .timeline-image {
  flex: 0 0 100%;
}
.timeline--image-right .timeline-inner:before,
.timeline--text-right .timeline-inner:before {
  left: 0;
}
.timeline--image-left .timeline-inner:before,
.timeline--text-left .timeline-inner:before {
  left: unset;
  right: 0;
}
.timeline--image-left .timeline-single,
.timeline--image-right .timeline-single,
.timeline--text-left .timeline-single,
.timeline--text-right .timeline-single {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
.timeline--image-right .timeline-single:before,
.timeline--text-right .timeline-single:before {
  left: 1.5px;
}
.timeline--image-left .timeline-single:before,
.timeline--text-left .timeline-single:before {
  right: 1.5px;
  left: unset;
  transform: translateX(50%);
}
.timeline--image-right,
.timeline--text-right {
  padding-left: .5rem;
}
.timeline--image-left,
.timeline--text-left {
  padding-right: .5rem;
}
.timeline--text-left .timeline-text {
  padding-left: 0;
  padding-right: 2rem;
}
.timeline--image-right .timeline-image {
  padding-left: 2rem;
  padding-right: 0;
}
.timeline--image-left .timeline-image img {
  margin-left: auto;
}

@media(max-width: 767px){
  .timeline:not(.timeline--image-left):not(.timeline--text-left) {
    padding-left: .5rem;
  }
  .timeline-inner:before {
    left: 0;
  }
  .timeline-single {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .timeline:not(.timeline--image-left):not(.timeline--text-left) .timeline-single:before {
    left: 1.5px;
  }
  .timeline .timeline-text {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    -webkit-box-ordinal-group: 4 !important;
    -ms-flex-order: 3 !important;
    order: 3 !important;
    padding: 0 0 0 1.5rem !important;
  }
  .timeline .timeline-image {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    -webkit-box-ordinal-group: 3 !important;
    -ms-flex-order: 2 !important;
    order: 2 !important;
    padding: 0 0 0 1.5rem !important;
  }
  .timeline--text-left .timeline-text {
    padding-left: 0;
    padding-right: 1.5rem;
  }
  .timeline--image-right .timeline-image {
    padding-left: 1.5rem;
    padding-right: 0;
  }
  .timeline--image-text-switching .timeline-text,
  .timeline--text-image-switching .timeline-text,
  .timeline--image-text-repeating .timeline-text,
  .timeline--text-image-repeating .timeline-text {
    padding-top: .75rem !important;
  }
}
