.menu {
  position: relative;
}
.menu-title {
  padding: 1.5rem;
  position: relative;
}
.menu-title > * {
  margin: 0;
}
.menu-inner {
  padding: 1.5rem;
}
.menu-title:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 1.5rem;
  height: 3px;
  width: calc(100% - 3rem);
}
.menu .hs-menu-wrapper ul li {
	display: inline-block;
	width: 100%;
}
.menu .hs-menu-wrapper ul li a {
	display: inline-block;
	width: auto;
  color: inherit !important;
  position: relative;
}
.menu .hs-menu-wrapper ul li a:after {
  content: "";
  width: 0;
  height: 3px;
  position: absolute;
  bottom: 0;
  left: 0%;
}
.menu .hs-menu-wrapper ul li a:hover:after {
  width: 100%;
  right: 0;
}
.menu:not(.text-center) .hs-menu-wrapper > ul > li ul.hs-menu-children-wrapper {
	padding-left: .25rem;
}
.menu .hs-menu-wrapper .hs-menu-children-wrapper a {
  display: inline-block;
  white-space: normal;
}
.menu.text-center .hs-menu-depth-2 > a {
  font-size: .95rem;
}
.menu.text-center .hs-menu-depth-3 > a {
  font-size: .9rem;
}
.menu.text-center .hs-menu-depth-4 > a {
  font-size: .85rem;
}