<div class="menu-wrapper{% if module.enable_sticky_column %} sticky{% endif %}">
<div id="{{ module.custom_id }}" class="menu text-{{ module.alignment }} bg-{{ module.background_color }} {{ module.custom_class }}"
  {% if module.enable_animation %}
    {% if module.animation_settings.animation_type == "default" %}
      data-aos="{{ theme.animations.animation_type }}"
    {% else %}
      data-aos="{{ module.animation_settings.animation_type }}"
    {% endif %}
      data-aos-delay="{{ module.animation_settings.animation_delay }}"
    {% if module.animation_settings.override_default_animation_duration %}
      data-aos-duration="{{ module.animation_settings.animation_duration }}"
    {% endif %}
  {% endif %}
>
  {% if module.heading %}
    <div class="menu-title pe-{{ module.accent_line_color }}">
      <{{ module.heading_tag }}
        class="{% if module.heading_size != module.heading_tag %}{{ module.heading_size }}{% endif %}{% if module.heading_color != "default"  %} color-{{ module.heading_color }}{% endif %}"
      >
        {{ module.heading }}
      </{{ module.heading_tag }}>
    </div>
  {% endif %}
  <div class="menu-inner pe-{{ module.accent_line_color }}{% if module.link_color != "default"  %} color-{{ module.link_color }}{% endif %}">
    {% set menu_levels = module.number_of_levels %}
    {% if module.menu_type == 'simple'%}
      {% simple_menu menu_tree="{{ module.simple_menu }}", max_levels=max_levels %}
    {% else %}
      {% menu id="{{ module.standard_menu }}", max_levels=max_levels %}
    {% endif %}
  </div>
</div>
</div>

{% require_css %}
  <style>
    {% scope_css %}
    {# Module custom styles #}
      .menu-wrapper {
        {% if module.style.spacing.spacing %}
          {{ module.style.spacing.spacing.css }}
        {% endif %}
        {% if module.style.background.background_type == 'none' %}
          background: none;
        {% elif module.style.background.background_type == 'color' %}
          background: rgba({{ module.style.background.background_color.color|convert_rgb }}, {{ module.style.background.background_color.opacity / 100 }});
        {% elif module.style.background.background_type == 'gradient' %}
          background: {{ module.style.background.background_gradient.css }};
        {% elif module.style.background.background_type == 'image' %}
          {{ module.style.background.background_image.css }};
        {% endif %}
      }
    {% end_scope_css %}
  </style>
{% end_require_css %}