<div class="footer-inner footer-background--{{ module.footer_background }} color-{{ module.footer_text_color_choice }} bg-{{ module.footer_background_color_choice }}"{% if module.footer_background == 'image' %} style="background-image: url({{ module.footer_background_image.src }});"{% endif %}>
  
  {% if footer_type != 'landing' %}
    <div class="footer-top">
			<div class="footer-top-container">
				<div class="row-fluid">
          {% for item in module.footer_columns %}
            <div class="span{{ item.column_width }}{% if item.enable_column_accent_line %} footer-column-accent-line border-{{ item.column_accent_line_color }}{% endif %}{% if item.enable_column_accent_background %} footer-column-accent-background bg-{{ item.column_accent_background_color }} color-{{ item.column_text_color }}{% endif %}">
              {% for item2 in item.column_content %}
                <div class="footer-column-item">
                  {% if item2.title %}
                    <h4 class="footer-column-item-title">{{ item2.title }}</h4>
                  {% endif %}
                  {% if item2.content_type == 'content' %}
                    {{ item2.content }}
                  {% elif item2.content_type == 'form' %}
                    <div class="footer-form form-{{ item2.form_color }}">
                      {% form
                        form_to_use='{{ item2.form.form_id }}'
                        response_response_type='{{ item2.form.response_type }}'
                        response_message='{{ item2.form.message }}'
                        response_redirect_id='{{ item2.form.redirect_id }}'
                        response_redirect_url='{{item2.form.redirect_url}}'
                        gotowebinar_webinar_key='{{ item2.form.gotowebinar_webinar_key }}'
                      %}
                    </div>
                  {% elif item2.content_type == 'menu' %}
                    <div class="footer-column-item-menu">
                      {% menu id='{{ item2.menu }}', no_wrapper=True  %}
                    </div>
                  {% elif item2.content_type == 'blog_posts' %}
                    {% set blog_posts = blog_recent_posts(item2.blog, item2.number_of_posts) %}
                    <div class="footer-column-item-menu">
                      {% for blog_post in blog_posts %}
                        <li>
                          <a href="{{ blog_post.absolute_url }}">{{ blog_post.name }}</a>
                        </li>
                      {% endfor %}
                    </div>
                  {% elif item2.content_type == 'social_links' %}
                    <div class="social-links">
                      {% for item3 in item2.social_links %}
                        {% set href = item3.social_link.url.href %}
                        {% if item3.social_link.url.type is equalto "EMAIL_ADDRESS" %}
                          {% set href = "mailto:" + href %}
                        {% endif %}
                        {% set rel = (item3.social_link.open_in_new_tab ? 'noopener ' : null) ~ (item3.social_link.no_follow ? 'nofollow' : null) %}
                        {% if item3.social_account != 'custom_icon' %}
                          {% set social_icon = item3.social_account %}
                        {% else %}
                          {% set social_icon = item3.custom_icon.name %}
                        {% endif %}
                        <a class="social-links-single bg-{{ item3.background_color }} color-{{ item3.icon_color }}" href="{{ href }}"
                          {% if item3.social_link.open_in_new_tab %}target="_blank"{% endif %}
                          {% if rel %}rel="{{ rel }}"{% endif %}
                        >
                          {% icon
                            name='{{ social_icon }}',
                            purpose='semantic',
                            style='SOLID',
                            title='{{ social_icon }}',
                            unique_in_loop=True,
                            no_wrapper=True
                          %} 
                        </a>
                      {% endfor %}
                    </div>
                  {% endif %}
                </div>
              {% endfor %}
            </div>
          {% endfor %}
			  </div>
      </div>
    </div>
  {% endif %}
		
  <div class="footer-bottom bg-{{ module.footer_bottom_background_color_choice }} color-{{ module.footer_bottom_text_color_choice }}">
    <div class="footer-bottom-container">
      <div class="footer-bottom-copyright">
        {{ module.footer_copyright }}
      </div>
      {% if module.footer_bottom_menu and footer_type != 'landing' %}
        <div class="footer-bottom-menu border-{{ module.footer_bottom_text_color_choice }}">
          {% menu id='{{ module.footer_bottom_menu }}', no_wrapper=True %}
        </div>
      {% endif %}
    </div>
  </div>

  {% if theme.other.enable_scroll_to_top_button %}
    <a href="#" class="footer-scroll-to-top">{% icon name='chevron-up' style='SOLID' unicode='f077', no_wrapper=True %}</a>
  {% endif %}
	
  {{ theme.other.disable_animation }}
</div>
