.progress-bar {
  position: relative;
}
.progress-bar--line .progress-bar-inner {
  padding-top: 1.75rem;
  line-height: 1;
}
.progress-bar--circle .progress-bar-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.progress-bar--semicircle .progress-bar-inner {
  padding-bottom: 1.75rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.progress-bar-text {
  position: absolute;
  top: 0;
  left: 0;
  line-height: 1.5;
}
.progress-bar--circle .progress-bar-text {
  top: calc(50% + 0.625rem);
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 110px;
}
.progress-bar--semicircle .progress-bar-text {
  top: unset;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
.progressbar-text {
  line-height: 1.5;
}
.progress-bar--semicircle.progress-bar-no-text .progress-bar-inner {
  padding-bottom: 0;
}
.progress-bar--semicircle.progress-bar-no-text .progressbar-text {
  padding-bottom: 0 !important;
}
.progress-bar--circle.progress-bar-no-text .progressbar-text {
  top: 50% !important;
}