<div class="progress-bar-wrapper{% if module.enable_sticky_column %} sticky{% endif %}">
<div id="{{ module.custom_id }}" class="progress-bar progress-bar--{{ module.shape }}{% unless module.text %} progress-bar-no-text{% endunless %} {{ module.custom_class }}"
  {% if module.enable_animation %}
    {% if module.animation_settings.animation_type == "default" %}
      data-aos="{{ theme.animations.animation_type }}"
    {% else %}
      data-aos="{{ module.animation_settings.animation_type }}"
    {% endif %}
    data-aos-delay="{{ module.animation_settings.animation_delay }}"
    {% if module.animation_settings.override_default_animation_duration %}
      data-aos-duration="{{ module.animation_settings.animation_duration }}"
    {% endif %}
    data-aos-id="progress_{{ name }}"
  {% endif %}
>
  <div id="progress_{{ name }}" class="progress-bar-inner">
  </div>
  {% if module.text %}
    <div class="progress-bar-text color-{{ module.text_color }}">
      {{ module.text }}
    </div>
  {% endif %}
</div>
</div>


{{ require_js('https://cdnjs.cloudflare.com/ajax/libs/progressbar.js/1.1.0/progressbar.min.js') }}

{% require_js %}
  <script>
    {% if module.style.custom_styling.number_color.color %}
      var barNumberColor_{{ name }} = '{{ module.style.custom_styling.number_color.color }}';
    {% else %}
      var barNumberColor_{{ name }} = getComputedStyle(document.body).getPropertyValue('--color-{{ module.number_color }}');
    {% endif %}
    {% if module.style.custom_styling.starting_bar_color.color %}
      var barColorStart_{{ name }} = '{{ module.style.custom_styling.starting_bar_color.color }}';
    {% else %}
      var barColorStart_{{ name }} = getComputedStyle(document.body).getPropertyValue('--color-{{ module.starting_bar_color }}');
    {% endif %}
    {% if module.style.custom_styling.final_bar_color.color %}
      var barColorEnd_{{ name }} = '{{ module.style.custom_styling.final_bar_color.color }}';
    {% else %}
      var barColorEnd_{{ name }} = getComputedStyle(document.body).getPropertyValue('--color-{{ module.final_bar_color }}');
    {% endif %}
    {% if module.style.custom_styling.background_bar_color.color %}
      var barColorBackground_{{ name }} = '{{ module.style.custom_styling.background_bar_color.color }}';
    {% else %}
      var barColorBackground_{{ name }} = getComputedStyle(document.body).getPropertyValue('--color-{{ module.background_bar_color }}');
    {% endif %}
    var barNumber_{{ name }} = {{ module.number / 100 }};
    
    {#document.addEventListener('aos:in:progress_{{ name }}', ({ detail }) => {
      console.log('animated in', detail);
      progressBar{{ module.shape }}(".progress_{{ name }}");
    });#}
    
    var progressBarLoadedOnce_{{ name|regex_replace('-', '_') }} = false;
    var progress_{{ name }} = $('#progress_{{ name }}');
    
    function initializeProgressBar_{{ name }}() {
      if ( isScrolledIntoView(progress_{{ name }}) && !progressBarLoadedOnce_{{ name|regex_replace('-', '_') }} ) {  
        progressBar{{ module.shape|capitalize }}(progress_{{ name }}, barNumberColor_{{ name }}, barColorStart_{{ name }}, barColorEnd_{{ name }}, barColorBackground_{{ name }}, barNumber_{{ name }});
        progressBarLoadedOnce_{{ name|regex_replace('-', '_') }} = true;
      }
    }
    
    $(function() {
      initializeProgressBar_{{ name }}()
      
      $(window).on('scroll', function() {
        initializeProgressBar_{{ name }}()
      });
    });
  </script>
{% end_require_js %}


{% require_css %}
  <style>
    {% scope_css %}
      {# Module custom styles #}
      .progress-bar-wrapper {
        {% if module.style.spacing.spacing %}
          {{ module.style.spacing.spacing.css }}
        {% endif %}
        {% if module.style.background.background_type == 'none' %}
          background: none;
        {% elif module.style.background.background_type == 'color' %}
          background: rgba({{ module.style.background.background_color.color|convert_rgb }}, {{ module.style.background.background_color.opacity / 100 }});
        {% elif module.style.background.background_type == 'gradient' %}
          background: {{ module.style.background.background_gradient.css }};
        {% elif module.style.background.background_type == 'image' %}
          {{ module.style.background.background_image.css }};
        {% endif %}
      }
      {% if module.enable_sign %}
        .progressbar-text:after {
          content: "%";
        }
      {% endif %}
      {% if module.style.custom_styling.text_color.color %}
        .progress-bar-text {
          color: {{ module.style.custom_styling.text_color.color }};
        }
      {% endif %}
    {% end_scope_css %}
  </style>
{% end_require_css %}