/* Section Options Module */
.section-options-wrapper {
  display: none; /* hide the editor button on the live page */
}
.hs-inline-edit .section-options-wrapper {
  display: block; /* show the editor button in the editor only */
}

/* Editor Button */
.section-options-editor-button {
  background-color: #00a4bd;
  background: repeating-linear-gradient(45deg, #2be3ff, #2be3ff 10px, #aaf4ff 10px, #aaf4ff 20px);
	width: 100%;
	height: 30px;
	text-align: center;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
  z-index: 5;
}
.section-options-editor-button span {
  color: #000;
  font-size: 14px;
  font-weight: bold;
}

/* Overlay and Linear Gradient */
.section-overlay-wrapper {
	position: relative;
	z-index: 2;
}
.section-overlay-wrapper > .row-fluid {
	position: relative;
	z-index: 3;
}
.section-overlay,
.section-overlay-linear-gradient {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
}

/* Background Video */
.section-background-video {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: none;
  overflow: hidden;
  z-index: 0;
  width: 100%;
}
.section-background-video video {
  width: auto;
  height: auto;
  min-width: 100%;
  min-height: 100%;
  max-width: initial;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
}
.section-background-iframe-wrapper iframe {
  height: 56.25vw;
  width: 177.78vh;
  min-height: 100%;
  min-width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

@media (min-width: 768px) {
  .section-background-video {
    display: block;
  }
}

/* Background Particles*/
.section-background-particles {
  position: relative;
}
.section-background-particles .particles-js-canvas-el {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.section-background-particles > .row-fluid {
  position: relative;
  z-index: 3;
}

/* Hide */
.section-hide {
  display: none;
}
.hs-inline-edit .section-hide {
  display: block;
}

/* Reverse Element Order on Mobile */
@media (max-width: 767px) {
  .section-reverse-order > .row-fluid {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
  }
  .section-reverse-order .row-fluid [class*="span"]:first-child {
    margin-top: 1.25rem;
  }
  .section-reverse-order .row-fluid [class*="span"]:last-child {
    margin-top: 0;
  }
}