{# Editor Button #}
<div id="sectionOptions_{{ name }}" class="section-options {% if request.postDict.inpageEditorUI %} section-options-editor-button{% endif %}">
  {% if request.postDict.inpageEditorUI %}
    <span>Section Options</span>
  {% endif %}
</div>

{# Overlay and Linear Gradient #}
{% if module.enable_overlay or module.enable_bottom_linear_gradient or module.enable_top_linear_gradient %}
	<div class="section-overlay section-overlay-{{ name }}"
    {% if module.enable_overlay %}
      {% if module.style.custom_styling.overlay_color.color %}
        style="background-color: rgba({{ module.style.custom_styling.overlay_color.color|convert_rgb }}, {{ module.style.custom_styling.overlay_color.opacity / 100 }});"
      {% elif module.style.custom_styling.overlay_gradient.css %}
        style="background: {{ module.style.custom_styling.overlay_gradient.css }};"
      {% else %}
        data-overlay-color="{{ module.overlay_color_choice }}"
      {% endif %}
    {% endif %}
  >
    {% if module.enable_top_linear_gradient %}
      <div class="section-overlay-linear-gradient section-overlay-linear-gradient--top"
        {% if module.style.custom_styling.top_linear_gradient_color.color %}
          style="background: linear-gradient(180deg, rgba({{ module.style.custom_styling.top_linear_gradient_color.color|convert_rgb }}, 1) 3px, rgba({{ module.style.custom_styling.top_linear_gradient_color.color|convert_rgb }}, 0) 100px);"
        {% else %}
          data-overlay-color="{{ module.top_linear_gradient_color_choice }}"
        {% endif %}
      >
      </div>
    {% endif %}
    {% if module.enable_bottom_linear_gradient %}
      <div class="section-overlay-linear-gradient section-overlay-linear-gradient--bottom"
        {% if module.style.custom_styling.bottom_linear_gradient_color.color %}
          style="background: linear-gradient(0deg, rgba({{ module.style.custom_styling.bottom_linear_gradient_color.color|convert_rgb }}, 1) 3px, rgba({{ module.style.custom_styling.bottom_linear_gradient_color.color|convert_rgb }}, 0) 100px);"
        {% else %}
          data-overlay-color="{{ module.bottom_linear_gradient_color_choice }}"
        {% endif %}
      >
      </div>
    {% endif %}
  </div>

  {% require_js %}
  <script>
    var sectionOverlay_{{ name|regex_replace('-', '_') }} = $('.section-overlay-{{ name }}');
    sectionOverlay_{{ name|regex_replace('-', '_') }}.closest('.dnd-section').addClass('section-overlay-wrapper');
    sectionOverlay_{{ name|regex_replace('-', '_') }}.closest('.dnd-section').append(sectionOverlay_{{ name|regex_replace('-', '_') }});     
  </script>
  {% end_require_js %}
{% endif %}


{# Fixed Background Class #}
{% if module.background_image_effects == 'fixed' %}
  {% require_js %}
  <script>
    $('#sectionOptions_{{ name }}').closest('.dnd-section').addClass('bg-fixed');
  </script>
  {% end_require_js %}

{# Parallax Background #}
{% elif module.background_image_effects == 'parallax' %}
  {% require_js %}
  <script>
    $('#sectionOptions_{{ name }}').closest('.dnd-section').addClass('bg-fixed bg-parallax');
  </script>
  {% end_require_js %}
{% endif %}

{# Video Background #}
{% if module.enable_background_video and module.background_video_url %}
  <div class="section-background-video section-background-video-{{ name }}">
    {% if module.background_video_url is string_containing 'youtube.com' or module.background_video_url is string_containing 'youtu.be' %}
      <div class="section-background-iframe-wrapper">
        {% set videoUrl = module.background_video_url|string|split('=') %}
        {% set videoCode = videoUrl[1]|truncatehtml(11) %}
        <iframe src="https://www.youtube.com/embed/{{ videoCode }}?controls=0&showinfo=0&autoplay=1&mute=1&loop=1&playlist={{ videoCode }}" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
    {% elif module.background_video_url is string_containing 'vimeo.com' %}
      <div class="section-background-iframe-wrapper">
        {% set videoUrl = module.background_video_url|string|split('/') %}
        {% set videoCode = videoUrl|last|truncatehtml(9) %}
        <iframe src="https://player.vimeo.com/video/{{ videoCode }}?background=1&muted=1&autoplay=1&loop=1&byline=0&title=0" frameborder="0" allow="autoplay; fullscreen"  webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
      </div>
      <script src="https://player.vimeo.com/api/player.js"></script>
    {% else %}
      <video muted autoplay loop>
        <source src="{{ module.background_video_url }}" type="video/mp4">
      </video>
    {% endif %}
  </div>

  {% require_js %}
  <script>
    var sectionBackground_{{ name|regex_replace('-', '_') }} = $('.section-background-video-{{ name }}');
    sectionBackground_{{ name|regex_replace('-', '_') }}.closest('.dnd-section').addClass('section-overlay-wrapper');
    sectionBackground_{{ name|regex_replace('-', '_') }}.closest('.dnd-section').append(sectionBackground_{{ name|regex_replace('-', '_') }});     
  </script>
  {% end_require_js %}
{% endif %}


{# Background Particles #}
{% if module.enable_background_particles %}
  {% require_js, footer } %}
  <script defer>
    var sectionID = 'backgroundParticles_{{ name }}';
    $('#sectionOptions_{{ name }}').closest('.dnd-section').addClass('section-background-particles');
    {% if module.custom_id %}
      var sectionID = '{{ module.custom_id }}';
    {% else %}
      $('#sectionOptions_{{ name }}').closest('.dnd-section').attr('id', sectionID);
    {% endif %}
    $('#sectionOptions_{{ name }}').closest('.dnd-section').attr('data-particle-number', '{{ module.background_particles.particle_number }}');
    $('#sectionOptions_{{ name }}').closest('.dnd-section').attr('data-particle-color', '{{ module.background_particles.particle_color }}');
    $('#sectionOptions_{{ name }}').closest('.dnd-section').attr('data-particle-shape', '{{ module.background_particles.particle_shape }}');
    $('#sectionOptions_{{ name }}').closest('.dnd-section').attr('data-particle-size', '{{ module.background_particles.particle_size }}');
    $('#sectionOptions_{{ name }}').closest('.dnd-section').attr('data-random-particle-size', '{{ module.background_particles.enable_random_particle_sizes }}');
    $('#sectionOptions_{{ name }}').closest('.dnd-section').attr('data-particle-opacity', '{{ module.background_particles.particle_opacity / 100 }}');
    $('#sectionOptions_{{ name }}').closest('.dnd-section').attr('data-particle-line-link', '{{ module.background_particles.enable_particle_line_link }}');
    $('#sectionOptions_{{ name }}').closest('.dnd-section').attr('data-particle-movement-direction', '{{ module.background_particles.particle_movement_direction }}');
    $('#sectionOptions_{{ name }}').closest('.dnd-section').attr('data-particle-speed', '{{ module.background_particles.particle_speed }}');
    $('#sectionOptions_{{ name }}').closest('.dnd-section').attr('data-particle-hover-effect', '{{ module.background_particles.particle_hover_effect }}');
  </script>
  {% end_require_js %}
{% endif%}


{# Reverse Element Order on Mobile #}
{% if module.reverse_element_order_on_mobile %}
  {% require_js %}
  <script>
    $('#sectionOptions_{{ name }}').closest('.dnd-section').addClass('section-reverse-order');
  </script>
  {% end_require_js %}
{% endif %}


{# Hide #}
{% if module.hide %}
  {% require_js %}
  <script>
    $('#sectionOptions_{{ name }}').closest('.dnd-section').addClass('section-hide');
    $('#sectionOptions_{{ name }}').html("<span>Section Options - HIDDEN</span>");
  </script>
  {% end_require_js %}
{% endif %}


{# Custom Class #}
{% if module.custom_class %}
  {% require_js %}
  <script>
    var customClass = '{{ module.custom_class }}';
    $('#sectionOptions_{{ name }}').closest('.dnd-section').addClass(customClass);
  </script>
  {% end_require_js %}
{% endif %}


{# Custom ID #}
{% if module.custom_id %}
  {% require_js %}
  <script>
    var customID = '{{ module.custom_id }}';
    if ( customID ) {
      $('#sectionOptions_{{ name }}').closest('.dnd-section').attr('id', customID);
      $('#sectionOptions_{{ name }}').closest('.dnd-section').addClass('section-options-id');
    }
  </script>
  {% end_require_js %}
{% endif %}