<div class="chart-wrapper{% if module.enable_sticky_column %} sticky{% endif %}">
<div id="{{ module.custom_id }}" class="chart chart--{{ module.type }} chart_{{ name }} {{ module.custom_class }}"
  {% if module.enable_animation %}
    {% if module.animation_settings.animation_type == "default" %}
      data-aos="{{ theme.animations.animation_type }}"
    {% else %}
      data-aos="{{ module.animation_settings.animation_type }}"
    {% endif %}
    data-aos-delay="{{ module.animation_settings.animation_delay }}"
    {% if module.animation_settings.override_default_animation_duration %}
      data-aos-duration="{{ module.animation_settings.animation_duration }}"
    {% endif %}
  {% endif %}
>
  <canvas id="chartCanvas_{{ name }}"></canvas>
</div>
</div>


{{ require_js('https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.8.2/chart.min.js') }}

{% require_js %}
  <script>
    var chartLoadedOnce_{{ name|regex_replace('-', '_') }} = false;
    var chart_{{ name|regex_replace('-', '_') }} = $('.chart_{{ name }}');
    
    function initializeChart_{{ name }}(data) {
      if (isScrolledIntoView(chart_{{ name|regex_replace('-', '_') }}) && !chartLoadedOnce_{{ name|regex_replace('-', '_') }}) {
        new Chart($('#chartCanvas_{{ name }}'), {
          type: '{{ module.type }}',
          data: data,
          options: {
            responsive: true
          },
        });
        chartLoadedOnce_{{ name|regex_replace('-', '_') }} = true;
      }
    }
    
    $(function(){
      var datasetColor = [];
      {% for item in module.dataset %}
         datasetColor.push(getComputedStyle(document.body).getPropertyValue('--color-{{ item.dataset_color }}'));
      {% endfor %}

      var data = {
        labels: [
          {% for item in module.data_labels %}
            '{{ item }}'{% unless loop.last %},{% endunless %}
          {% endfor %}
        ],

        datasets: [
          {% for item in module.dataset %}
            {
              label: '{{ item.dataset_name }}',
              data: [
                {% for item2 in item.data_value %}
                  {{ item2 }}{% unless loop.last %},{% endunless %}
                {% endfor %}
              ],
              backgroundColor: datasetColor[{{loop.index0}}],
              borderColor: datasetColor[{{loop.index0}}]
            }{% unless loop.last %},{% endunless %}
          {% endfor %}
        ]
      };
      
      initializeChart_{{ name }}(data);
    
      $(window).on('scroll', function() {
        initializeChart_{{ name }}(data);
      });
    });
  </script>
{% end_require_js %}

{% require_css %}
  <style>
    {% scope_css %}
    {# Module custom styles #}
      .chart-wrapper {
        {% if module.style.spacing.spacing %}
          {{ module.style.spacing.spacing.css }}
        {% endif %}
        {% if module.style.background.background_type == 'none' %}
          background: none;
        {% elif module.style.background.background_type == 'color' %}
          background: rgba({{ module.style.background.background_color.color|convert_rgb }}, {{ module.style.background.background_color.opacity / 100 }});
        {% elif module.style.background.background_type == 'gradient' %}
          background: {{ module.style.background.background_gradient.css }};
        {% elif module.style.background.background_type == 'image' %}
          {{ module.style.background.background_image.css }};
        {% endif %}
      }
    {% end_scope_css %}
  </style>
{% end_require_css %}