.team.cards--classic .cards-single {
  margin-top: 5rem;
}
.team.cards--classic .cards-single-inner,
.team.cards--classic .card-image {
  overflow: visible;
}
.team.cards--classic .card-image {
  margin-top: -5rem;
}

@media (min-width: 768px) {
  .popup-team {
    max-width: 960px;
  }
  .popup-team .popup-body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .popup-team .popup-image {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 35%;
    flex: 1 1 35%;
    padding-right: 5%;
  }
  .popup-team .popup-content {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 60%;
    flex: 1 1 60%;
  }
}