<div class="table-wrapper{% if module.enable_sticky_column %} sticky{% endif %}">
<table id="{{ module.custom_id }}" class="table margin-align-{{ module.alignment }} {{ module.custom_class }}"
  {% if module.enable_animation %}
    {% if module.animation_settings.animation_type == "default" %}
      data-aos="{{ theme.animations.animation_type }}"
    {% else %}
      data-aos="{{ module.animation_settings.animation_type }}"
    {% endif %}
    data-aos-delay="{{ module.animation_settings.animation_delay }}"
    {% if module.animation_settings.override_default_animation_duration %}
      data-aos-duration="{{ module.animation_settings.animation_duration }}"
    {% endif %}
  {% endif %}
>
  <thead class="text-{{ module.table_header.alignment }}">
    {% for item in module.table_header.row %}
      <tr>
        {% for item2 in item.cell %}
          <th class="{% if module.table_header.background_color != 'default' %}bg-{{ module.table_header.background_color }}{% endif %}{% if module.table_header.text_color != 'default' %} color-{{ module.table_header.text_color }}{% endif %}"{% if item2.col_span != 1 %} colspan="{{ item2.col_span }}"{% endif %}{% if item2.row_span != 1 %} rowspan="{{ item2.row_span }}"{% endif %}>{{ item2.text }}</th>
        {% endfor %}
      </tr>
    {% endfor %}
  </thead>
  <tbody class="text-{{ module.table_body.alignment }}">
    {% for item in module.table_body.row %}
      <tr>
        {% for item2 in item.cell %}
          <td class="{% if module.table_body.text_color != 'default' %} color-{{ module.table_body.text_color }}{% endif %}"{% if item2.col_span != 1 %} colspan="{{ item2.col_span }}"{% endif %}{% if item2.row_span != 1 %} rowspan="{{ item2.row_span }}"{% endif %}>{{ item2.text }}</td>
        {% endfor %}
      </tr>
    {% endfor %}
  </tbody>
  <tfoot class="text-{{ module.table_footer.alignment }}">
    {% for item in module.table_footer.row %}
      <tr>
        {% for item2 in item.cell %}
          <td class="{% if module.table_footer.background_color != 'default' %}bg-{{ module.table_footer.background_color }}{% endif %}{% if module.table_footer.text_color != 'default' %} color-{{ module.table_footer.text_color }}{% endif %}"{% if item2.col_span != 1 %} colspan="{{ item2.col_span }}"{% endif %}{% if item2.row_span != 1 %} rowspan="{{ item2.row_span }}"{% endif %}>{{ item2.text }}</td>
        {% endfor %}
      </tr>
    {% endfor %}
  </tfoot>
</table>
</div>

{% require_css %}
  <style>
    {% scope_css %}  
      {# Module custom styles #}
      .table-wrapper {
        {% if module.style.spacing.spacing %}
          {{ module.style.spacing.spacing.css }}
        {% endif %}
        {% if module.style.background.background_type == 'none' %}
          background: none;
        {% elif module.style.background.background_type == 'color' %}
          background: rgba({{ module.style.background.background_color.color|convert_rgb }}, {{ module.style.background.background_color.opacity / 100 }});
        {% elif module.style.background.background_type == 'gradient' %}
          background: {{ module.style.background.background_gradient.css }};
        {% elif module.style.background.background_type == 'image' %}
          {{ module.style.background.background_image.css }};
        {% endif %}
      }
      .table {
        {% if module.style.item_spacing.item_spacing_horizontal != none %}
          margin-left: -{{ module.style.item_spacing.item_spacing_horizontal / 2 ~ 'px' }};
          margin-right: -{{ module.style.item_spacing.item_spacing_horizontal / 2 ~ 'px' }};
        {% endif %}
        {% if module.style.item_spacing.item_spacing_vertical != none %}
          margin-top: -{{ module.style.item_spacing.item_spacing_vertical / 2 ~ 'px' }};
        {% endif %}
        {% if !module.enable_outer_border %}
          border: 0;
        {% endif %}
      }
      {% if module.background_color_pattern == 'horizontal-stripes' %}
        {% if module.background_color_odd != 'default' %}
          .table tbody tr:nth-child(odd) td {
            background-color: var(--color-{{ module.background_color_odd }});
          }
        {% endif %}
        {% if module.background_color_even != 'default' %}
          .table tbody tr:nth-child(even) td {
            background-color: var(--color-{{ module.background_color_even }});
          }
        {% endif %}
      {% elif module.background_color_pattern == 'vertical-stripes' %}
        {% if module.background_color_odd != 'default' %}
          .table tbody td:nth-child(odd) {
            background-color: var(--color-{{ module.background_color_odd }});
          }
        {% else %}
          .table tbody td:nth-child(odd) {
            background-color: var(--table-body-background-color-odd);
          }
        {% endif %}
        {% if module.background_color_even != 'default' %}
          .table tbody td:nth-child(even) {
            background-color: var(--color-{{ module.background_color_even }});
          }
        {% else %}
          .table tbody td:nth-child(even) {
            background-color: var(--table-body-background-color-even);
          }
        {% endif %}
      {% elif module.background_color_pattern == 'horizontal-vertical-stripes' %}
        {% if module.background_color_odd != 'default' %}
          .table tbody td:nth-child(odd) {
            background-color: var(--color-{{ module.background_color_odd }});
          }
        {% else %}
          .table tbody td:nth-child(odd) {
            background-color: var(--table-body-background-color-odd);
          }
        {% endif %}
        {% if module.background_color_even != 'default' %}
          .table tbody tr:nth-child(even) td,
          .table tbody td:nth-child(even) {
            background-color: var(--color-{{ module.background_color_even }});
          }
        {% else %}
          .table tbody tr:nth-child(even) td,
          .table tbody td:nth-child(even) {
            background-color: var(--table-body-background-color-even);
          }
        {% endif %}
      {% elif module.background_color_pattern == 'single-color' %}
        {% if module.background_color_odd != 'default' %}
          .table tbody td,
          .table tbody tr:nth-child(even) td {
            background-color: var(--color-{{ module.background_color_odd }});
          }
        {% else %}
          .table tbody td,
          .table tbody tr:nth-child(even) td {
            background-color: var(--table-body-background-color-odd);
          }
        {% endif%}
      {% endif %}
      {% if module.border_pattern == 'no-borders' %}
        .table th,
        .table td {
          border: 0;
        }
      {% elif module.border_pattern == 'horizontal-borders' %}
        .table th,
        .table td {
          border-left: 0;
          border-right: 0;
        }
      {% elif module.border_pattern == 'vertical-borders' %}
        .table th,
        .table td {
          border-top: 0;
          border-bottom: 0;
        }
      {% endif %}
    {% end_scope_css %}
  </style>
{% end_require_css %}