<!--
  templateType: email_backup_unsubscribe_page
  isAvailableForNewContent: true
  label: Email backup unsubscribe
  screenshotPath: ../../images/template-previews/backup-unsubscribe.png
-->

{% extends '../layouts/base.html' %}

{% block body %}
<main id="main-content" class="body-container-wrapper bg-light-gray">
  <section class="content-wrapper">
    <div class="systems-page">
      {% module 'backup_unsubscribe' extra_classes='backup-unsubscribe', path='@hubspot/email_simple_subscription' %}
    </div>
  </section>
</main>
{% endblock body %}