<!--
  templateType: password_prompt_page
  isAvailableForNewContent: true
  label: Password prompt
  screenshotPath: ../../images/template-previews/password-prompt.png
-->

{% extends '../layouts/base.html' %}

{% block body %}
<main id="main-content" class="body-container-wrapper bg-light-gray">
  <section class="content-wrapper">
    <div class="systems-page">
      <h1>Password Required</h1>
      <p>Please enter the password required to view this page.</p>
      {% module 'password_prompt' extra_classes='password-prompt', path='@hubspot/password_prompt' %}
    </div>
  </section>
</main>
{% endblock body %}