<!--
  templateType: email_subscription_preferences_page
  isAvailableForNewContent: true
  label: Email subscription preferences
  screenshotPath: ../../images/template-previews/subscription-preferences.png
-->

{% extends '../layouts/base.html' %}

{% block body %}
<main id="main-content" class="body-container-wrapper bg-light-gray">
  <section class="content-wrapper">
    <div class="systems-page">
      {% module 'subscription_preferences' path='@hubspot/email_subscriptions' %}
    </div>
  </section>
</main>
{% endblock body %}
