<!--
  templateType: email_subscriptions_confirmation_page
  isAvailableForNewContent: true
  label: Email subscriptions confirmation
  screenshotPath: ../../images/template-previews/subscriptions-confirmation.png
-->

{% extends '../layouts/base.html' %}

{% block body %}
<main id="main-content" class="body-container-wrapper bg-light-gray">
  <section class="content-wrapper">
    <div class="systems-page">
      {% module 'subscriptions_confirmation' path='@hubspot/email_subscriptions_confirmation' %}
    </div>
  </section>
</main>
{% endblock body %}
