.countdown-wrapper {
  position: relative;
  z-index: 1;
}
.countdown {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: -.5rem;
}
.countdown-item {
  font-size: 2rem;
  line-height: 1;
  font-weight: 700;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 6rem;
  height: 6rem;
  margin: .5rem;
  padding: .5rem;
}
.countdown-text {
  font-size: 1rem;
}

@media (min-width: 768px) {
  .countdown-item {
    font-size: 3rem;
    width: 8rem;
    height: 8rem;
    margin: .5rem;
    padding: 1rem;
  }
  .countdown-text {
    font-size: 1.25rem;
  }
}