<div class="countdown-wrapper{% if module.enable_sticky_column %} sticky{% endif %}">
<div id="{{ module.custom_id }}" class="countdown justify-{{ module.alignment }} countdown_{{ name }} {{ module.custom_class }}">
  <div class="countdown-item bg-{{ module.background_color }}{% if theme.other.general_border_radius %} rounded{% endif %}"
    {% if module.enable_animation %}
      {% if module.animation_settings.animation_type == "default" %}
        data-aos="{{ theme.animations.animation_type }}"
      {% else %}
        data-aos="{{ module.animation_settings.animation_type }}"
      {% endif %}
      data-aos-delay="{{ module.animation_settings.animation_delay }}"
      {% if module.animation_settings.override_default_animation_duration %}
        data-aos-duration="{{ module.animation_settings.animation_duration }}"
      {% endif %}
    {% endif %}
  >
    <span class="countdown-number-days color-{{ module.number_color }}"></span>
    <span class="countdown-text color-{{ module.text_color }}">Days</span>
  </div>
  <div class="countdown-item bg-{{ module.background_color }}{% if theme.other.general_border_radius %} rounded{% endif %}"
    {% if module.enable_animation %}
      {% if module.animation_settings.animation_type == "default" %}
        data-aos="{{ theme.animations.animation_type }}"
      {% else %}
        data-aos="{{ module.animation_settings.animation_type }}"
      {% endif %}
      data-aos-delay="{{ 2 * module.animation_settings.animation_delay }}"
      {% if module.animation_settings.override_default_animation_duration %}
        data-aos-duration="{{ module.animation_settings.animation_duration }}"
      {% endif %}
    {% endif %}
  >
    <span class="countdown-number-hours color-{{ module.number_color }}"></span>
    <span class="countdown-text color-{{ module.text_color }}">Hours</span>
  </div>
  <div class="countdown-item bg-{{ module.background_color }}{% if theme.other.general_border_radius %} rounded{% endif %}"
    {% if module.enable_animation %}
      {% if module.animation_settings.animation_type == "default" %}
        data-aos="{{ theme.animations.animation_type }}"
      {% else %}
        data-aos="{{ module.animation_settings.animation_type }}"
      {% endif %}
      data-aos-delay="{{ 3 * module.animation_settings.animation_delay }}"
      {% if module.animation_settings.override_default_animation_duration %}
        data-aos-duration="{{ module.animation_settings.animation_duration }}"
      {% endif %}
    {% endif %}
  >
    <span class="countdown-number-minutes color-{{ module.number_color }}"></span>
    <span class="countdown-text color-{{ module.text_color }}">Minutes</span>
  </div>
  <div class="countdown-item bg-{{ module.background_color }}{% if theme.other.general_border_radius %} rounded{% endif %}"
    {% if module.enable_animation %}
      {% if module.animation_settings.animation_type == "default" %}
        data-aos="{{ theme.animations.animation_type }}"
      {% else %}
        data-aos="{{ module.animation_settings.animation_type }}"
      {% endif %}
      data-aos-delay="{{ 4 * module.animation_settings.animation_delay }}"
      {% if module.animation_settings.override_default_animation_duration %}
        data-aos-duration="{{ module.animation_settings.animation_duration }}"
      {% endif %}
    {% endif %}
  >
    <span class="countdown-number-seconds color-{{ module.number_color }}"></span>
    <span class="countdown-text color-{{ module.text_color }}">Seconds</span>
  </div>
</div>
</div>

{% require_css %}
  <style>
    {% scope_css %}
      {# Module custom styles #}
      .countdown-wrapper {
        {% if module.style.spacing.spacing %}
          {{ module.style.spacing.spacing.css }}
        {% endif %}
        {% if module.style.background.background_type == 'none' %}
          background: none;
        {% elif module.style.background.background_type == 'color' %}
          background: rgba({{ module.style.background.background_color.color|convert_rgb }}, {{ module.style.background.background_color.opacity / 100 }});
        {% elif module.style.background.background_type == 'gradient' %}
          background: {{ module.style.background.background_gradient.css }};
        {% elif module.style.background.background_type == 'image' %}
          {{ module.style.background.background_image.css }};
        {% endif %}
      }
      {% if module.style.custom_styling.border_radius != none %}
        .countdown-item {
          border-radius: {{ module.style.custom_styling.border_radius ~ 'px' }};
        }
      {% endif %}
      {% if module.style.custom_styling.number_color.color %}
        .countdown-number {
          color: rgba({{ module.style.custom_styling.number_color.color|convert_rgb }}, {{ module.style.custom_styling.number_color.opacity / 100 }});
        }
      {% endif %}
      {% if module.style.custom_styling.text_color.color %}
        .countdown-text {
          color: rgba({{ module.style.custom_styling.text_color.color|convert_rgb }}, {{ module.style.custom_styling.text_color.opacity / 100 }});
        }
      {% endif %}
    {% end_scope_css %}
  </style>
{% end_require_css %}

{% require_js %}
  <script>
    var countdownDate = new Date("{{ module.date_and_time }}").getTime();

    var x = setInterval(function() {
      var presentDate = new Date().getTime();
      var distance = countdownDate - presentDate;

      var days = Math.floor(distance / (1000 * 60 * 60 * 24));
      var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
      var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
      var seconds = Math.floor((distance % (1000 * 60)) / 1000);
      
      $('.countdown_{{ name }} .countdown-number-days').html(days);
      $('.countdown_{{ name }} .countdown-number-hours').html(hours);
      $('.countdown_{{ name }} .countdown-number-minutes').html(minutes);
      $('.countdown_{{ name }} .countdown-number-seconds').html(seconds);
        
      if (distance < 0) {
        clearInterval(x);
      }
    }, 1000);
  </script>
{% end_require_js %}