<div class="header-inner">
  
  {# Skip to Content #}
  <a href="#main-content" class="header__skip">Skip to content</a>
  
  {# Header Top #}
  {% if module.enable_top_row %}
    <div class="header-top bg-{{ module.top_row.header_top_background_color_choice }} color-{{ module.top_row.header_top_text_color_choice }}">
      <div class="header-top-container{% if module.top_row.enable_full_width %} full-width{% endif %}">
        {% if module.top_row.layout == "columns" %}
          {% for item in module.top_row.header_top_column %}
            {% if item.text || item.icon.unicode %}
              <div class="header-top-column justify-{{ item.alignment }}">
                {% if item.icon.unicode %}
                  {% icon name='{{ item.icon.name }}' style='{{ item.icon.type }}' unicode='{{ item.icon.unicode }}' icon_set='{{ item.icon.icon_set }}', no_wrapper=True %}
                {% endif %}
                {% if item.text %}
                  {% if item.link.url.href %}
                    {% if item.link.url.type is equalto 'EMAIL_ADDRESS' %}
                      {% set href = 'mailto:' ~ item.link.url.href %}
                    {% elif item.link.url.href == '/' %}
                      {% set href = item.link.url.href %}
                    {% else %}
                      {% unless (item.link.url.href is string_containing '//') or (item.link.url.href is string_containing 'tel:') or (item.link.url.href is string_startingwith '#') or !item.link.url.href %}
                        {% set href = '//' ~ item.link.url.href %}
                      {% else %}
                        {% set href = item.link.url.href || '' %}
                      {% endunless %}
                    {% endif %}

                    {% set rel = (item.link.open_in_new_tab ? 'noopener ' : null) ~ (module.link.no_follow ? 'nofollow' : null) %}
                    <a
                      href="{{ href }}"
                      {% if item.link.open_in_new_tab %}target="_blank"{% endif %}
                      {% if rel %}rel="{{ rel }}"{% endif %}
                    >
                  {% endif %}
                      {{ item.text }}
                  {% if item.link.url.href %}
                    </a>
                  {% endif %}
                {% endif %}
              </div>
            {% endif %}
          {% endfor %}
        {% elif module.top_row.layout == "message" %}
          <div class="header-top-column justify-{{ module.top_row.alignment }}">
            {{ module.top_row.message }}
          </div>
        {% endif %}
      </div>
    </div>
  {% endif %}

  {# Header main #}
  <div class="header-main bg-{{ module.header_background_color_choice }} color-{{ module.header_text_color_choice }}">
    <div class="header-main-container{% if module.enable_full_width %} full-width{% endif %}{% if module.enable_mobile_menu_on_all_screen_sizes %} menu-mobile-permanent{% endif %} menu-logo-{{ module.logo_position }}">
      {# Logo #}
      <div class="header-logo">
        {% if module.logo.logo_url.url.type is equalto 'EMAIL_ADDRESS' %}
          {% set href = 'mailto:' ~ module.logo.logo_url.url.href %}
        {% elif module.logo.logo_url.url.href == '/' %}
          {% set href = module.logo.logo_url.url.href %}
        {% else %}
          {% unless (module.logo.logo_url.url.href is string_containing '//') or (module.logo.logo_url.url.href is string_containing 'tel:') or (module.logo.logo_url.url.href is string_startingwith '#') or !module.logo.logo_url.url.href %}
            {% set href = '//' ~ module.logo.logo_url.url.href %}
          {% else %}
            {% set href = module.logo.logo_url.url.href || '' %}
          {% endunless %}
        {% endif %}
        
        {% set rel = (module.logo.logo_url.open_in_new_tab ? 'noopener ' : null) ~ (module.link.no_follow ? 'nofollow' : null) %}
        
        {% if header_type == 'transparent' %}
          <a
            href="{{ href }}"
            {% if module.logo.logo_url.open_in_new_tab %}target="_blank"{% endif %}
            {% if rel %}rel="{{ rel }}"{% endif %}
            class="header-logo-light"
          >
            {% if module.logo.logo_light.src %}
              {% set sizeAttrs = 'width="{{ module.logo.logo_light.width }}" height="{{ module.logo.logo_light.height }}"' %}
              {% if module.logo.logo_light.size_type == 'auto' %}
                {% set sizeAttrs = 'style="max-width: 100%; height: auto;"' %}
              {% elif module.logo.logo_light.size_type == 'auto_custom_max' %}
                {% set sizeAttrs = 'width="100%" height="auto" style="max-width: {{ module.logo.logo_light.max_width }}px; max-height: {{ module.logo.logo_light.max_height }}px"' %}
              {% endif %}
              <img src="{{ module.logo.logo_light.src }}" alt="{{ module.logo.logo_light.alt }}" {{ sizeAttrs }}>
            {% endif %}
          </a>
        {% endif %}
        <div class="header-logo-dark">
          {% logo
            override_inherited_src="{{ module.logo.logo_dark.override_inherited_src }}"
            src="{{ module.logo.logo_dark.src }}"
            alt="{{ module.logo.logo_dark.alt }}"
            width="{{ module.logo.logo_dark.width }}"
            height="{{ module.logo.logo_dark.height }}"
            suppress_company_name="{{ module.logo.logo_dark.suppress_company_name }}"
            link="{{ href }}"
            open_in_new_tab="{{ module.logo.logo_url.open_in_new_tab }}"
          %}
        </div>
      </div>

      {# Menu #}
      <div class="header-navigation">
        <div class="menu-mobile-button">{% icon name='bars' style='SOLID' unicode='f0c9', no_wrapper=True %}</div>
        {% unless module.enable_mobile_menu_on_all_screen_sizes %}
          <div class="header-menu header-menu-main">
            {% menu id='{{ module.main_menu }}', no_wrapper=True %}
          </div>
        {% endunless %}
        <div class="header-menu header-menu-mobile">
          {% menu id='{{ module.mobile_menu }}', no_wrapper=True %}
          
          {% if ( module.enable_header_button_1 and ( module.header_button_1.cta or ( module.header_button_1.button_text and module.header_button_1.link.url.href ) ) ) or ( module.enable_header_button_2 and ( module.header_button_2.cta or ( module.header_button_2.button_text and module.header_button_2.link.url.href ) ) ) %}
            <div class="header-buttons">
              {% if module.enable_header_button_1 and ( module.header_button_1.cta or ( module.header_button_1.button_text and module.header_button_1.link.url.href ) ) %}
                {% if module.header_button_1.button_or_hubspot_cta == "cta" %}
                  {% cta guid="{{ module.header_button_1.cta }}" %}
                {% elif module.header_button_1.button_or_hubspot_cta == "button" %}
                  {% if module.header_button_1.link.url.type is equalto 'EMAIL_ADDRESS' %}
                    {% set href = 'mailto:' ~ module.header_button_1.link.url.href %}
                  {% elif module.header_button_1.link.url.href == '/' %}
                    {% set href = module.header_button_1.link.url.href %}
                  {% else %}
                    {% unless (module.header_button_1.link.url.href is string_containing '//') or (module.header_button_1.link.url.href is string_containing 'tel:') or (module.header_button_1.link.url.href is string_startingwith '#') or !module.header_button_1.link.url.href %}
                      {% set href = '//' ~ module.header_button_1.link.url.href %}
                    {% else %}
                      {% set href = module.header_button_1.link.url.href or '' %}
                    {% endunless %}
                  {% endif %}
                  {% set rel = (module.header_button_1.link.open_in_new_tab ? 'noopener ' : null) ~ (module.header_button_1.link.no_follow ? 'nofollow' : null) %}
                  <span>
                    <a
                      class="{% if module.header_button_1.button_type != 'link' %}button button-{% if module.header_button_1.button_type == 'outline' %}outline-{% elif module.header_button_1.button_type == 'gradient' %}gradient color-{% endif %}{{ module.header_button_1.button_color }}{% if module.header_button_1.enable_accent_line %} button-accent{% endif %}{% else %} link color-{{ module.header_button_1.button_color }} pe-{{ module.header_button_1.button_color }}{% endif %} button-{{ module.header_button_1.button_size }}"
                      href="{{ href }}"
                      {% if module.header_button_1.link.open_in_new_tab %}target="_blank"{% endif %}
                      {% if rel %}rel="{{ rel }}"{% endif %}
                    >
                      {{ module.header_button_1.button_text }}
                    </a>
                  </span>
                {% endif %}
              {% endif %}

              {% if module.enable_header_button_2 and ( module.header_button_2.cta or ( module.header_button_2.button_text and module.header_button_2.link.url.href ) ) %}
                {% if module.header_button_2.button_or_hubspot_cta == "cta" %}
                  {% cta guid="{{ module.header_button_2.cta }}" %}
                {% elif module.header_button_2.button_or_hubspot_cta == "button" %}
                  {% if module.header_button_2.link.url.type is equalto 'EMAIL_ADDRESS' %}
                    {% set href = 'mailto:' ~ module.header_button_2.link.url.href %}
                  {% elif module.header_button_2.link.url.href == '/' %}
                    {% set href = module.header_button_2.link.url.href %}
                  {% else %}
                    {% unless (module.header_button_2.link.url.href is string_containing '//') or (module.header_button_2.link.url.href is string_containing 'tel:') or (module.header_button_2.link.url.href is string_startingwith '#') or !module.header_button_2.link.url.href %}
                      {% set href = '//' ~ module.header_button_2.link.url.href %}
                    {% else %}
                      {% set href = module.header_button_2.link.url.href or '' %}
                    {% endunless %}
                  {% endif %}
                  {% set rel = (module.header_button_2.link.open_in_new_tab ? 'noopener ' : null) ~ (module.header_button_2.link.no_follow ? 'nofollow' : null) %}
                  <span>    
                    <a
                      class="{% if module.header_button_2.button_type != 'link' %}button button-{% if module.header_button_2.button_type == 'outline' %}outline-{% elif module.header_button_2.button_type == 'gradient' %}gradient color-{% endif %}{{ module.header_button_2.button_color }}{% if module.header_button_2.enable_accent_line %} button-accent{% endif %}{% else %} link color-{{ module.header_button_2.button_color }} pe-{{ module.header_button_2.button_color }}{% endif %} button-{{ module.header_button_2.button_size }}"
                      href="{{ href }}"
                      {% if module.header_button_2.link.open_in_new_tab %}target="_blank"{% endif %}
                      {% if rel %}rel="{{ rel }}"{% endif %}
                    >
                      {{ module.header_button_2.button_text }}
                    </a>
                  </span>
                {% endif %}
              {% endif %}
              </div>
          {% endif %}
        </div>
      </div>
      
      {% if module.enable_header_language_switcher || module.header_search != 'none' || module.enable_header_button_1 || module.enable_header_button_2 %}
        <div class="header-right">
          {# Language Switcher, Search and Buttons #}            
          {% if ( module.enable_header_button_1 and ( module.header_button_1.cta or ( module.header_button_1.button_text and module.header_button_1.link.url.href ) ) ) or ( module.enable_header_button_2 and ( module.header_button_2.cta or ( module.header_button_2.button_text and module.header_button_2.link.url.href ) ) ) %}
            <div class="header-buttons">
              {% if module.enable_header_button_1 and ( module.header_button_1.cta or ( module.header_button_1.button_text and module.header_button_1.link.url.href ) ) %}
                {% if module.header_button_1.button_or_hubspot_cta == "cta" %}
                  {% cta guid="{{ module.header_button_1.cta }}" %}
                {% elif module.header_button_1.button_or_hubspot_cta == "button" %}
                  {% if module.header_button_1.link.url.type is equalto 'EMAIL_ADDRESS' %}
                    {% set href = 'mailto:' ~ module.header_button_1.link.url.href %}
                  {% elif module.header_button_1.link.url.href == '/' %}
                    {% set href = module.header_button_1.link.url.href %}
                  {% else %}
                    {% unless (module.header_button_1.link.url.href is string_containing '//') or (module.header_button_1.link.url.href is string_containing 'tel:') or (module.header_button_1.link.url.href is string_startingwith '#') or !module.header_button_1.link.url.href %}
                      {% set href = '//' ~ module.header_button_1.link.url.href %}
                    {% else %}
                      {% set href = module.header_button_1.link.url.href or '' %}
                    {% endunless %}
                  {% endif %}
                  {% set rel = (module.header_button_1.link.open_in_new_tab ? 'noopener ' : null) ~ (module.header_button_1.link.no_follow ? 'nofollow' : null) %}
                  <span>
                    <a
                      class="{% if module.header_button_1.button_type != 'link' %}button button-{% if module.header_button_1.button_type == 'outline' %}outline-{% elif module.header_button_1.button_type == 'gradient' %}gradient color-{% endif %}{{ module.header_button_1.button_color }}{% if module.header_button_1.enable_accent_line %} button-accent{% endif %}{% else %} link color-{{ module.header_button_1.button_color }} pe-{{ module.header_button_1.button_color }}{% endif %} button-{{ module.header_button_1.button_size }}"
                      href="{{ href }}"
                      {% if module.header_button_1.link.open_in_new_tab %}target="_blank"{% endif %}
                      {% if rel %}rel="{{ rel }}"{% endif %}
                    >
                      {{ module.header_button_1.button_text }}
                    </a>
                  </span>
                {% endif %}
              {% endif %}

              {% if module.enable_header_button_2 and ( module.header_button_2.cta or ( module.header_button_2.button_text and module.header_button_2.link.url.href ) ) %}
                {% if module.header_button_2.button_or_hubspot_cta == "cta" %}
                  {% cta guid="{{ module.header_button_2.cta }}" %}
                {% elif module.header_button_2.button_or_hubspot_cta == "button" %}
                  {% if module.header_button_2.link.url.type is equalto 'EMAIL_ADDRESS' %}
                    {% set href = 'mailto:' ~ module.header_button_2.link.url.href %}
                  {% elif module.header_button_2.link.url.href == '/' %}
                    {% set href = module.header_button_2.link.url.href %}
                  {% else %}
                    {% unless (module.header_button_2.link.url.href is string_containing '//') or (module.header_button_2.link.url.href is string_containing 'tel:') or (module.header_button_2.link.url.href is string_startingwith '#') or !module.header_button_2.link.url.href %}
                      {% set href = '//' ~ module.header_button_2.link.url.href %}
                    {% else %}
                      {% set href = module.header_button_2.link.url.href or '' %}
                    {% endunless %}
                  {% endif %}
                  {% set rel = (module.header_button_2.link.open_in_new_tab ? 'noopener ' : null) ~ (module.header_button_2.link.no_follow ? 'nofollow' : null) %}
                  <span>
                    <a
                      class="{% if module.header_button_2.button_type != 'link' %}button button-{% if module.header_button_2.button_type == 'outline' %}outline-{% elif module.header_button_2.button_type == 'gradient' %}gradient color-{% endif %}{{ module.header_button_2.button_color }}{% if module.header_button_2.enable_accent_line %} button-accent{% endif %}{% else %} link color-{{ module.header_button_2.button_color }} pe-{{ module.header_button_2.button_color }}{% endif %} button-{{ module.header_button_2.button_size }}"
                      href="{{ href }}"
                      {% if module.header_button_2.link.open_in_new_tab %}target="_blank"{% endif %}
                      {% if rel %}rel="{{ rel }}"{% endif %}
                    >
                      {{ module.header_button_2.button_text }}
                    </a>
                  </span>
                {% endif %}
              {% endif %}
              </div>
          {% endif %}
          
          {% if module.enable_header_language_switcher %}
            <div class="header-language-switcher-wrapper"></div>
          {% endif %}
          
          {% if module.header_search == 'pop-up' %}
            <div class="header-search-wrapper header-search--pop-up"></div>
          {% elif module.header_search == 'inline' %}
            <div class="header-search-wrapper header-search--inline"></div>
          {% elif module.header_search == 'slide-in' %}
            <div class="header-search-wrapper header-search--inline header-search--slide-in"></div>
          {% endif %}
        </div>
      {% endif %}
    </div>
  </div>
</div>
