<div class="cards-wrapper{% if module.enable_sticky_column %} sticky{% endif %}">
{% if module.enable_filter and module.layout != 'slider' %}
  <div class="cards-filter">
    {% if module.filter.filter_layout == 'buttons' %}
      <span class="button button-{{ module.filter.filter_button_color }}" data-filter-button="all">
        All
      </span>
      {% for item in module.filter.filter_names %}
        <span class="button button-outline-{{ module.filter.filter_button_color }}" data-filter-button="{{ 'filter_' ~ item|replace('-','_')|replace(' ','_') }}">
          {{ item }}
        </span>
      {% endfor %}
    {% else %}
      <select>
        <option data-filter-button="all">All</option>
        {% for item in module.filter.filter_names %}
          <option data-filter-button="{{ 'filter_' ~ item|replace('-','_')|replace(' ','_') }}">
            {{ item }}
          </option>
        {% endfor %}
      </select>
    {% endif %}
  </div>
{% endif %}
<div id="{{ module.custom_id }}" class="cards {{ module.custom_class }}{% if module.layout == "slider" %} slider-enabled{% endif %}"
  {% if module.layout == 'slider' %}
		data-slider-items="{{ module.items_in_row }}" 
		data-slider-arrows="{% if module.slider_options.arrows %}true{% else %}false{% endif %}"
		data-slider-dots="{% if module.slider_options.dots %}true{% else %}false{% endif %}"
    data-slider-autoplay="{% if module.slider_options.autoplay %}true{% else %}false{% endif %}"
    data-slider-autoplay_speed="{% if module.slider_options.autoplay %}{{ module.slider_options.autoplay_speed }}{% endif %}"
     
    {% if module.enable_animation %}
      {% if module.animation_settings.animation_type == "default" %}
        data-aos="{{ theme.animations.animation_type }}"
      {% else %}
        data-aos="{{ module.animation_settings.animation_type }}"
      {% endif %}
      data-aos-delay="{{ module.animation_settings.animation_delay }}"
      {% if module.animation_settings.override_default_animation_duration %}
        data-aos-duration="{{ module.animation_settings.animation_duration }}"
      {% endif %}
    {% endif %}
  {% endif %}
>
  {% for item in module.cards %}
    {% if item.link.url.type is equalto 'EMAIL_ADDRESS' %}
      {% set href = 'mailto:' ~ item.link.url.href %}
    {% elif item.link.url.href == '/' %}
      {% set href = item.link.url.href %}
    {% else %}
      {% unless (item.link.url.href is string_containing '//') or (item.link.url.href is string_containing 'tel:') or (item.link.url.href is string_startingwith '#') or !item.link.url.href %}
        {% set href = '//' ~ item.link.url.href %}
      {% else %}
        {% set href = item.link.url.href or '' %}
      {% endunless %}
    {% endif %}
    {% set rel = (item.link.open_in_new_tab ? 'noopener ' : null) ~ (item.link.no_follow ? 'nofollow' : null) %}
  
    {% if item.image.src %}
      {% set sizeAttrs = 'width="{{ item.image.width }}" height="{{ item.image.height }}"' %}
      {% set renderSize = item.image.width %}
      {% if item.image.size_type == 'auto_custom_max' %}
        {% set sizeAttrs = 'width="{{ item.image.max_width }}" height="{{ item.image.max_height }}"' %}
        {% set renderSize = item.image.max_width %}
      {% endif %}
      {% set loadingAttr = item.image.loading != 'disabled' ? 'loading="{{ item.image.loading }}"' : '' %}
    {% endif %}
  
    <div class="cards-single flex-basis-{{ module.items_in_row }}"
      {% unless module.layout == "slider" %}
        {% if module.enable_animation %}
          {% if module.animation_settings.animation_type == "default" %}
            data-aos="{{ theme.animations.animation_type }}"
          {% else %}
            data-aos="{{ module.animation_settings.animation_type }}"
          {% endif %}
          data-aos-delay="{{ ( ( loop.index0 % module.items_in_row ) * module.animation_settings.animation_delay ) + module.animation_settings.animation_delay }}"
          {% if module.animation_settings.override_default_animation_duration %}
            data-aos-duration="{{ module.animation_settings.animation_duration }}"
          {% endif %}
        {% endif %}
      {% endunless %}
      data-filter-value="{% for item2 in item.filters %}{{ 'filter_' ~ item2|replace('-','_')|replace(' ','_') }} {% endfor %}"
    >
      
      {# Classic Card #}
      {% if module.variation == "var_1" %}
        <div class="cards-single-inner bg-{{ item.background_color }}{% if module.hover_behavior != "default" %} card-hover--{{ module.hover_behavior }}{% else %} card-hover--{{ theme.other.card_hover_behavior }}{% endif %}">
          {% if module.whole_card_link and item.link.url.href %}
            <a
              href="{{ href }}"
              {% if item.link.open_in_new_tab %}target="_blank"{% endif %}
              {% if rel %}rel="{{ rel }}"{% endif %}
            >
          {% endif %}
            {% if item.image.src %}
              <div class="card-image{% if item.enable_image_padding %} card-image--padding{% endif %}">
                <img src="{{ resize_image_url(item.image.src, renderSize) }}" alt="{{ item.image.alt }}" {{ loadingAttr }} {{ sizeAttrs }}>
              </div>
            {% endif %}

            <div class="card-body text-{{ item.alignment }}">
              {% if item.subheading %}
                <label class="subheading color-{{ item.text_color }}">{{ item.subheading }}</label>
              {% endif %}
              {% if item.heading %}
                <{{ item.heading_tag }}
                  class="{% if item.heading_size != item.heading_tag %}{{ item.heading_size }}{% endif %} card-heading color-{{ item.text_color }}{% if item.heading_accent != "none" %} heading-accent--{{ item.heading_accent }} pe-{{ item.heading_accent_color }}{% endif %}">
                  <span>{{ item.heading }}</span>
                </{{ item.heading_tag }}>
              {% endif %}
              {% if item.main_text %}
                <div class="card-text color-{{ item.text_color }}">{{ item.main_text }}</div>
              {% endif %}
              {% if !module.whole_card_link and item.enable_social_links and item.social_links %}
                <div class="social-links justify-{{ item.alignment }}">
                  {% for item2 in item.social_links %}
                    {% set href = item2.social_link.url.href %}
                    {% if item2.social_link.url.type is equalto "EMAIL_ADDRESS" %}
                      {% set href = "mailto:" + href %}
                    {% endif %}

                    {% set rel = (item2.social_link.open_in_new_tab ? 'noopener ' : null) ~ (item2.social_link.no_follow ? 'nofollow' : null) %}

                    {% if item2.social_account != 'custom_icon' %}
                      {% set social_icon = item2.social_account %}
                    {% else %}
                      {% set social_icon = item2.custom_icon.name %}
                    {% endif %}

                    <a class="social-links-single bg-{{ item2.background_color }} color-{{ item2.icon_color }}" href="{{ href }}"
                      {% if item2.social_link.open_in_new_tab %}target="_blank"{% endif %}
                      {% if rel %}rel="{{ rel }}"{% endif %}
                    >
                      {% icon
                        name='{{ social_icon }}',
                        purpose='semantic',
                        style='SOLID',
                        title='{{ item2.hover_title }}',
                        unique_in_loop=True,
                        no_wrapper=True
                      %}
                    </a>
                  {% endfor %}
                </div>
              {% endif %}
            </div>
            {% if item.button_text and item.link.url.href %}
              <div class="card-button text-{{ item.alignment }}">
                {% if module.whole_card_link  %}
                  <span class="{% if item.button_type != 'link' %}button button-{% if item.button_type == 'outline' %}outline-{% elif item.button_type == 'gradient' %}gradient color-{% endif %}{{ item.button_color }}{% if item.enable_button_accent_line %} button-accent{% endif %}{% else %} link color-{{ item.button_color }} pe-{{ item.button_color }}{% endif %} button-{{ item.button_size }}">
                    {{ item.button_text }}
                  </span>
                {% else %}
                  <a
                    class="{% if item.button_type != 'link' %}button button-{% if item.button_type == 'outline' %}outline-{% elif item.button_type == 'gradient' %}gradient color-{% endif %}{{ item.button_color }}{% if item.enable_button_accent_line %} button-accent{% endif %}{% else %} link color-{{ item.button_color }} pe-{{ item.button_color }}{% endif %} button-{{ item.button_size }}"
                    href="{{ href }}"
                    {% if item.link.open_in_new_tab %}target="_blank"{% endif %}
                    {% if rel %}rel="{{ rel }}"{% endif %}
                  >
                    {{ item.button_text }}
                  </a>
                {% endif %}
              </div>
            {% endif %}
          {% if module.whole_card_link and item.link.url.href %}
            </a>
          {% endif %}
        </div>
      {# End Classic Card #}
  
      {# Classic Card (Icon) #} 
      {% elif module.variation == "var_2" %}
        <div class="cards-single-inner bg-{{ item.background_color }}{% if module.hover_behavior != "default" %} card-hover--{{ module.hover_behavior }}{% else %} card-hover--{{ theme.other.card_hover_behavior }}{% endif %}">
          {% if module.whole_card_link and item.link.url.href %}
            <a
              href="{{ href }}"
              {% if item.link.open_in_new_tab %}target="_blank"{% endif %}
              {% if rel %}rel="{{ rel }}"{% endif %}
            >
          {% endif %}
            <div class="card-icon color-{{ item.icon_color }}" style="height: {{ item.icon_height }}px; max-height: {{ item.icon_height }}px">
              {% icon name='{{ item.icon.name }}' style='{{ item.icon.type }}' unicode='{{ item.icon.unicode }}' icon_set='{{ item.icon.icon_set }}', no_wrapper=True %}
            </div>

            <div class="card-body text-{{ item.alignment }}">
              {% if item.subheading %}
                <label class="subheading color-{{ item.text_color }}">{{ item.subheading }}</label>
              {% endif %}
              {% if item.heading %}
                <{{ item.heading_tag }}
                  class="{% if item.heading_size != item.heading_tag %}{{ item.heading_size }}{% endif %} card-heading color-{{ item.text_color }}{% if item.heading_accent != "none" %} heading-accent--{{ item.heading_accent }} pe-{{ item.heading_accent_color }}{% endif %}">
                  <span>{{ item.heading }}</span>
                </{{ item.heading_tag }}>
              {% endif %}
              {% if item.main_text %}
                <div class="card-text color-{{ item.text_color }}">{{ item.main_text }}</div>
              {% endif %}
              {% if !module.whole_card_link and item.enable_social_links and item.social_links %}
                <div class="social-links justify-{{ item.alignment }}">
                  {% for item2 in item.social_links %}
                    {% set href = item2.social_link.url.href %}
                    {% if item2.social_link.url.type is equalto "EMAIL_ADDRESS" %}
                      {% set href = "mailto:" + href %}
                    {% endif %}

                    {% set rel = (item2.social_link.open_in_new_tab ? 'noopener ' : null) ~ (item2.social_link.no_follow ? 'nofollow' : null) %}

                    {% if item2.social_account != 'custom_icon' %}
                      {% set social_icon = item2.social_account %}
                    {% else %}
                      {% set social_icon = item2.custom_icon.name %}
                    {% endif %}

                    <a class="social-links-single bg-{{ item2.background_color }} color-{{ item2.icon_color }}" href="{{ href }}"
                      {% if item2.social_link.open_in_new_tab %}target="_blank"{% endif %}
                      {% if rel %}rel="{{ rel }}"{% endif %}
                    >
                      {% icon
                        name='{{ social_icon }}',
                        style='SOLID',
                        title='{{ social_icon }}',
                        unique_in_loop=True,
                        no_wrapper=True
                      %}
                    </a>
                  {% endfor %}
                </div>
              {% endif %}
            </div>
            {% if item.button_text and item.link.url.href %}
              <div class="card-button text-{{ item.alignment }}">
                {% if module.whole_card_link  %}
                  <span class="{% if item.button_type != 'link' %}button button-{% if item.button_type == 'outline' %}outline-{% elif item.button_type == 'gradient' %}gradient color-{% endif %}{{ item.button_color }}{% if item.enable_button_accent_line %} button-accent{% endif %}{% else %} link color-{{ item.button_color }} pe-{{ item.button_color }}{% endif %} button-{{ item.button_size }}">
                    {{ item.button_text }}
                  </span>
                {% else %}
                  <a
                    class="{% if item.button_type != 'link' %}button button-{% if item.button_type == 'outline' %}outline-{% elif item.button_type == 'gradient' %}gradient color-{% endif %}{{ item.button_color }}{% if item.enable_button_accent_line %} button-accent{% endif %}{% else %} link color-{{ item.button_color }} pe-{{ item.button_color }}{% endif %} button-{{ item.button_size }}"
                    href="{{ href }}"
                    {% if item.link.open_in_new_tab %}target="_blank"{% endif %}
                    {% if rel %}rel="{{ rel }}"{% endif %}
                  >
                    {{ item.button_text }}
                  </a>
                {% endif %}
              </div>
            {% endif %}
          {% if module.whole_card_link and item.link.url.href %}
            </a>
          {% endif %}
        </div>
      {# End Classic Card (Icon) #}
          
      {# Image with Overlay and Title #}
      {% elif module.variation == "var_3" %}
        <div class="cards-single-inner{% if module.hover_behavior != "default" %} card-hover--{{ module.hover_behavior }}{% else %} card-hover--{{ theme.other.card_hover_behavior }}{% endif %} cards-single-inner_{{ loop.index }}">
          <div class="card-image-wrapper">
            {% if item.link.url.href %}
              <a
                href="{{ href }}"
                {% if item.link.open_in_new_tab %}target="_blank"{% endif %}
                {% if rel %}rel="{{ rel }}"{% endif %}
              >
            {% endif %}
              <div class="card-image-bg" style="background-image: url('{{ resize_image_url(item.image.src, renderSize) }}');">
                {% if item.overlay_color_choice != 'transparent' %}
                  <div class="card-overlay" {% if module.style.custom_styling.overlay_color.color %}style="background: linear-gradient(0deg, {{ module.style.custom_styling.overlay_color.color }} 30%, rgba({{ module.style.custom_styling.overlay_color.color|convert_rgb }}, 0) 90%);"{% else %} data-overlay-color="{{ item.overlay_color_choice }}"{% endif %}></div>
                {% endif %}
                <div class="card-overlay-content">
                  <div class="card-body text-{{ item.alignment }}">
                    {% if item.subheading %}
                      <label class="subheading color-{{ item.overlay_text_color }}">{{ item.subheading }}</label>
                    {% endif %}
                    {% if item.heading %}
                      <{{ item.heading_tag }}
                        class="{% if item.heading_size != item.heading_tag %}{{ item.heading_size }}{% endif %} card-heading color-{{ item.overlay_text_color }}{% if item.heading_accent != "none" %} heading-accent--{{ item.heading_accent }} pe-{{ item.heading_accent_color }}{% endif %}">
                        <span>{{ item.heading }}</span>
                      </{{ item.heading_tag }}>
                    {% endif %}
                  </div>
                  {% if item.button_text and item.link.url.href %}
                    <div class="card-button text-{{ item.alignment }}">
                      <span class="{% if item.button_type != 'link' %}button button-{% if item.button_type == 'outline' %}outline-{% elif item.button_type == 'gradient' %}gradient color-{% endif %}{{ item.button_color }}{% if item.enable_button_accent_line %} button-accent{% endif %}{% else %} link color-{{ item.button_color }} pe-{{ item.button_color }}{% endif %} button-{{ item.button_size }}">
                        {{ item.button_text }}
                      </span>
                    </div>
                  {% endif %}
                </div>
              </div>
            {% if item.link.url.href %}
              </a>
            {% endif %}
          </div>
        </div>
      {# End Image with Overlay and Title #}

      {# End Image with Overlay and Title (Slide-in Content) #}
      {% elif module.variation == "var_4" %}
        <div class="cards-single-inner{% if module.hover_behavior != "default" %} card-hover--{{ module.hover_behavior }}{% else %} card-hover--{{ theme.other.card_hover_behavior }}{% endif %} cards-single-inner_{{ loop.index }}">
          <div class="card-image-wrapper">
            {% if item.link.url.href %}
              <a
                href="{{ href }}"
                {% if item.link.open_in_new_tab %}target="_blank"{% endif %}
                {% if rel %}rel="{{ rel }}"{% endif %}
              >
            {% endif %}
              <div class="card-image-bg" style="background-image: url('{{ resize_image_url(item.image.src, renderSize) }}');">
                {% if item.overlay_color_choice != 'transparent' %}
                  <div class="card-overlay" {% if module.style.custom_styling.overlay_color.color %}style="background: linear-gradient(0deg, {{ module.style.custom_styling.overlay_color.color }} 30%, rgba({{ module.style.custom_styling.overlay_color.color|convert_rgb }}, 0) 90%);"{% else %} data-overlay-color="{{ item.overlay_color_choice }}"{% endif %}></div>
                {% endif %}
                <div class="card-overlay-content">
                  <div class="card-body text-{{ item.alignment }}">
                    {% if item.subheading %}
                      <label class="subheading color-{{ item.overlay_text_color }}">{{ item.subheading }}</label>
                    {% endif %}
                    {% if item.heading %}
                      <{{ item.heading_tag }}
                        class="{% if item.heading_size != item.heading_tag %}{{ item.heading_size }}{% endif %} card-heading color-{{ item.overlay_text_color }}{% if item.heading_accent != "none" %} heading-accent--{{ item.heading_accent }} pe-{{ item.heading_accent_color }}{% endif %}">
                        <span>{{ item.heading }}</span>
                      </{{ item.heading_tag }}>
                    {% endif %}
                  </div>
                  {% if item.button_text and item.link.url.href %}
                    <div class="card-button text-{{ item.alignment }}">
                      <span class="{% if item.button_type != 'link' %}button button-{% if item.button_type == 'outline' %}outline-{% elif item.button_type == 'gradient' %}gradient color-{% endif %}{{ item.button_color }}{% if item.enable_button_accent_line %} button-accent{% endif %}{% else %} link color-{{ item.button_color }} pe-{{ item.button_color }}{% endif %} button-{{ item.button_size }}">
                        {{ item.button_text }}
                      </span>
                    </div>
                  {% endif %}
                </div>
              </div>
              <div class="card-content bg-{{ item.background_color }}">
                <div class="card-body text-{{ item.alignment }}">
                  {% if item.subheading %}
                    <label class="subheading color-{{ item.text_color }}">{{ item.subheading }}</label>
                  {% endif %}
                  {% if item.heading %}
                    <{{ item.heading_tag }}
                      class="{% if item.heading_size != item.heading_tag %}{{ item.heading_size }}{% endif %} card-heading color-{{ item.text_color }}{% if item.heading_accent != "none" %} heading-accent--{{ item.heading_accent }} pe-{{ item.heading_accent_color }}{% endif %}">
                      <span>{{ item.heading }}</span>
                    </{{ item.heading_tag }}>
                  {% endif %}
                  {% if item.main_text %}
                    <div class="card-text color-{{ item.text_color }}">{{ item.main_text }}</div>
                  {% endif %}
                </div>
                {% if item.button_text and item.link.url.href %}
                  <div class="card-button text-{{ item.alignment }}">
                    <span class="{% if item.button_type != 'link' %}button button-{% if item.button_type == 'outline' %}outline-{% elif item.button_type == 'gradient' %}gradient color-{% endif %}{{ item.button_color }}{% if item.enable_button_accent_line %} button-accent{% endif %}{% else %} link color-{{ item.button_color }} pe-{{ item.button_color }}{% endif %} button-{{ item.button_size }}">
                      {{ item.button_text }}
                    </span>
                  </div>
                {% endif %}
              </div>
            {% if item.link.url.href %}
              </a>
            {% endif %}
          </div>
        </div>
      {# End Image with Slide-in Content #}

      {# Image with Overlay and Title (Popup Content) #}
      {% elif module.variation == "var_5" %}
        <div class="cards-single-inner{% if module.hover_behavior != "default" %} card-hover--{{ module.hover_behavior }}{% else %} card-hover--{{ theme.other.card_hover_behavior }}{% endif %} cards-single-inner_{{ loop.index }}">
          <div class="card-image-wrapper">
            {% if item.link.url.href %}
              <a href="#popup_{{ name }}_{{ loop.index }}" class="popup-enabled">
            {% endif %}
              <div class="card-image-bg" style="background-image: url('{{ resize_image_url(item.image.src, renderSize) }}');">
                {% if item.overlay_color_choice != 'transparent' %}
                  <div class="card-overlay" {% if module.style.custom_styling.overlay_color.color %}style="background: linear-gradient(0deg, {{ module.style.custom_styling.overlay_color.color }} 30%, rgba({{ module.style.custom_styling.overlay_color.color|convert_rgb }}, 0) 90%);"{% else %} data-overlay-color="{{ item.overlay_color_choice }}"{% endif %}></div>
                {% endif %}
                <div class="card-overlay-content">
                  <div class="card-body text-{{ item.alignment }}">
                    {% if item.subheading %}
                      <label class="subheading color-{{ item.overlay_text_color }}">{{ item.subheading }}</label>
                    {% endif %}
                    {% if item.heading %}
                      <{{ item.heading_tag }}
                        class="{% if item.heading_size != item.heading_tag %}{{ item.heading_size }}{% endif %} card-heading color-{{ item.overlay_text_color }}{% if item.heading_accent != "none" %} heading-accent--{{ item.heading_accent }} pe-{{ item.heading_accent_color }}{% endif %}">
                        <span>{{ item.heading }}</span>
                      </{{ item.heading_tag }}>
                    {% endif %}
                  </div>
                  {% if item.button_text and item.link.url.href %}
                    <div class="card-button text-{{ item.alignment }}">
                      <span class="{% if item.button_type != 'link' %}button button-{% if item.button_type == 'outline' %}outline-{% elif item.button_type == 'gradient' %}gradient color-{% endif %}{{ item.button_color }}{% if item.enable_button_accent_line %} button-accent{% endif %}{% else %} link color-{{ item.button_color }} pe-{{ item.button_color }}{% endif %} button-{{ item.button_size }}">
                        {{ item.button_text }}
                      </span>
                    </div>
                  {% endif %}
                </div>
              </div>
            {% if item.link.url.href %}
              </a>
            {% endif %}
          </div>
        </div>

        <div id="popup_{{ name }}_{{ loop.index }}" class="popup mfp-hide">
          <div class="popup-inner bg-{{ item.background_color }}">
            <div class="popup-body text-{{ item.alignment }}">
              {% if item.subheading %}
                <label class="subheading color-{{ item.text_color }}">{{ item.subheading }}</label>
              {% endif %}
              {% if item.heading %}
                <{{ item.heading_size }} class="popup-heading color-{{ item.text_color }}{% if item.heading_accent != "none" %} heading-accent--{{ item.heading_accent }} pe-{{ item.heading_accent_color }}{% endif %}"><span>{{ item.heading }}</span></{{ item.heading_size }}>
              {% endif %}
              {% if item.main_text %}
                <div class="popup-text color-{{ item.text_color }}">{{ item.main_text }}</div>
              {% endif %}
              {% if item.enable_social_links and item.social_links %}
                <div class="social-links justify-{{ item.alignment }}">
                  {% for item2 in item.social_links %}
                    {% set href = item2.social_link.url.href %}
                    {% if item2.social_link.url.type is equalto "EMAIL_ADDRESS" %}
                      {% set href = "mailto:" + href %}
                    {% endif %}

                    {% set rel = (item2.social_link.open_in_new_tab ? 'noopener ' : null) ~ (item2.social_link.no_follow ? 'nofollow' : null) %}

                    {% if item2.social_account != 'custom_icon' %}
                      {% set social_icon = item2.social_account %}
                    {% else %}
                      {% set social_icon = item2.custom_icon.name %}
                    {% endif %}

                    <a class="social-links-single bg-{{ item2.background_color }} color-{{ item2.icon_color }}" href="{{ href }}"
                      {% if item2.social_link.open_in_new_tab %}target="_blank"{% endif %}
                      {% if rel %}rel="{{ rel }}"{% endif %}
                    >
                      {% icon
                        name='{{ social_icon }}',
                        purpose='semantic',
                        style='SOLID',
                        title='{{ item2.hover_title }}',
                        unique_in_loop=True,
                        no_wrapper=True
                      %}
                    </a>
                  {% endfor %}
                </div>
              {% endif %}
            </div>
          </div>
        </div>
      {# End Image with Overlay and Title (Popup Content) #}
      {% endif %}
      
    </div>
  {% endfor %}
</div>
</div>

{% require_css %}
  <style>
    {% scope_css %}
      .card-image-wrapper,
      .card-image-bg {
        padding-bottom: {{ module.image_height / module.image_width * 100 ~ '%' }};
      }

      {% unless module.layout == "slider" %}
        @media (max-width: 767px) {
          .cards-single {
            transition-delay: {{ module.animation_settings.animation_delay ~ "ms" }} !important;
          }
        }
        @media (min-width: 768px) and (max-width: 991px) {
          .cards-single:nth-child(odd) {
            transition-delay: {{ module.animation_settings.animation_delay ~ "ms" }} !important;
          }
          .cards-single:nth-child(even) {
            transition-delay: {{ module.animation_settings.animation_delay + 300 ~ "ms" }} !important;
          }
        }
      {% endunless %}
    
      {# Module custom styles #}
      .cards-wrapper {
        {% if module.style.spacing.spacing %}
          {{ module.style.spacing.spacing.css }}
        {% endif %}
        {% if module.style.background.background_type == 'none' %}
          background: none;
        {% elif module.style.background.background_type == 'color' %}
          background: rgba({{ module.style.background.background_color.color|convert_rgb }}, {{ module.style.background.background_color.opacity / 100 }});
        {% elif module.style.background.background_type == 'gradient' %}
          background: {{ module.style.background.background_gradient.css }};
        {% elif module.style.background.background_type == 'image' %}
          {{ module.style.background.background_image.css }};
        {% endif %}
      }
      .cards {
        {% if module.style.item_spacing.item_spacing_horizontal != none %}
          margin-left: -{{ module.style.item_spacing.item_spacing_horizontal / 2 ~ 'px' }};
          margin-right: -{{ module.style.item_spacing.item_spacing_horizontal / 2 ~ 'px' }};
        {% endif %}
        {% if module.style.item_spacing.item_spacing_vertical != none %}
          margin-top: -{{ module.style.item_spacing.item_spacing_vertical / 2 ~ 'px' }};
        {% endif %}
      }
      {% if module.style.item_spacing.item_spacing_vertical != none %}
        .cards:not(.slider-enabled) {
            margin-bottom: -{{ module.style.item_spacing.item_spacing_vertical / 2 ~ 'px' }};  
        }
      {% endif %}
      .cards-single {
        {% if module.style.item_spacing.item_spacing_horizontal != none %}
          padding-left: {{ module.style.item_spacing.item_spacing_horizontal / 2 ~ 'px' }};
          padding-right: {{ module.style.item_spacing.item_spacing_horizontal / 2 ~ 'px' }};
        {% endif %}
        {% if module.style.item_spacing.item_spacing_vertical != none %}
          padding-top: {{ module.style.item_spacing.item_spacing_vertical / 2 ~ 'px' }};
          padding-bottom: {{ module.style.item_spacing.item_spacing_vertical / 2 ~ 'px' }};
        {% endif %}
        {% if module.style.custom_styling.border_radius != none %}
          border-radius: {{ module.style.custom_styling.border_radius ~ 'px' }};
        {% endif %}
      }
      {% if module.style.custom_styling.border_radius != none %}
        .cards-single-inner {
          border-radius: {{ module.style.custom_styling.border_radius ~ 'px' }};
        }
      {% endif %}
    {% end_scope_css %}
  </style>
{% end_require_css %}