<div class="text-wrapper{% if module.enable_sticky_column %} sticky{% endif %}">
<div id="{{ module.custom_id }}" class="text text-{{ module.alignment }}{% if module.text_color != "default"  %} color-{{ module.text_color }}{% endif %} {{ module.custom_class }}"
  {% if module.enable_animation %}
    {% if module.animation_settings.animation_type == "default" %}
      data-aos="{{ theme.animations.animation_type }}"
    {% else %}
      data-aos="{{ module.animation_settings.animation_type }}"
    {% endif %}
    data-aos-delay="{{ module.animation_settings.animation_delay }}"
    {% if module.animation_settings.override_default_animation_duration %}
      data-aos-duration="{{ module.animation_settings.animation_duration }}"
    {% endif %}
  {% endif %}
>
  {% if module.subheading %}
    <label class="subheading">{{ module.subheading }}</label>
  {% endif %}
  
  {% if module.heading %}
    <{{ module.heading_tag }}
      class="{% if module.heading_size != module.heading_tag %}{{ module.heading_size }}{% endif %}{% if module.text_color != "default"  %} color-{{ module.text_color }}{% endif %}{% if module.heading_accent != "none" %} heading-accent--{{ module.heading_accent }} pe-{{ module.heading_accent_color }}{% endif %}{% if module.enable_heading_shadow %} text-shadow{% endif %}">
      <span>{{ module.heading }}</span>
	  </{{ module.heading_tag }}>
	{% endif %}

  {% if module.intro_text %}
	  <div class="intro-text">
  	  {{ module.intro_text }}
  	</div>
	{% endif %}
  
	{% if module.main_text %}
	  <div>
	    {{ module.main_text }}
	  </div>
	{% endif %}
</div>
</div>

{% require_css %}
  <style>
    {% scope_css %}
    {# Module custom styles #}
      .text-wrapper {
        {% if module.style.spacing.spacing %}
          {{ module.style.spacing.spacing.css }}
        {% endif %}
        {% if module.style.background.background_type == 'none' %}
          background: none;
        {% elif module.style.background.background_type == 'color' %}
          background: rgba({{ module.style.background.background_color.color|convert_rgb }}, {{ module.style.background.background_color.opacity / 100 }});
        {% elif module.style.background.background_type == 'gradient' %}
          background: {{ module.style.background.background_gradient.css }};
        {% elif module.style.background.background_type == 'image' %}
          {{ module.style.background.background_image.css }};
        {% endif %}
      }
    {% end_scope_css %}
  </style>
{% end_require_css %}