{% if module.link.url.type is equalto 'EMAIL_ADDRESS' %}
  {% set href = 'mailto:' ~ module.link.url.href %}
{% elif module.link.url.href == '/' %}
  {% set href = module.link.url.href %}
{% else %}
  {% unless (module.link.url.href is string_containing '//') or (module.link.url.href is string_containing 'tel:') or (module.link.url.href is string_startingwith '#') or !module.link.url.href %}
    {% set href = '//' ~ module.link.url.href %}
  {% else %}
    {% set href = module.link.url.href or '' %}
  {% endunless %}
{% endif %}

{% set rel = (module.link.open_in_new_tab ? 'noopener ' : null) ~ (module.link.no_follow ? 'nofollow' : null) %}

<div class="image-wrapper{% if module.enable_sticky_column %} sticky{% endif %}">
<div id="{{ module.custom_id }}" class="image justify-{{ module.alignment }} image--{{ module.accent_lines }} {{ module.custom_class }} image_{{ name|regex_replace('-', '_') }}"
  {% if module.enable_animation %}
    {% if module.animation_settings.animation_type == "default" %}
      data-aos="{{ theme.animations.animation_type }}"
    {% else %}
      data-aos="{{ module.animation_settings.animation_type }}"
    {% endif %}
    data-aos-delay="{{ module.animation_settings.animation_delay }}"
    {% if module.animation_settings.override_default_animation_duration %}
      data-aos-duration="{{ module.animation_settings.animation_duration }}"
    {% endif %}
  {% endif %}
>
	{% if module.image.src %}
		{% set sizeAttrs = 'width="{{ module.image.width }}" height="{{ module.image.height }}"' %}
    {% set renderSize = module.image.width %}
		{% if module.image.size_type == 'auto_custom_max' %}
      {% set sizeAttrs = 'width="{{ module.image.max_width }}" height="{{ module.image.max_height }}"' %}
      {% set renderSize = module.image.max_height %}
		{% endif %}
    {% set loadingAttr = module.image.loading != 'disabled' ? 'loading="{{ module.image.loading }}"' : '' %}
    
    {% if ( module.link_or_lightbox == "link" and module.link.url.href ) or module.link_or_lightbox == "lightbox" %}
      <a
        {% if module.link_or_lightbox == "lightbox" %}class="popup-image-enabled"{% endif %}
        href="{% if module.link_or_lightbox == "lightbox" %}{{ module.image.src }}{% else %}{{ href }}{% endif %}"
        {% if module.link.open_in_new_tab %}target="_blank"{% endif %}
        {% if rel %}rel="{{ rel }}"{% endif %}
      >
    {% endif %}
      {% if module.accent_lines == "frame" or module.accent_lines == "offset-frame" %}
        <div class="image-frame pe-border-{{ module.accent_line_color }}{% if theme.other.general_border_radius %} rounded{% endif %}">
      {% endif %}
          <img src="{{ resize_image_url(module.image.src, renderSize) }}" alt="{{ module.image.alt }}" {{ loadingAttr }} {{ sizeAttrs }} class="{% if theme.other.general_border_radius %}rounded{% endif %}">
      {% if module.accent_lines == "frame" or module.accent_lines == "offset-frame" %}    
        </div>
      {% endif %}
      
      {% if module.accent_lines == "shape-one" %}
        <svg version="1.2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" width="100" height="100">
          <title>Shape One</title>
          <defs>
            <linearGradient id="g1_{{ name|regex_replace('-', '_') }}" x1="85.3%" y1="87%" x2="36.9%" y2="44.5%" gradientUnits="userSpaceOnUse">
              <stop offset="0" stop-color="#ffffff"/>
              <stop offset="1" stop-color="#ffffff" stop-opacity="0"/>
            </linearGradient>
            <linearGradient id="g2_{{ name|regex_replace('-', '_') }}" x1="88.3%" y1="19.5%" x2="87.3%" y2="17.8%" gradientUnits="userSpaceOnUse">
              <stop offset="0" stop-color="#ffffff"/>
              <stop offset="1" stop-color="#ffffff"/>
            </linearGradient>
            <linearGradient id="g3_{{ name|regex_replace('-', '_') }}" x1="44%" y1="99.3%" x2="42.6%" y2="97%" gradientUnits="userSpaceOnUse">
              <stop offset="0" stop-color="#ffffff"/>
              <stop offset="1" stop-color="#ffffff"/>
            </linearGradient>
          </defs>
          <path id="Layer" fill-rule="evenodd" d="m36 2.7c12.7-3.9 26.1-2.4 37.7 3.9 23.8 13.1 32.5 43 19.4 66.8-6.3 11.3-16.5 19.6-28.9 23.3-12.8 3.9-26.2 2.4-37.8-3.9-11.5-6.4-19.8-16.8-23.5-29.4-3.7-12.6-2.2-25.9 4.1-37.3 6.3-11.4 16.5-19.7 29-23.4zm28.1 93.7c12.2-3.7 22.5-12 28.6-23.2 13-23.6 4.4-53.2-19.2-66.2-11.5-6.3-24.9-7.7-37.5-3.9-12.3 3.6-22.5 11.9-28.6 23.1-6.3 11.4-7.8 24.6-4.1 37.1 3.6 12.5 11.9 22.8 23.3 29.1 11.5 6.3 24.8 7.7 37.5 4z" fill="url(#g1_{{ name|regex_replace('-', '_') }})"/>
          <path id="Layer" d="m87.6 19.6c-0.5-0.1-0.9-0.6-0.7-1.2 0.1-0.5 0.6-0.8 1.1-0.7 0.6 0.2 0.9 0.7 0.7 1.2-0.1 0.5-0.6 0.8-1.1 0.7z" fill="url(#g2_{{ name|regex_replace('-', '_') }})"/>
          <path id="Layer" d="m42.9 99.4c-0.7-0.1-1.1-0.9-0.9-1.6 0.1-0.7 0.9-1.2 1.6-1 0.7 0.2 1.2 0.9 1 1.7-0.2 0.7-0.9 1.1-1.7 0.9z" fill="url(#g3_{{ name|regex_replace('-', '_') }})"/>
        </svg>
      {% elif module.accent_lines == "shape-two" %}
        <svg version="1.2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 122" width="100" height="122">
          <title>Shape Two</title>
          <path id="Layer" fill-rule="evenodd" d="m24 73.5c6.4-0.3 12.6 1.9 17.4 6.2 9.8 8.8 10.6 24 1.7 33.7-4.3 4.7-10.1 7.5-16.4 7.8-6.5 0.4-12.7-1.8-17.5-6.2-4.7-4.2-7.5-10.1-7.9-16.5-0.3-6.3 1.9-12.5 6.2-17.2 4.3-4.6 10.2-7.4 16.5-7.8zm2.6 47.3c6.3-0.4 11.9-3.1 16.1-7.7 8.8-9.5 8-24.4-1.6-33.1-4.7-4.2-10.8-6.4-17.2-6-6.2 0.3-11.8 3.1-16 7.6-8.8 9.6-8 24.4 1.6 33.1 4.7 4.3 10.8 6.4 17.1 6.1z" fill="#ffffff"/>
          <path id="Layer" fill-rule="evenodd" d="m54.7 0.8c11.3-0.7 22.3 3.2 30.7 10.8 17.2 15.6 18.5 42.1 2.8 59.2-7.5 8.3-17.7 13.1-28.8 13.8-11.4 0.6-22.3-3.3-30.7-10.9-8.3-7.5-13.2-17.8-13.8-29-0.5-11.2 3.4-22 10.9-30.2 7.5-8.2 17.7-13.1 28.9-13.7zm4.7 83.3c11-0.6 21.1-5.4 28.5-13.5 15.4-17 14.1-43.2-2.9-58.6-8.3-7.5-19.1-11.4-30.4-10.7-11 0.6-21 5.4-28.4 13.5-7.5 8.2-11.3 18.8-10.8 29.9 0.5 11.1 5.4 21.3 13.6 28.7 8.3 7.5 19.1 11.3 30.4 10.7z" fill="#ffffff" opacity="0.7"/>
          <path id="Layer" fill-rule="evenodd" d="m55 4.2c10.4-0.6 20.4 2.9 28 9.9 15.8 14.2 16.9 38.5 2.7 54.1-6.9 7.5-16.2 11.9-26.4 12.5-10.3 0.6-20.3-2.9-28-9.9-7.6-6.9-12.1-16.3-12.6-26.5-0.5-10.2 3.1-20.1 10-27.6 6.8-7.5 16.1-11.9 26.3-12.5zm4.3 76.1c10-0.6 19.3-5 26-12.3 14.1-15.5 13-39.5-2.6-53.6-7.6-6.9-17.4-10.3-27.7-9.8-10.1 0.6-19.3 5-26 12.4-6.9 7.5-10.4 17.2-9.9 27.3 0.5 10.1 4.9 19.4 12.4 26.2 7.6 6.9 17.5 10.4 27.8 9.8z" fill="#ffffff" opacity="0.7"/>
          <path id="Layer" d="m1 95.4c-0.4-0.4-0.4-1 0-1.4 0.3-0.4 1-0.5 1.4-0.1 0.4 0.4 0.4 1 0 1.4-0.3 0.4-1 0.5-1.4 0.1z" fill="#ffffff"/>
          <path id="Layer" d="m94.2 26.9c-0.7-0.6-0.8-1.8-0.1-2.5 0.7-0.8 1.8-0.8 2.6-0.1 0.7 0.6 0.8 1.8 0.1 2.5-0.7 0.7-1.8 0.8-2.6 0.1z" fill="#ffffff"/>
        </svg>
      {% endif %}
    {% if ( module.link_or_lightbox == "link" and module.link.url.href ) or module.link_or_lightbox == "lightbox" %}
      </a>
    {% endif %}
	{% endif %}
</div>
</div>

{% if module.accent_lines == "shape-one" or module.accent_lines == "shape-two" %}
{% require_js %}
  <script>
    {% if module.style.custom_styling.accent_line_color.color %}
      var accentLineColor_{{ name|regex_replace('-', '_') }} = '{{ module.style.custom_styling.accent_line_color.color }}';
    {% else %}
      var accentLineColor_{{ name|regex_replace('-', '_') }} = getComputedStyle(document.body).getPropertyValue('--color-{{ module.accent_line_color }}');
    {% endif %}
    {% if module.accent_lines == "shape-one" %}
      $('.image_{{ name|regex_replace('-', '_') }} linearGradient > stop').css('stop-color', accentLineColor_{{ name|regex_replace('-', '_') }});
    {% elif module.accent_lines == "shape-two" %}
      $('.image_{{ name|regex_replace('-', '_') }} svg path').css('fill', accentLineColor_{{ name|regex_replace('-', '_') }});
    {% endif %}
  </script>
{% end_require_js %}
{% endif %}

{% if module.style.spacing.spacing %}
{% require_css %}
  <style>
    {% scope_css %}
      {# Module custom styles #}
      {% if module.style.spacing.spacing.css %}
        .image {
          {{ module.style.spacing.spacing.css }}
        }
      {% endif %}
      {% if module.style.custom_styling.border_radius != none %}
        .image img,
        .image-frame:before {
          border-radius: {{ module.style.custom_styling.border_radius ~ 'px' }};
        }
      {% endif %}
      {% if module.style.custom_styling.accent_line_color.color %}
        .image-frame:before {
          border-color: rgba({{ module.style.custom_styling.accent_line_color.color|convert_rgb }}, {{ module.style.custom_styling.accent_line_color.opacity / 100 }});
        }
      {% endif %}
	  .image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}
.image img {
  display: block;
  position: relative;
  z-index: 1;
}
.image--frame .image-frame {
  padding: .75rem;
  position: relative;
}
.image--frame .image-frame:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-width: 3px;
  border-style: solid;
}
.image--offset-frame .image-frame {
  padding: 0 .75rem .75rem 0;
  position: relative;
}
.image--offset-frame .image-frame:before {
  content: "";
  position: absolute;
  top: .75rem;
  right: 0;
  bottom: 0;
  left: .75rem;
  border-width: 3px;
  border-style: solid;
}
.image svg {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  height: 100%;
  width: 100%;
}
.image--shape-one {
  padding: 5rem;
}
.image--shape-two {
  padding: 3rem;
}

@media (max-width: 767px) {
  .image--shape-one {
    padding: 3rem;
  }
  .image--shape-two {
    padding: 2rem;
  }
}
    {% end_scope_css %}
  </style>
{% end_require_css %}
{% endif %}