<div class="video-wrapper text-{{ module.alignment }} justify-{{ module.alignment }}{% if module.enable_sticky_column %} sticky{% endif %}">
<div id="{{ module.custom_id }}" class="video video-{{ name }} {{ module.custom_class }}"
  {% if module.enable_animation %}
    {% if module.animation_settings.animation_type == "default" %}
      data-aos="{{ theme.animations.animation_type }}"
    {% else %}
      data-aos="{{ module.animation_settings.animation_type }}"
    {% endif %}
    data-aos-delay="{{ module.animation_settings.animation_delay }}"
    {% if module.animation_settings.override_default_animation_duration %}
      data-aos-duration="{{ module.animation_settings.animation_duration }}"
    {% endif %}
  {% endif %}
>
  {% if module.enable_thumbnail and module.video_thumbnail.src %}  
    <a class="video-thumbnail{% if module.enable_popup %} popup-video-enabled popup_trigger_{{ name }}{% else %} play-video{% endif %}" href="#popup_{{ name }}">
      {% if module.video_thumbnail.src %}
        <div class="color-{{ module.play_button_color }}" style="background-image: url({% if module.enable_custom_size and module.video_custom_width %}{{ resize_image_url(module.video_thumbnail.src, module.video_custom_width) }}{% else %}{{ module.video_thumbnail.src }}{% endif %})">
          {% icon name="play-circle" style="SOLID" unicode="f144", no_wrapper=True %}
        </div>
      {% endif %}
    </a>
  {% endif %}

  {% if module.enable_popup and module.enable_thumbnail %}
    <div id="popup_{{ name }}" class="popup popup-video mfp-hide">
      <div class="popup-inner">
  {% else %}
    <div class="video-inner">
  {% endif %}
        {% if module.video_url is string_containing 'youtube.com' or module.video_url is string_containing 'youtu.be' %}
          {% set videoUrl = module.video_url|string|split('=') %}
          {% set videoCode = videoUrl[1]|truncatehtml(11) %}
          {% set videoEmbedUrl = "https://www.youtube.com/embed/" + videoCode %}
          <div class="video-iframe-wrapper video-iframe-wrapper--youtube" data-src="{{ videoEmbedUrl }}">
            {% unless module.enable_thumbnail %}
              <iframe src="{{ videoEmbedUrl }}" title="YouTube video player" frameborder="0" allow="autoplay; accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            {% endunless %}
          </div>
        {% elif module.video_url is string_containing 'vimeo.com' %}
          {% set videoUrl = module.video_url|string|split('/') %}
          {% set videoCode = videoUrl|last|truncatehtml(9) %}
          {% set videoEmbedUrl = "https://player.vimeo.com/video/" + videoCode %}
          <div class="video-iframe-wrapper video-iframe-wrapper--vimeo" data-src="{{ videoEmbedUrl }}">
            {% unless module.enable_thumbnail %}
              <iframe src="{{ videoEmbedUrl }}" frameborder="0" allow="autoplay; fullscreen" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
            {% endunless %}
          </div>
          <script src="https://player.vimeo.com/api/player.js"></script>
        {% else %}
          <video controls>
            <source src="{{ module.video_url }}" type="video/mp4">
          </video>
        {% endif %}
  {% if module.enable_popup and module.enable_thumbnail %}
      </div>
    </div>
  {% else %}
    </div>
  {% endif %}
</div>
</div>

{% require_css %}
  <style>
    {% scope_css %}
      .video-iframe-wrapper,
      .video-thumbnail > div {
        {% if module.video_aspect_ratio == 'vertical' %}
          padding-bottom: 211.11%;
        {% elif module.video_aspect_ratio == 'fullscreen' %}
          padding-bottom: 75%;
        {% else %}
          padding-bottom: 56.25%;
        {% endif %}
      }
      {% if module.enable_custom_size %}
        .video-wrapper {
          display: flex;
        }
        {% unless module.enable_popup %}
          .video-thumbnail > div {
            padding: 0;
          }
        {% endunless %}
        .video-inner,
        .video-thumbnail > div {
          width: {{ module.video_custom_width ~ 'px' }};
          {% if !module.enable_popup and module.enable_thumbnail %}
            {% if module.video_aspect_ratio == 'vertical' %}
              height: {{ 0.21111 * module.video_custom_width  ~ 'px' }};
            {% elif module.video_aspect_ratio == 'fullscreen' %}
              height: {{ 0.75 * module.video_custom_width  ~ 'px' }};
            {% else %}
              height: {{ 0.5625 * module.video_custom_width  ~ 'px' }};
            {% endif %}
          {% endif %}
        }
        /*.video-thumbnail > div {
          display: table-cell;
        }*/
      {% endif %}
      
      {# Module custom styles #}
      .video-wrapper {
        {% if module.style.spacing.spacing %}
          {{ module.style.spacing.spacing.css }}
        {% endif %}
        {% if module.style.background.background_type == 'none' %}
          background: none;
        {% elif module.style.background.background_type == 'color' %}
          background: rgba({{ module.style.background.background_color.color|convert_rgb }}, {{ module.style.background.background_color.opacity / 100 }});
        {% elif module.style.background.background_type == 'gradient' %}
          background: {{ module.style.background.background_gradient.css }};
        {% elif module.style.background.background_type == 'image' %}
          {{ module.style.background.background_image.css }};
        {% endif %}
      }
      .video-thumbnail svg {
        fill: {{ module.style.custom_styling.play_button_color.color }};
      }
      {% if module.enable_popup and module.style.custom_styling.border_radius != none %}
        .video-thumbnail > div {
          border-radius: {{ module.style.custom_styling.border_radius ~ 'px' }};
        }
      {% endif %}
    {% end_scope_css %}
  </style>
{% end_require_css %}

{% require_js %}
  <script>
    /* Video Thumbnail Play */
    $('.video-thumbnail.play-video').on('click', function(){
      var openedPopup = $(this).attr('href');
      if ($(this).next().find('.video-iframe-wrapper--youtube').length) {
        var videoSource = $(this).next().find('.video-iframe-wrapper').data('src');
        $(this).next().find('.video-iframe-wrapper').html('<iframe src="' + videoSource + '?autoplay=1" title="YouTube video player" frameborder="0" allow="autoplay; accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>');
      } else if ($(this).next().find('.video-iframe-wrapper--vimeo').length) {
        var videoSource = $(this).next().find('.video-iframe-wrapper').data('src');
        $(this).next().find('.video-iframe-wrapper').html('<iframe src="' + videoSource + '?autoplay=1" frameborder="0" allow="autoplay; fullscreen" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>');
      } else {
        $(this).next().find('video').get(0).play();
      }
      $(this).hide();
    });
    
    $('.popup_trigger_{{ name }}').on('click', function(){
      var videoSource = $('#popup_{{ name }}').find('.video-iframe-wrapper').data('src');
      if ($('#popup_{{ name }}').find('.video-iframe-wrapper--youtube').length) {
        $('#popup_{{ name }}').find('.video-iframe-wrapper').html('<iframe src="' + videoSource + '?autoplay=1" title="YouTube video player" frameborder="0" allow="autoplay; accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>');
      } else if ($('#popup_{{ name }}').find('.video-iframe-wrapper--vimeo').length) {
        var videoSource = $('#popup_{{ name }}').find('.video-iframe-wrapper').data('src');
        $('#popup_{{ name }}').find('.video-iframe-wrapper').html('<iframe src="' + videoSource + '?autoplay=1" frameborder="0" allow="autoplay; fullscreen" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>');
      } else {
        $('#popup_{{ name }}').html('<video controls><source src="{{ module.video_url }}" type="video/mp4"></video>');
        $('#popup_{{ name }}').find('video').get(0).play();
      }
    });   
  </script>
{% end_require_js %}
