.video-wrapper {
  width: 100%;
}
.video {
  position: relative;
}
.video-inner {
  width: 100%;
  max-width: 100%;
}
.video video,
.popup-video video {
  max-width: 100%;
  display: block;
}
.video-iframe-wrapper {
  position: relative;
  overflow: hidden;
  max-width: 100%;
  padding-bottom: 56.25%;
  margin: 0;
}
.video-iframe-wrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none;
}
.video-thumbnail {
  display: block;
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
}
.video-thumbnail.play-video {
  position: absolute;
  overflow: hidden
}
.video-thumbnail > div {
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  max-width: 100%;
  max-height: 100%;
  position: relative;
}
.video-thumbnail svg {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 100px;
}