{% if module.link.url.type is equalto 'EMAIL_ADDRESS' %}
  {% set href = 'mailto:' ~ module.link.url.href %}
{% elif module.link.url.href == '/' %}
  {% set href = module.link.url.href %}
{% else %}
  {% unless (module.link.url.href is string_containing '//') or (module.link.url.href is string_containing 'tel:') or (module.link.url.href is string_startingwith '#') or !module.link.url.href %}
    {% set href = '//' ~ module.link.url.href %}
  {% else %}
    {% set href = module.link.url.href or '' %}
  {% endunless %}
{% endif %}

{% set rel = (module.link.open_in_new_tab ? 'noopener ' : null) ~ (module.link.no_follow ? 'nofollow' : null) %}

<div id="{{ module.custom_id }}" class="button-wrapper text-{{ module.alignment }}{% if module.center_on_small_screens %} sm-text-center{% endif %}{% if module.enable_sticky_column %} sticky{% endif %} {{ module.custom_class }}"
  {% if module.enable_animation %}
    {% if module.animation_settings.animation_type == "default" %}
      data-aos="{{ theme.animations.animation_type }}"
    {% else %}
      data-aos="{{ module.animation_settings.animation_type }}"
    {% endif %}
    data-aos-delay="{{ module.animation_settings.animation_delay }}"
    {% if module.animation_settings.override_default_animation_duration %}
      data-aos-duration="{{ module.animation_settings.animation_duration }}"
    {% endif %}
  {% endif %}
>
  <a
    class="{% if module.button_type != 'link' %}button button-{% if module.button_type == 'outline' %}outline-{% elif module.button_type == 'gradient' %}gradient color-{% endif %}{{ module.button_color }}{% if module.enable_accent_line %} button-accent{% endif %}{% else %} link color-{{ module.button_color }} pe-{{ module.button_color }}{% endif %} button-{{ module.button_size }}{% if module.enable_popup %} popup-enabled{% endif %}"
    href="{% if module.enable_popup %}#popup_{{ name }}{% else %}{{ href }}{% endif %}"
    {% if module.link.open_in_new_tab %}target="_blank"{% endif %}
    {% if rel %}rel="{{ rel }}"{% endif %}
  >
    {{ module.text }}
  </a>
</div>

{% if module.enable_popup %}
  <div id="popup_{{ name }}" class="popup mfp-hide {{ module.popup.custom_class }}">
    <div class="popup-inner bg-{{ module.popup.background_color }}">
      {% if module.popup.image.src %}
        {% set sizeAttrs = 'width="{{ module.popup.image.width }}" height="{{ module.popup.image.height }}"' %}
        {% if module.popup.image.size_type == 'auto' %}
          {% set sizeAttrs = 'style="max-width: 100%; height: auto;"' %}
        {% elif module.popup.image.size_type == 'auto_custom_max' %}
          {% set sizeAttrs = 'width="{{ module.popup.image.max_width }}" height="{{ module.popup.image.max_height }}" style="max-width: 100%; height: auto;"' %}
        {% endif %}
         {% set loadingAttr = module.popup.image.loading != 'disabled' ? 'loading="{{ module.popup.image.loading }}"' : '' %}
        <div class="popup-image">
          <img src="{{ module.popup.image.src }}" alt="{{ module.popup.image.alt }}" {{ loadingAttr }} {{ sizeAttrs }}>
        </div>
      {% endif %}
      <div class="popup-body text-{{ module.popup.alignment }}">
        {% if module.popup.subheading %}
          <label class="subheading color-{{ module.popup.text_color }}">{{ module.popup.subheading }}</label>
        {% endif %}
        {% if module.popup.heading %}
          <{{ module.popup.heading_size }} class="popup-heading color-{{ module.popup.text_color }}{% if module.popup.heading_acceny != "none" %} heading-accent--{{ module.popup.heading_accent }}{% endif %}">
            <span>{{ module.popup.heading }}</span>
          </{{ module.popup.heading_size }}>
        {% endif %}
        {% if module.popup.text %}
          <div class="popup-text color-{{ module.popup.text_color }}">{{ module.popup.text }}</div>
        {% endif %}
      
        {% if ( module.popup.button_1.popup_button_1_text and module.popup.button_1.popup_button_1_link.url.href ) or ( module.popup.button_2.popup_button_2_text and module.popup.button_2.popup_button_2_link.url.href ) %}
          <div class="popup-buttons justify-{{ module.popup.alignment }}">
            {% if module.popup.button_1.popup_button_1_text and module.popup.button_1.popup_button_1_link.url.href %}
              {% if module.popup.button_1.popup_button_1_link.url.type is equalto 'EMAIL_ADDRESS' %}
                {% set href = 'mailto:' ~ module.popup.button_1.popup_button_1_link.url.href %}
              {% elif module.popup.button_1.popup_button_1_link.url.href == '/' %}
                {% set href = module.popup.button_1.popup_button_1_link.url.href %}
              {% else %}
                {% unless (module.popup.button_1.popup_button_1_link.url.href is string_containing '//') or (module.popup.button_1.popup_button_1_link.url.href is string_containing 'tel:') or (module.popup.button_1.popup_button_1_link.url.href  is string_startingwith '#') or !module.popup.button_1.popup_button_1_link.url.href %}
                  {% set href = '//' ~ module.popup.button_1.popup_button_1_link.url.href %}
                {% else %}
                  {% set href = module.popup.button_1.popup_button_1_link.url.href or '' %}
                {% endunless %}
              {% endif %}
              {% set rel = (module.popup.button_1.popup_button_1_link.open_in_new_tab ? 'noopener ' : null) ~ (module.popup.button_1.popup_button_1_link.no_follow ? 'nofollow' : null) %}
              <span>
                <a
                  class="{% if module.popup.button_1.popup_button_1_type != 'link' %}button button-{% if module.popup.button_1.popup_button_1_type == 'outline' %}outline-{% elif module.popup.button_1.popup_button_1_type == 'gradient' %}gradient color-{% endif %}{{ module.popup.button_1.popup_button_1_color }}{% if module.popup.button_1.enable_popup_button_1_accent_line %} button-accent{% endif %}{% else %} link color-{{ module.popup.button_1.popup_button_1_color }} pe-{{ module.popup.button_1.popup_button_1_color }}{% endif %} button-{{ module.popup.button_1.popup_button_1_size }}"
                  href="{{ href }}"
                  {% if module.popup.button_1.popup_button_1_link.open_in_new_tab %}target="_blank"{% endif %}
                  {% if rel %}rel="{{ rel }}"{% endif %}
                >
                  {{ module.popup.button_1.popup_button_1_text }}
                </a>
              </span>
            {% endif %}

            {% if module.popup.button_2.popup_button_2_text and module.popup.button_2.popup_button_2_link.url.href %}
              {% if module.popup.button_2.popup_button_2_link.url.type is equalto 'EMAIL_ADDRESS' %}
                {% set href = 'mailto:' ~ module.popup.button_2.popup_button_2_link.url.href %}
              {% elif module.popup.button_2.popup_button_2_link.url.href == '/' %}
                {% set href = module.popup.button_2.popup_button_2_link.url.href %}
              {% else %}
                {% unless (module.popup.button_2.popup_button_2_link.url.href is string_containing '//') or (module.popup.button_2.popup_button_2_link.url.href is string_containing 'tel:') or (module.popup.button_2.popup_button_2_link.url.href  is string_startingwith '#') or !module.popup.button_2.popup_button_2_link.url.href %}
                  {% set href = '//' ~ module.popup.button_2.popup_button_2_link.url.href %}
                {% else %}
                  {% set href = module.popup.button_2.popup_button_2_link.url.href or '' %}
                {% endunless %}
              {% endif %}
              {% set rel = (module.popup.button_2.popup_button_2_link.open_in_new_tab ? 'noopener ' : null) ~ (module.popup.button_2.popup_button_2_link.no_follow ? 'nofollow' : null) %}
              <span>
                <a
                  class="{% if module.popup.button_2.popup_button_2_type != 'link' %}button button-{% if module.popup.button_2.popup_button_2_type == 'outline' %}outline-{% elif module.popup.button_2.popup_button_2_type == 'gradient' %}gradient color-{% endif %}{{ module.popup.button_2.popup_button_2_color }}{% if module.popup.button_2.enable_popup_button_2_accent_line %} button-accent{% endif %}{% else %} link color-{{ module.popup.button_2.popup_button_2_color }} pe-{{ module.popup.button_2.popup_button_2_color }}{% endif %} button-{{ module.popup.button_2.popup_button_2_size }}"
                  href="{{ href }}"
                  {% if module.popup.button_2.popup_button_2_link.open_in_new_tab %}target="_blank"{% endif %}
                  {% if rel %}rel="{{ rel }}"{% endif %}
                >
                  {{ module.popup.button_2.popup_button_2_text }}
                </a>
              </span>
            {% endif %}
          </div>
        {% endif %}
      
        {% if module.popup.form.form.form_id %}
          <div class="form-{{ module.popup.form.form_field_color }} form-no-padding{% unless module.popup.form.form_labels %} form-no-labels{% endunless %}">
            {% form
              form_to_use="{{ module.popup.form.form.form_id }}"
              response_response_type="{{ module.popup.form.form.response_type }}"
              response_message="{{ module.popup.form.form.message }}"
              response_redirect_id="{{ module.popup.form.form.redirect_id }}"
              response_redirect_url="{{module.popup.form.form.redirect_url}}"
              gotowebinar_webinar_key="{{ module.popup.form.form.gotowebinar_webinar_key }}"
            %}
          </div>
        {% endif %}
      </div>
    </div>
  </div>
{% endif %}

{% require_css %}
  <style>
    {% scope_css %}
      {# Module custom styles #}
      .button-wrapper {
        {% if module.style.spacing.spacing %}
          {{ module.style.spacing.spacing.css }}
        {% endif %}
      }
      .button {       
        {% if module.style.custom_styling.font.font %}
          font-family: {{ module.style.custom_styling.font.font }}, sans-serif;
        {% endif %}
        {% if module.style.custom_styling.font.color %}
          color: {{ module.style.custom_styling.font.color }};
        {% endif %}
        {% if module.style.custom_styling.font.size %}
          font-size: {{ module.style.custom_styling.font.size ~ 'px' }};
        {% endif %}
        {% if module.style.custom_styling.font.styles|attr('font-style') %}
          font-style: {{ module.style.custom_styling.font.styles|attr('font-style') }};
        {% endif %}
        {% if module.style.custom_styling.font.styles|attr('font-weight') %}
          font-weight: {{ module.style.custom_styling.font.styles|attr('font-weight') }};
        {% endif %}
        {% if module.style.custom_styling.font.styles|attr('text-decoration') %}
          text-decoration: {{ module.style.custom_styling.font.styles|attr('text-decoration') }};
        {% endif %}
        {% if module.style.custom_styling.letter_spacing != none %}
          letter-spacing: {{ module.style.custom_styling.letter_spacing ~ 'px' }};
        {% endif %}
        {% if module.style.custom_styling.text_transform %}
          text-transform: {{ module.style.custom_styling.text_transform }};
        {% endif %}
        {% if module.style.custom_styling.background_color.color %}
          background-color: rgba({{ module.style.custom_styling.background_color.color|convert_rgb }}, {{ module.style.custom_styling.background_color.opacity / 100 }});
        {% endif %}
        {% if module.style.custom_styling.border_color.color %}
          border-color: rgba({{ module.style.custom_styling.border_color.color|convert_rgb }}, {{ module.style.custom_styling.border_color.opacity / 100 }});
        {% endif %}
        {% if module.style.custom_styling.border_width != none %}
          border-width: {{ module.style.custom_styling.border_width ~ 'px' }};
        {% endif %}
        {% if module.style.custom_styling.border_radius != none %}
          border-radius: {{ module.style.custom_styling.border_radius ~ 'px' }};
        {% endif %}
        {% if module.style.custom_styling.horizontal_padding != none %}
          padding-left: {{ module.style.custom_styling.horizontal_padding ~ 'px' }};
          padding-right: {{ module.style.custom_styling.horizontal_padding ~ 'px' }};
        {% endif %}
        {% if module.style.custom_styling.vertical_padding != none %}
          padding-top: {{ module.style.custom_styling.vertical_padding ~ 'px' }};
          padding-bottom: {{ module.style.custom_styling.vertical_padding ~ 'px' }};
        {% endif %}
      }
      .button:hover,
      .button:focus {
        {% if module.style.custom_styling.text_color_hover.color %}
          color: rgba({{ module.style.custom_styling.text_color_hover.color|convert_rgb }}, {{ module.style.custom_styling.text_color_hover.opacity / 100 }});
        {% endif %}
        {% if module.style.custom_styling.background_color_hover.color %}
          background-color: rgba({{ module.style.custom_styling.background_color_hover.color|convert_rgb }}, {{ module.style.custom_styling.background_color_hover.opacity / 100 }});
        {% endif %}
        {% if module.style.custom_styling.border_color_hover.color %}
          border-color: rgba({{ module.style.custom_styling.border_color_hover.color|convert_rgb }}, {{ module.style.custom_styling.border_color_hover.opacity / 100 }});
        {% endif %}
        {% if module.style.custom_styling.border_radius_hover != none %}
          border-radius: {{ module.style.custom_styling.border_radius_hover ~ 'px' }};
        {% endif %}
      }
    {% end_scope_css %}
  </style>
{% end_require_css %}