<div class="career-listing-wrapper{% if module.enable_sticky_column %} sticky{% endif %}">
{% if module.enable_filter %}
  <div class="cards-filter">
    {% if module.filter.filter_layout == 'buttons' %}
      <span class="button button-{{ module.filter.filter_button_color }}" data-filter-button="all">
        All
      </span>
      {% for item in module.filter.filter_names %}
        <span class="button button-outline-{{ module.filter.filter_button_color }}" data-filter-button="{{ 'filter_' ~ item|replace('-','_')|replace(' ','_') }}">
          {{ item }}
        </span>
      {% endfor %}
    {% else %}
      <select>
        <option data-filter-button="all">All</option>
        {% for item in module.filter.filter_names %}
          <option data-filter-button="{{ 'filter_' ~ item|replace('-','_')|replace(' ','_') }}">
            {{ item }}
          </option>
        {% endfor %}
      </select>
    {% endif %}
  </div>
{% endif %}
<div id="{{ module.custom_id }}" class="career-listing{% if module.enable_accordion_auto_toggle %} accordion-auto-toggle{% else %} accordion-manual-toggle{% endif %} {{ module.custom_class }}">
  {% for item in module.careers %}
    <div class="career-listing-single bg-{{ module.background_color }}{% if theme.other.general_border_radius %} rounded{% endif %}"
      {% if module.enable_animation %}
        {% if module.animation_settings.animation_type == "default" %}
          data-aos="{{ theme.animations.animation_type }}"
        {% else %}
          data-aos="{{ module.animation_settings.animation_type }}"
        {% endif %}
        data-aos-delay="{{ loop.index * module.animation_settings.animation_delay }}"
        {% if module.animation_settings.override_default_animation_duration %}
            data-aos-duration="{{ module.animation_settings.animation_duration }}"
        {% endif %}
      {% endif %}
      data-filter-value="{% for item2 in item.filters %}{{ 'filter_' ~ item2|replace('-','_')|replace(' ','_') }} {% endfor %}"
    >  
      <div class="career-listing-head">
        <{{ module.title_tag }}
          class="{% if module.title_size != module.title_tag %}{{ module.title_size }}{% endif %} career-listing-title color-{{ module.text_color }}">
          {{ item.title }}
        </{{ module.title_tag }}>
        {% if item.link.url.type is equalto 'EMAIL_ADDRESS' %}
          {% set href = 'mailto:' ~ item.link.url.href %}
        {% elif item.link.url.href == '/' %}
          {% set href = item.link.url.href %}
        {% else %}
          {% unless (item.link.url.href is string_containing '//') or (item.link.url.href is string_containing 'tel:') or (item.link.url.href is string_startingwith '#') or !item.link.url.href %}
            {% set href = '//' ~ item.link.url.href %}
          {% else %}
            {% set href = item.link.url.href or '' %}
          {% endunless %}
        {% endif %}
        {% set rel = (item.link.open_in_new_tab ? 'noopener ' : null) ~ (item.link.no_follow ? 'nofollow' : null) %}
        <div class="career-listing-button">
          <a
             class="{% if item.button_type != 'link' %}button button-{% if item.button_type == 'outline' %}outline-{% elif item.button_type == 'gradient' %}gradient color-{% endif %}{{ item.button_color }}{% if item.enable_button_accent_line %} button-accent{% endif %}{% else %} link color-{{ item.button_color }} pe-{{ item.button_color }}{% endif %} button-{{ item.button_size }}"
             href="{{ href }}"
             {% if item.link.open_in_new_tab %}target="_blank"{% endif %}
             {% if rel %}rel="{{ rel }}"{% endif %}
             >
            {{ item.button_text }}
          </a>
        </div>
      </div>
      <div class="career-listing-body">
        <div class="career-listing-accent bg-{{ item.button_color }}"></div>
        <div class="career-listing-body-inner color-{{ module.text_color }}">
          {% if item.location %}
            <p><strong>Location: </strong>{{ item.location }}</p>
          {% endif %}
          {% if item.salary %}
            <p><strong>Salary: </strong>{{ item.salary }}</p>
          {% endif %}
          {{ item.text }}
        </div>
        <div class="career-listing-accordion-toggle">
          <div class="career-listing-accordion-toggle-inner bg-{{ module.background_color }}">
            <span class="career-listing-accordion-toggle-text-open color-{{ module.text_color }}">Learn More</span>
            <span class="career-listing-accordion-toggle-text-close color-{{ module.text_color }}">Hide Details</span>
            <span class="career-listing-icon button button-{{ item.button_color }}">
              {% icon name='chevron-down' style='SOLID' unicode='f078', no_wrapper=True %}
            </span>
          </div>
        </div>
      </div>
      {% if module.enable_accent_line %}
        <div class="card-accent-bottom bg-{{ module.accent_line_color }}"></div>
      {% endif %}
    </div>
  {% endfor %}
</div>
</div>

{% require_css %}
  <style>
    {% scope_css %}
      {# Module custom styles #}
      .career-listing-wrapper {
        {% if module.style.spacing.spacing %}
          {{ module.style.spacing.spacing.css }}
        {% endif %}
        {% if module.style.background.background_type == 'none' %}
          background: none;
        {% elif module.style.background.background_type == 'color' %}
          background: rgba({{ module.style.background.background_color.color|convert_rgb }}, {{ module.style.background.background_color.opacity / 100 }});
        {% elif module.style.background.background_type == 'gradient' %}
          background: {{ module.style.background.background_gradient.css }};
        {% elif module.style.background.background_type == 'image' %}
          {{ module.style.background.background_image.css }};
        {% endif %}
      }
      .career-listing-single {
        {% if module.style.custom_styling.item_background.item_background_type == 'none' %}
          background: none;
        {% elif module.style.custom_styling.item_background.item_background_type == 'color' %}
          background: rgba({{ module.style.custom_styling.item_background.item_background_color.color|convert_rgb }}, {{ module.style.custom_styling.item_background.item_background_color.opacity / 100 }});
        {% elif module.style.custom_styling.item_background.item_background_type == 'gradient' %}
          background: {{ module.style.custom_styling.item_background.item_background_gradient.css }};
        {% elif module.style.custom_styling.item_background.item_background_type == 'image' %}
          {{ module.style.custom_styling.item_background.item_background_image.css }};
        {% endif %}
        {% if module.style.custom_styling.border_radius != none %}
          border-radius: {{ module.style.custom_styling.border_radius ~ 'px' }};
        {% endif %}
      }
      {% if module.style.item_spacing.item_spacing != none %}
        .career-listing-single:not(:last-child) {
          margin-bottom: {{ module.style.item_spacing.item_spacing ~ 'px'}};
        }
      {% endif %}
      {% if module.style.custom_styling.text_color.color %}
        .career-listing-title,
        .career-listing-body {
          color: {{ module.style.custom_styling.text_color.color }};
        }
        .career-listing-icon svg {
          fill: {{ module.style.custom_styling.text_color.color }};
        }
      {% endif %}
    {% end_scope_css %}
  </style>
{% end_require_css %}