.career-listing-single {
  margin-bottom: 1.25rem;
  position: relative;
  overflow: hidden;
}
.career-listing-single:last-child {
  margin-bottom: 0;
}
.career-listing-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0.5rem;
  border-radius: 50%;
}
.career-listing-single.active svg {
  transform: rotateZ(180deg);
  -webkit-transform: rotateZ(180deg);
  -moz-transform: rotateZ(180deg);
  -ms-transform: rotateZ(180deg);
}
.career-listing-head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 1.5rem;
  width: 100%;
  outline: none;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.career-listing-head.bg-transparent {
  padding: 1rem 0;
}
.career-listing-title {
  margin: 0;
  font-weight: bold;
}
.career-listing-body-inner {
  padding: 1.5rem;
  display: none;
}
.career-listing-excerpt {
  padding: 1.5rem;
}
.career-listing-accordion-toggle svg {
  width: 1rem;
  height: 1rem;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.career-listing-accordion-toggle-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 1.5rem;
  cursor: pointer;
  position: relative;
}
.career-listing-body.bg-transparent .career-listing-accordion-toggle-inner {
  padding: 0 0 1rem;
}
.career-listing-accent {
  width: calc(100% - 3rem);
  height: .25rem;
  margin: 0 1.5rem;
}
.career-listing-accordion-toggle-inner > span {
  margin-left: 1rem;
  font-weight: bold;
}
.career-listing-accordion-toggle-text-close {
  display: none;
}