<!--
  templateType: page
  isAvailableForNewContent: true
  label: Careers
  screenshotPath: ../images/template-previews/careers.jpg
-->

{% extends './layouts/base.html' %}

{% block body %}
<main id="main-content" class="body-container-wrapper">
  {% dnd_area 'dnd_area' class='body-container body-container--careers', label='Main section' %}

  
    {% dnd_section
      full_width=true,
      padding={'top': '0', 'bottom': '0', 'left': '0', 'right': '0'}
    %}
      {% dnd_module
        path="../modules/Hero Banner",
        offset=0,
        width=12,
        layout="text",
        background_overlay={
          background_type: "video",
          background_image_mobile: {
            "src": get_asset_url("../images/bg-hero-5-mobile.jpg")
          },
          enable_overlay: false
        },
        text={
          alignment: "center",
          text_color: "light",
          heading: "Join in our mission",
          heading_accent: "none",
          subheading: "",
          intro_text: "Careers with impact",
          enable_heading_shadow: false
        },
        enable_full_height=false,
        enable_button_1=true,
        button_1={
          link: {
            "no_follow" : false,
            "open_in_new_tab" : true,
            "url" : {
              "href" : "https://www.npws.net/",
              "type" : "EXTERNAL"
            }
          },
          button_text: "Explore Our Positions",
          button_type: "gradient",
          button_color: "light",
          enable_button_accent_line: true,
        }
      %}
      {% end_dnd_module %}
    {% end_dnd_section %}
  
    
    {% dnd_section
      max_width=1100,
      padding={
        "default" : {
          "bottom" : "90px",
          "top" : "90px"
        },
        "mobile" : {
          "bottom" : "60px",
          "top" : "60px"
        }
      }
    %}
      {% dnd_column
        offset=0,
        width=5
      %}
        {% dnd_row %}
          {% dnd_module
            path="../modules/Image - B2B Engine",
            offset=0,
            width=12,
            accent_line_color="secondary",
            accent_lines="shape-two",
            image={
              "alt" : "wilmer-martinez-u9KYV8dPc5U-unsplash",
              "height" : 5000,
              "loading" : "lazy",
              "max_height" : 5000,
              "max_width" : 4000,
              "size_type" : "auto",
              "src" : get_asset_url("../images/team-member-4.jpg"),
              "width" : 4000
            }
          %}
          {% end_dnd_module %}
        {% end_dnd_row %}
      {% end_dnd_column %}
      {% dnd_column
        offset=5,
        width=7,
        padding={
          "default" : {
            "left" : "10px",
            "right" : "10px"
          }
        }
      %}
        {% dnd_row %}
          {% dnd_module
            path="../modules/Text - B2B Engine",
            offset=0,
            width=12,
            alignment="left",
            heading="Who We Are",
            subheading="",
            intro_text="",
            main_text="<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Convallis convallis tellus id interdum velit. Tellus at urna condimentum mattis pellentesque id. Eleifend mi in nulla posuere sollicitudin aliquam ultrices sagittis orci. Tellus pellentesque eu tincidunt tortor aliquam nulla.</p><ul><li>Lorem ipsum dolor sit amet, consectetur adipiscing</li><li>Elit, sed do eiusmod tempor</li><li>It am et samu itat</li></ul><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Convallis convallis tellus id interdum velit. Tellus at urna condimentum mattis pellentesque id. Eleifend mi in nulla posuere sollicitudin aliquam ultrices sagittis orci. Tellus pellentesque eu tincidunt tortor aliquam nulla.</p>"
          %}
          {% end_dnd_module %}
        {% end_dnd_row %}
      {% end_dnd_column %}
    {% end_dnd_section %}


    {% dnd_section
      max_width=960,
      background_image={
        "background_position" : "MIDDLE_CENTER",
        "background_size" : "cover",
        "image_url" : get_asset_url("../images/bg-nebula.jpg")
      }
    %}
      {% dnd_column
        offset=0,
        width=12
      %}
        {% dnd_row %}
          {% dnd_module
            path="../modules/Text - B2B Engine",
            offset=0,
            width=12,
            alignment="center",
            text_color="light",
            heading="Hear from our team",
            subheading="",
            intro_text="",
            main_text=""
          %}
          {% end_dnd_module %}
        {% end_dnd_row %}
        {% dnd_row %}
          {% dnd_module
            path="../modules/Testimonials",
            offset=0,
            width=12,
            layout="grid",
            text_color="light",
            testimonials=[
              {
                "author_image": {
                  "src": get_asset_url("../images/customer.jpg")
                },
                "quote": "Lorem ipsum dolor sit amet, erant viris tibique an mea, maiorum blandit repudiandae ei nec, eam ut scripta blandit singulis. Ubique recusabo ut his. Ea cum wisi audiam persius, vidit illud graecis in per. Nam ex malis abhorreant, et falli soleat nec, duo augue eripuit euripidis ne.",
                "author": "Employee Name",
                "title": "Job Title, Years with the Company"
              }
            ]
          %}
          {% end_dnd_module %}
        {% end_dnd_row %}
        {% dnd_row %}
          {% dnd_module
            path="../modules/Section Options",
            offset=0,
            width=12,
            background_image_effects="parallax",
            enable_overlay=true,
            overlay_color_choice="dark"
          %}
          {% end_dnd_module %}
        {% end_dnd_row %}
      {% end_dnd_column %}
    {% end_dnd_section %}


    {% dnd_section
      max_width=960,
      padding={
        "default" : {
          "bottom" : "0px"
        }
      }
    %}
      {% dnd_column
        offset=0,
        width=12
      %}
        {% dnd_row %}
          {% dnd_module
            path="../modules/Text - B2B Engine",
            offset=0,
            width=12,
            alignment="center",
            heading="Team Benefits",
            subheading="",
            intro_text="",
            main_text="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Convallis convallis tellus id interdum velit. Tellus at urna condimentum mattis pellentesque id. Eleifend mi in nulla posuere sollicitudin aliquam ultrices sagittis orci. Tellus pellentesque eu tincidunt tortor aliquam nulla."
          %}
          {% end_dnd_module %}
        {% end_dnd_row %}
      {% end_dnd_column %}
    {% end_dnd_section %}


    {% dnd_section
      padding={
        "default" : {
          "top" : "60px"
        }
      }
    %}
      {% dnd_column
        offset=0,
        width=12
      %}
        {% dnd_row %}
          {% dnd_module
            path="../modules/Cards",
            offset=0,
            width=12,
            variation="var_2",
            hover_behavior="image-zoom",
            cards=[
              {
                "alignment": "center",
                "icon" : {
                  "name" : "car",
                  "type" : "SOLID",
                  "unicode" : "f1b9"
                },
                "icon_color": "light",
                "icon_height": 70,
                "background_color": "secondary",
                "heading": "Benefit 1",
                "heading_tag": "h3",
                "heading_size": "h3",
                "subheading": "",
                "main_text": "Lorem ipsum dolor sit amet, congue inciderint sea no, ut eos exerci soluta, an quo suscipit similique. Vix mucius docendi in, dictas habemus an nam.",
                "link": ""
              },
              {
                "alignment": "center",
                "icon":{
                  "name" : "hospital",
                  "type" : "REGULAR",
                  "unicode" : "f0f8"
                },
                "icon_color": "light",
                "icon_height": 70,
                "background_color": "secondary",
                "heading": "Benefit 2",
                "heading_tag": "h3",
                "heading_size": "h3",
                "subheading": "",
                "main_text": "Lorem ipsum dolor sit amet, congue inciderint sea no, ut eos exerci soluta, an quo suscipit similique. Vix mucius docendi in, dictas habemus an nam.",
                "link": ""
              },
              {
                "alignment": "center",
                "icon":{
                  "name" : "laptop",
                  "type" : "SOLID",
                  "unicode" : "f109"
                },
                "icon_color": "light",
                "icon_height": 70,
                "background_color": "secondary",
                "heading": "Benefit 3",
                "heading_tag": "h3",
                "heading_size": "h3",
                "subheading": "",
                "main_text": "Lorem ipsum dolor sit amet, congue inciderint sea no, ut eos exerci soluta, an quo suscipit similique. Vix mucius docendi in, dictas habemus an nam.",
                "link": ""
              }
            ]
          %}
          {% end_dnd_module %}
        {% end_dnd_row %}
      {% end_dnd_column %}
    {% end_dnd_section %}


    {% dnd_section
      max_width=1100,
      background_image={
        "background_position" : "MIDDLE_CENTER",
        "background_size" : "cover",
        "image_url" : get_asset_url("../images/bg-helmet.jpg")
      }
    %}
      {% dnd_column
        offset=0,
        width=12
      %}
        {% dnd_row %}
          {% dnd_module
            path="../modules/Text - B2B Engine",
            offset=0,
            width=12,
            alignment="center",
            text_color="light",
            heading="Explore Our Careers",
            subheading="",
            intro_text="",
            main_text=""
          %}
          {% end_dnd_module %}
        {% end_dnd_row %}
        {% dnd_row %}
          {% dnd_module
            path="../modules/Career Listing",
            offset=0,
            width=12
          %}
          {% end_dnd_module %}
        {% end_dnd_row %}
        {% dnd_row %}
          {% dnd_module
            path="../modules/Section Options",
            offset=0,
            width=12,
            background_image_effects="parallax"
          %}
          {% end_dnd_module %}
        {% end_dnd_row %}
      {% end_dnd_column %}
    {% end_dnd_section %}
  
  
  {% end_dnd_area %}
</main>
{% endblock body %}