<!--
  templateType: page
  isAvailableForNewContent: true
  label: Case Study
  screenshotPath: ../images/template-previews/case-study.jpg
-->

{% extends "./layouts/base.html" %}

{% block body %}
<main id="main-content" class="body-container-wrapper">
  {% dnd_area 'dnd_area' class='body-container body-container--case-study', label='Main section' %}

    
  {% dnd_section
    full_width=true,
    padding={
      "default" : {
        "bottom" : "0px",
        "left" : "0px",
        "right" : "0px",
        "top" : "0px"
      }
    }
  %}
    {% dnd_module
      path="../modules/Hero Banner",
      offset=0,
      width=12,
      layout="text",
      background_overlay={
        background_type: "image",
        background_image: {
          "src": get_asset_url("../images/bg-hero-7.jpg")
        },
        background_image_mobile: {
          "src": get_asset_url("../images/bg-hero-7-mobile.jpg")
        },
        fixed_background: true,
      },
      text={
        alignment: "center",
        text_color: "light",
        heading: "Success Story",
        heading_accent: "none",
        subheading: "",
        intro_text: "Showcase one of your business' Success Stories.",
        enable_heading_shadow: true
      }
    %}
    {% end_dnd_module %}
  {% end_dnd_section %}

  {% dnd_section
    max_width=1100  
  %}
    {% dnd_column
      offset=0,
      width=4
    %}
      {% dnd_row %}
        {% dnd_module
          path="../modules/Text - B2B Engine",
          offset=0,
          width=12,
          alignment="left",
          heading_size="h4",
          heading_tag="h3",
          heading="Company Description",
          subheading="",
          intro_text="",
          main_text='<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
          <p><strong><span style="text-decoration: underline;"><a href="http://npws.com" rel="noopener">VISIT WEBSITE</a></span></strong></p>'
        %}
        {% end_dnd_module %}
      {% end_dnd_row %}
      {% dnd_row %}
        {% dnd_module
          path="../modules/Text - B2B Engine",
          offset=0,
          width=12,
          alignment="left",
          heading_size="h4",
          heading_tag="h3",
          heading="Company Size",
          subheading="",
          intro_text="",
          main_text="11-50"
        %}
        {% end_dnd_module %}
      {% end_dnd_row %}
      {% dnd_row %}
        {% dnd_module
          path="../modules/Text - B2B Engine",
          offset=0,
          width=12,
          alignment="left",
          heading_size="h4",
          heading_tag="h3",
          heading="Headquarters",
          subheading="",
          intro_text="",
          main_text="Boston, MA"
        %}
        {% end_dnd_module %}
      {% end_dnd_row %}
      {% dnd_row %}
        {% dnd_module
          path="../modules/Text - B2B Engine",
          offset=0,
          width=12,
          alignment="left",
          heading_size="h4",
          heading_tag="h3",
          heading="Industries Services",
          subheading="",
          intro_text="",
          main_text="Environmental Services, Environmental Consulting, Pollution Control"
        %}
        {% end_dnd_module %}
      {% end_dnd_row %}
    {% end_dnd_column %}
    {% dnd_column
      offset=4,
      width=8
    %}
      {% dnd_row %}
        {% dnd_module
          path="../modules/Text - B2B Engine",
          offset=0,
          width=12,
          alignment="left",
          heading="Client Story",
          heading_accent="full-width",
          heading_accent_color="primary",
          subheading="",
          intro_text="",
          main_text="<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Convallis convallis tellus id interdum velit. Tellus at urna condimentum mattis pellentesque id. Eleifend mi in nulla posuere sollicitudin aliquam ultrices sagittis orci. Tellus pellentesque eu tincidunt tortor aliquam nulla. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p><p>Convallis convallis tellus id interdum velit. Tellus at urna condimentum mattis pellentesque id. Eleifend mi in nulla posuere sollicitudin aliquam ultrices sagittis orci. Tellus pellentesque eu tincidunt tortor aliquam nulla. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>"
        %}
        {% end_dnd_module %}
      {% end_dnd_row %}
    {% end_dnd_column %}
  {% end_dnd_section %}


  {% dnd_section
    max_width=960,
    background_color="rgba(246, 246, 246, 1)"
  %}
    {% dnd_column
      offset=0,
      width=12
    %}
      {% dnd_row %}
        {% dnd_module
          path="../modules/Text - B2B Engine",
          offset=0,
          width=12,
          alignment="center",
          text_color="dark",
          heading="Our Client's Love Us",
          heading_accent="full-width",
          heading_accent_color="primary",
          subheading="Video Testimonial",
          intro_text="",
          main_text=""
        %}
        {% end_dnd_module %}
      {% end_dnd_row %}
      {% dnd_row %}
        {% dnd_module
          path="../modules/Video - B2B Engine",
          offset=0,
          width=12,
          alignment="center"
        %}
        {% end_dnd_module %}
      {% end_dnd_row %}
    {% end_dnd_column %}
  {% end_dnd_section %}


  {% dnd_section
    max_width=1100
  %}
    {% dnd_column
      offset=0,
      width=6
    %}
      {% dnd_row %}
        {% dnd_module
          path="../modules/Text - B2B Engine",
          offset=0,
          width=12,
          alignment="left",
          heading="The Challenge",
          heading_accent="full-width",
          heading_accent_color="primary",
          subheading="",
          intro_text="",
          main_text="<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Convallis convallis tellus id interdum velit. Tellus at urna condimentum mattis pellentesque id. Eleifend mi in nulla posuere sollicitudin aliquam ultrices sagittis orci. Tellus pellentesque eu tincidunt tortor aliquam nulla. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p><p>Convallis convallis tellus id interdum velit. Tellus at urna condimentum mattis pellentesque id. Eleifend mi in nulla posuere sollicitudin aliquam ultrices sagittis orci. Tellus pellentesque eu tincidunt tortor aliquam nulla. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>"
        %}
        {% end_dnd_module %}
      {% end_dnd_row %}
    {% end_dnd_column %}
    {% dnd_column
      offset=6,
      width=6
    %}
      {% dnd_row %}
        {% dnd_module
          path="../modules/Image - B2B Engine",
          offset=0,
          width=12,
          accent_lines="shape-two",
          image={
            "alt" : "challenge",
            "height" : 1248,
            "max_height" : 1248,
            "max_width" : 874,
            "src" : get_asset_url("../images/team-member-6.jpg"),
            "width" : 874
          }
        %}
        {% end_dnd_module %}
      {% end_dnd_row %}
    {% end_dnd_column %}
  {% end_dnd_section %}


  {% dnd_section
    max_width=1100,
    background_image={
      "background_position" : "BOTTOM_RIGHT",
      "background_size" : "cover",
      "image_url" : get_asset_url("../images/bg-gray-2.jpg"),
    }
  %}
    {% dnd_column
      offset=0,
      width=6
    %}
      {% dnd_row %}
        {% dnd_module
          path="../modules/Text - B2B Engine",
          offset=0,
          width=12,
          alignment="left",
          heading="The Solution",
          heading_accent="full-width",
          heading_accent_color="primary",
          subheading="",
          intro_text="",
          main_text="<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Convallis convallis tellus id interdum velit. Tellus at urna condimentum mattis pellentesque id. Eleifend mi in nulla posuere sollicitudin aliquam ultrices sagittis orci. Tellus pellentesque eu tincidunt tortor aliquam nulla. Lorem ipsum</p><p>Convallis convallis tellus id interdum velit. Tellus at urna condimentum mattis pellentesque id. Eleifend mi in nulla posuere sollicitudin aliquam ultrices sagittis orci. Tellus pellentesque eu tincidunt tortor aliquam nulla.</p>"
        %}
        {% end_dnd_module %}
      {% end_dnd_row %}
      {% dnd_row %}
        {% dnd_module
          path="../modules/Section Options",
          offset=0,
          width=12,
          background_image_effects="parallax",
          enable_overlay=true,
          overlay_color_choice="light"
        %}
        {% end_dnd_module %}
      {% end_dnd_row %}
    {% end_dnd_column %}
    {% dnd_column
      offset=6,
      width=6
    %}
      {% dnd_row %}
        {% dnd_module
          path="../modules/Gallery - B2B Engine",
          offset=0,
          width=12,
          images=[ {
            "image" : {
              "alt" : "gallery-5",
              "height" : 675,
              "loading" : "lazy",
              "max_height" : 675,
              "max_width" : 1200,
              "size_type" : "auto",
              "src" : get_asset_url("../images/gallery-5.jpg"),
              "width" : 1200
            },
            "link_or_lightbox" : "lightbox"
          },
          {
            "image" : {
              "alt" : "gallery-3",
              "height" : 675,
              "loading" : "lazy",
              "max_height" : 675,
              "max_width" : 1200,
              "size_type" : "auto",
              "src" : get_asset_url("../images/gallery-3.jpg"),
              "width" : 1200
            },
          },
          {
            "image" : {
              "alt" : "gallery-2",
              "height" : 675,
              "loading" : "lazy",
              "max_height" : 675,
              "max_width" : 1200,
              "size_type" : "auto",
              "src" : get_asset_url("../images/gallery-2.jpg"),
              "width" : 1200
            },
            "link_or_lightbox" : "none"
          },
          {
            "image" : {
              "alt" : "gallery-1",
              "height" : 675,
              "loading" : "lazy",
              "max_height" : 675,
              "max_width" : 1200,
              "size_type" : "auto",
              "src" : get_asset_url("../images/gallery-1.jpg"),
              "width" : 1200
            },
            "link_or_lightbox" : "none"
          },
          {
            "image" : {
              "alt" : "gallery-4",
              "height" : 675,
              "loading" : "lazy",
              "max_height" : 675,
              "max_width" : 1200,
              "size_type" : "auto",
              "src" : get_asset_url("../images/gallery-4.jpg"),
              "width" : 1200
            },
            "link_or_lightbox" : "none"
          },
          {
            "image" : {
              "alt" : "gallery-6",
              "height" : 675,
              "loading" : "lazy",
              "max_height" : 675,
              "max_width" : 1200,
              "size_type" : "auto",
              "src" : get_asset_url("../images/gallery-6.jpg"),
              "width" : 1200
            },
            "link_or_lightbox" : "none"
          } ],
          items_in_row=2
        %}
        {% end_dnd_module %}
      {% end_dnd_row %}
    {% end_dnd_column %}
  {% end_dnd_section %}


  {% dnd_section
    max_width=1100
  %}
    {% dnd_column
      offset=0,
      width=6
    %}
      {% dnd_row %}
        {% dnd_module
          path="../modules/Text - B2B Engine",
          offset=0,
          width=12,
          alignment="left",
          heading="The Results",
          heading_accent="full-width",
          heading_accent_color="primary",
          subheading="",
          intro_text="",
          main_text="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Convallis convallis tellus id interdum velit. Tellus at urna condimentum mattis pellentesque id. Eleifend mi in nulla posuere sollicitudin aliquam ultrices sagittis orci. Tellus pellentesque eu tincidunt tortor aliquam nulla. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua et amin etiah."
        %}
        {% end_dnd_module %}
      {% end_dnd_row %}
    {% end_dnd_column %}
    {% dnd_column
      offset=6,
      width=6
    %}
      {% dnd_row %}
        {% dnd_module
          path="../modules/Chart",
          offset=0,
          width=12,
          data_labels=[ "Data Label 1", "Data Label 2", "Data Label 3", "Data Label 4" ],
          dataset=[ {
            "data_value" : [ 5, 7, 9, 4 ],
            "dataset_color" : "primary",
            "dataset_name" : "Dataset 1",
            "heading_accent_color" : "primary"
          }, {
            "data_value" : [ 6, 8, 12, 10 ],
            "dataset_color" : "secondary",
            "dataset_name" : "Dataset 2",
            "heading_accent_color" : "primary"
          } ]
        %}
        {% end_dnd_module %}
      {% end_dnd_row %}
    {% end_dnd_column %}
  {% end_dnd_section %}


  {% dnd_section
    max_width=900,
    background_image={
      "background_position" : "BOTTOM_CENTER",
      "background_size" : "cover",
      "image_url" : get_asset_url("../images/bg-nebula.jpg"),
    },
    padding={
      "default" : {
        "bottom" : "150px",
        "top" : "150px"
      },
      "mobile" : {
        "bottom" : "80px",
        "top" : "80px"
      }
    }
  %}
    {% dnd_column
      offset=0,
      width=12
    %}
      {% dnd_row %}
        {% dnd_module
          path="../modules/Text - B2B Engine",
          offset=0,
          width=12,
          alignment="center",
          text_color="light",
          heading="Ready to Get Started?",
          heading_accent="full-width",
          heading_accent_color="light",
          subheading="",
          intro_text="",
          main_text="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Convallis convallis tellus id interdum velit. Tellus at urna condimentum mattis pellentesque id. Eleifend mi in nulla posuere sollicitudin aliquam ultrices sagittis orci. Tellus pellentesque eu tincidunt tortor aliquam nulla."
        %}
        {% end_dnd_module %}
      {% end_dnd_row %}
      {% dnd_row %}
        {% dnd_module
          path="../modules/Button - B2B Engine",
          offset=0,
          width=12,
          alignment="center",
          button_color="light",
          button_type="gradient",
          enable_accent_line=true,
          text="Request a Quote"
        %}
        {% end_dnd_module %}
      {% end_dnd_row %}
    {% end_dnd_column %}
  {% end_dnd_section %}


  {% end_dnd_area %}
</main>
{% endblock body %}
