<!--
  templateType: page
  isAvailableForNewContent: true
  label: Contact
  screenshotPath: ../images/template-previews/contact.png
-->

{% extends './layouts/base.html' %}

{% block body %}
<main id="main-content" class="body-container-wrapper">
  {% dnd_area 'dnd_area' class='body-container body-container--contact', label='Main section' %}
  
  
  {% dnd_section
    max_width=1100,
    background_image={
      "background_position" : "BOTTOM_RIGHT",
      "background_size" : "cover",
      "image_url" : get_asset_url("../images/bg-gray.png")
    }
  %}
    {% dnd_column
      offset=0,
      width=8
    %}
      {% dnd_row %}
        {% dnd_module
          path="../modules/Text - B2B Engine",
          offset=0,
          width=12,
          heading="Contact Us",
          heading_size="h2",
          heading_tag="h1",
          heading_accent="full-width",
          heading_accent_color="primary",
          subheading="",
          intro_text="",
          main_text=""
        %}
        {% end_dnd_module %}
      {% end_dnd_row %}
      {% dnd_row %}
        {% dnd_module
          path="../modules/Form - B2B Engine",
          offset=0,
          width=12,
          form_background_color="light",
          form_field_color="light",
          form_title="",
          form_padding="false"
          style={
            "background" : {
              "background_gradient" : {
                "colors" : [ {
                  "color" : {
                    "a" : 1,
                    "b" : 255,
                    "g" : 80,
                    "r" : 99
                  }
                }, {
                  "color" : {
                    "a" : 1,
                    "b" : 252,
                    "g" : 198,
                    "r" : 80
                  }
                } ],
                "side_or_corner" : {
                  "horizontalSide" : "RIGHT",
                  "verticalSide" : "BOTTOM"
                }
              },
              "background_type" : "gradient"
            },
            "button" : {
              "background_color" : {
                "color" : "#003753",
                "opacity" : 100
              },
              "border_color" : {
                "color" : "#003753",
                "opacity" : 100
              },
              "font" : {
                "color" : "#FFFFFF"
              }
            }
          }
        %}
        {% end_dnd_module %}
      {% end_dnd_row %}
    {% end_dnd_column %}
    {% dnd_column
      offset=8,
      width=4,
      padding={
        "default" : {
          "top" : "100px"
        },
        "mobile" : {
          "top" : "20px"
        }
      }
    %}
      {% dnd_row %}
        {% dnd_module
          path="../modules/Text - B2B Engine",
          offset=0,
          width=12,
          heading="Find Us",
          heading_size="h4",
          subheading="",
          intro_text="",
          main_text='<p>Our Headquarters<br>321 B2B Drive - Building 202<br>New York, New York 10001<br><br>tel: 1(888) 123-4567</p>'
        %}
        {% end_dnd_module %}
      {% end_dnd_row %}
      {% dnd_row %}
        {% dnd_module
          path="../modules/Map",
          offset=0,
          width=12,
          custom_height=200
        %}
        {% end_dnd_module %}
      {% end_dnd_row %}
      {% dnd_row %}
        {% dnd_module
          path="../modules/Text - B2B Engine",
          offset=0,
          width=12,
          heading="Other Ways to Reach Us",
          heading_size="h4",
          subheading="",
          intro_text="",
          main_text=""
        %}
        {% end_dnd_module %}
      {% end_dnd_row %}
      {% dnd_row %}
        {% dnd_module
          path="../modules/Social Links",
          offset=0,
          width=12,
          alignment="left",
          social_links=[ {
            "background_color" : "primary",
            "custom_icon" : {
              "name" : "hubspot"
            },
            "icon_color" : "light",
            "social_account" : "linkedin-in",
            "social_link" : {
              "no_follow" : false,
              "open_in_new_tab" : true,
              "url" : {
                "href" : "https://www.linkedin.com",
                "type" : "EXTERNAL"
              }
            }
          }, {
            "background_color" : "primary",
            "custom_icon" : {
              "name" : "hubspot"
            },
            "icon_color" : "light",
            "social_account" : "facebook-f",
            "social_link" : {
              "no_follow" : false,
              "open_in_new_tab" : true,
              "url" : {
                "href" : "https://www.facebook.com",
                "type" : "EXTERNAL"
              }
            }
          }, {
            "background_color" : "primary",
            "custom_icon" : {
              "name" : "hubspot"
            },
            "icon_color" : "light",
            "social_account" : "twitter",
            "social_link" : {
              "no_follow" : false,
              "open_in_new_tab" : true,
              "url" : {
                "href" : "https://www.twitter.com",
                "type" : "EXTERNAL"
              }
            }
          }, {
            "background_color" : "primary",
            "custom_icon" : {
              "name" : "hubspot"
            },
            "icon_color" : "light",
            "social_account" : "instagram",
            "social_link" : {
              "no_follow" : false,
              "open_in_new_tab" : true,
              "url" : {
                "href" : "https://www.instagram.com",
                "type" : "EXTERNAL"
              }
            }
          } ]
        %}
        {% end_dnd_module %}
      {% end_dnd_row %}
    {% end_dnd_column %}
  {% end_dnd_section %}
  

  {% end_dnd_area %}
</main>
{% endblock body %}