<!--
  templateType: page
  isAvailableForNewContent: true
  label: Home 2
  screenshotPath: ../images/template-previews/home-2.jpg
-->

{% extends "./layouts/base.html" %}

{% block body %}
<main id="main-content" class="body-container-wrapper">
  {% dnd_area 'dnd_area' class='body-container body-container--home', label='Main section' %}


    {% dnd_section
      full_width=true,
      padding={
        "default" : {
          "bottom" : "0px",
          "left" : "0px",
          "right" : "0px",
          "top" : "0px"
        }
      }
    %}
      {% dnd_module
        path="../modules/Hero Banner",
        offset=0,
        width=12,
        layout="text",,
        style={
          "custom_styling" : {
            "overlay_color" : {
              "color" : "#000d53",
              "opacity" : 80
            }
          }
        },
        background_overlay={
          background_type: "video",
          background_image_mobile: {
            "src": get_asset_url("../images/bg-hero-2-mobile.jpg")
          },
          enable_overlay: true,
          overlay_color_choice: "dark"
        },
        enable_custom_width="true",
        custom_width=720,
        text={
          alignment: "center",
          text_color: "light",
          heading: "Stand Out from the Competition",
          heading_accent: "split-horizontal",
          subheading: "",
          intro_text: "Groundbreaking technology for<br>positive climate impact",
          enable_heading_shadow: true
        },
        enable_button_1=true,
        button_1={
          button_text: "Explore Our Solutions",
          button_type: "outline",
          button_color: "light",
          enable_button_accent_line: false,
        },
        enable_button_2=true,
        button_2={
          button_text: "Get Started",
          button_type: "gradient",
          button_color: "light",
          enable_button_accent_line: true,
        }
        enable_full_height=true
      %}
      {% end_dnd_module %}
    {% end_dnd_section %}
  

    {% dnd_section
      max_width=900,
      padding={
        "default" : {
          "bottom" : "0px"
        }
      }
    %}
      {% dnd_column
        offset=0,
        width=12
      %}
        {% dnd_row %}
          {% dnd_module
            path="../modules/Text - B2B Engine",
            offset=0,
            width=12,
            alignment="center",
            heading="Our Impact on the Industry",
            heading_accent= "split-horizontal",
            heading_accent_color= "primary",
            subheading="",
            intro_text="We're on a mission to solve important problems",
            main_text="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Convallis convallis tellus id interdum velit. Tellus at urna condimentum mattis pellentesque id. Eleifend mi in nulla posuere sollicitudin aliquam ultrices sagittis orci. Tellus pellentesque eu tincidunt tortor aliquam nulla.",
            enable_heading_shadow=true
          %}
          {% end_dnd_module %}
        {% end_dnd_row %}
      {% end_dnd_column %}
    {% end_dnd_section %}


    {% dnd_section
      max_width=1120,
      padding={
        "default" : {
          "top" : "50px"
        }
      }
    %}
      {% dnd_column
        offset=0,
        width=4
      %}
        {% dnd_row %}
          {% dnd_module
            path="../modules/Counter",
            offset=0,
            width=12,
            bottom_text="<strong>Impressive Statistic</strong>",
            enable_icon=false,
            number=70,
            number_color="light",
            prefix="",
            style={
              "background" : {
                "background_color" : {
                  "color" : "#003753",
                  "opacity" : 100
                },
                "background_gradient" : {
                  "colors" : [ {
                    "color" : {
                      "a" : 1,
                      "b" : 80,
                      "g" : 99,
                      "r" : 253
                    }
                  }, {
                    "color" : {
                      "a" : 1,
                      "b" : 77,
                      "g" : 27,
                      "r" : 226
                    }
                  } ],
                  "side_or_corner" : {
                    "horizontalSide" : "RIGHT",
                    "verticalSide" : "BOTTOM"
                  }
                },
                "background_type" : "gradient"
              },
              "custom_styling" : {
                "text_color" : {
                  "color" : "#FFFFFF",
                  "opacity" : 100
                }
              },
              "spacing" : {
                "spacing" : {
                  "padding" : {
                    "bottom" : {
                      "units" : "px",
                      "value" : 50
                    },
                    "left" : {
                      "units" : "px",
                      "value" : 30
                    },
                    "right" : {
                      "units" : "px",
                      "value" : 30
                    },
                    "top" : {
                      "units" : "px",
                      "value" : 50
                    }
                  }
                }
              }
            },
            suffix="k",
            top_text=""
          %}
          {% end_dnd_module %}
        {% end_dnd_row %}
      {% end_dnd_column %}
      {% dnd_column
        offset=4,
        width=4
      %}
        {% dnd_row %}
          {% dnd_module
            path="../modules/Counter",
            offset=0,
            width=12,
            bottom_text="<strong>Mindblowing Metric</strong>",
            enable_icon=false,
            number=90,
            number_color="light",
            prefix="",
            style={
              "background" : {
                "background_color" : {
                  "color" : "#003753",
                  "opacity" : 100
                },
                "background_gradient" : {
                  "colors" : [ {
                    "color" : {
                      "a" : 1,
                      "b" : 80,
                      "g" : 99,
                      "r" : 253
                    }
                  }, {
                    "color" : {
                      "a" : 1,
                      "b" : 77,
                      "g" : 27,
                      "r" : 226
                    }
                  } ],
                  "side_or_corner" : {
                    "horizontalSide" : "RIGHT",
                    "verticalSide" : "BOTTOM"
                  }
                },
                "background_type" : "gradient"
              },
              "custom_styling" : {
                "text_color" : {
                  "color" : "#FFFFFF",
                  "opacity" : 100
                }
              },
              "spacing" : {
                "spacing" : {
                  "padding" : {
                    "bottom" : {
                      "units" : "px",
                      "value" : 50
                    },
                    "left" : {
                      "units" : "px",
                      "value" : 30
                    },
                    "right" : {
                      "units" : "px",
                      "value" : 30
                    },
                    "top" : {
                      "units" : "px",
                      "value" : 50
                    }
                  }
                }
              }
            },
            suffix="k",
            top_text=""
          %}
          {% end_dnd_module %}
        {% end_dnd_row %}
      {% end_dnd_column %}
      {% dnd_column
        offset=8,
        width=4
      %}
        {% dnd_row %}
          {% dnd_module
            path="../modules/Counter",
            offset=0,
            width=12,
            bottom_text="<strong>Very Impactful Figure</strong>",
            enable_icon=false,
            number=120,
            number_color="light",
            prefix="",
            style={
              "background" : {
                "background_color" : {
                  "color" : "#003753",
                  "opacity" : 100
                },
                "background_gradient" : {
                  "colors" : [ {
                    "color" : {
                      "a" : 1,
                      "b" : 80,
                      "g" : 99,
                      "r" : 253
                    }
                  }, {
                    "color" : {
                      "a" : 1,
                      "b" : 77,
                      "g" : 27,
                      "r" : 226
                    }
                  } ],
                  "side_or_corner" : {
                    "horizontalSide" : "RIGHT",
                    "verticalSide" : "BOTTOM"
                  }
                },
                "background_type" : "gradient"
              },
              "custom_styling" : {
                "text_color" : {
                  "color" : "#FFFFFF",
                  "opacity" : 100
                }
              },
              "spacing" : {
                "spacing" : {
                  "padding" : {
                    "bottom" : {
                      "units" : "px",
                      "value" : 50
                    },
                    "left" : {
                      "units" : "px",
                      "value" : 30
                    },
                    "right" : {
                      "units" : "px",
                      "value" : 30
                    },
                    "top" : {
                      "units" : "px",
                      "value" : 50
                    }
                  }
                }
              }
            },
            suffix="k",
            top_text=""
          %}
          {% end_dnd_module %}
        {% end_dnd_row %}
      {% end_dnd_column %}
    {% end_dnd_section %}


    {% dnd_section
      max_width=1240,
      background_image={
        "background_position" : "TOP_CENTER",
        "background_size" : "cover",
        "image_url" : get_asset_url("../images/bg-lights.jpg"),
      }
    %}
      {% dnd_column
        offset=0,
        width=12
      %}
        {% dnd_row %}
          {% dnd_module
            path="../modules/Text - B2B Engine",
            offset=0,
            width=12,
            alignment="center",
            text_color="light",
            heading="Resources",
            heading_accent= "split-horizontal",
            heading_accent_color= "light",
            subheading="",
            intro_text="Resource library created by our team of industry experts",
            main_text="",
            enable_heading_shadow=true
          %}
          {% end_dnd_module %}
        {% end_dnd_row %}
        {% dnd_row
          vertical_alignment='MIDDLE',
          background_color="rgba(238, 238, 238, 1)",
          padding={
            "default" : {
              "bottom" : "0px",
              "top" : "0px"
            }
          },
          margin={
            "default" : {
              "bottom" : "30px",
              "top" : "30px"
            }
          }
        %}
          {% dnd_column
            offset=0,
            width=6
          %}
            {% dnd_row %}
              {% dnd_module
                path="../modules/Video - B2B Engine",
                offset=0,
                width=12,
                enable_animation=false,
                enable_popup=true,
                enable_thumbnail=true,
                play_button_color="secondary",
                video_thumbnail={
                  "alt" : "thumbnail",
                  "height" : 540,
                  "loading" : "disabled",
                  "max_height" : 540,
                  "max_width" : 960,
                  "size_type" : "auto",
                  "src" : get_asset_url("../images/video-thumbnail.jpg"),
                  "width" : 960
                }
              %}
              {% end_dnd_module %}
            {% end_dnd_row %}
          {% end_dnd_column %}
          {% dnd_column
            offset=6,
            width=6,
            padding={
              "default" : {
                "bottom" : "30px",
                "left" : "10px",
                "right" : "10px",
                "top" : "30px"
              },
              "mobile" : {
                "left" : "20px",
                "right" : "20px",
                "top" : "0px"
              }
            }
          %}
            {% dnd_row %}
              {% dnd_module
                path="../modules/Text - B2B Engine",
                offset=0,
                width=12,
                alignment="left",
                heading="We are Thought Leaders",
                heading_size="h3",
                heading_tag="h3",
                subheading="",
                intro_text="",
                main_text="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna al."
              %}
              {% end_dnd_module %}
            {% end_dnd_row %}
            {% dnd_row %}
              {% dnd_module
                path="../modules/Button - B2B Engine",
                offset=0,
                width=12,
                alignment="left",
                button_color="dark",
                button_type="gradient",
                enable_accent_line=true,
                text="Listen to the Conference"
              %}
              {% end_dnd_module %}
            {% end_dnd_row %}
          {% end_dnd_column %}
        {% end_dnd_row %}
        {% dnd_row %}
          {% dnd_module
            path="../modules/Cards",
            offset=0,
            width=12,
            cards=[ {
              "alignment" : "center",
              "background_color" : "light",
              "button_color" : "dark",
              "button_text" : "Learn More",
              "button_type" : "outline",
              "enable_button_accent_line" : false,
              "heading" : "A Look Inside the A3 Business Forum",
              "heading_tag": "h3",
              "heading_size": "h3",
              "icon" : {
                "name" : "book",
                "type" : "SOLID",
                "unicode" : "f02d"
              },
              "icon_color" : "dark",
              "icon_height" : 70,
              "link" : {
                "no_follow" : false,
                "open_in_new_tab" : true,
                "url" : {
                  "href" : "https://www.npws.net/",
                  "type" : "EXTERNAL"
                }
              },
              "main_text" : "Lorem ipsum dolor sit amet, congue inciderint sea no, ut eos exerci soluta, an quo suscipit similique.",
              "overlay_color" : {
                "color" : "#fda350",
                "opacity" : 50
              },
              "overlay_text_color" : "light",
              "subheading" : "",
              "text_color" : "dark"
            }, {
              "alignment" : "center",
              "background_color" : "light",
              "button_color" : "dark",
              "button_text" : "Learn More",
              "button_type" : "outline",
              "enable_button_accent_line" : false,
              "heading" : "AI Applications In The Global Supply Chain",
              "heading_tag": "h3",
              "heading_size": "h3",
              "icon" : {
                "name" : "video",
                "type" : "SOLID",
                "unicode" : "f03d"
              },
              "icon_color" : "dark",
              "icon_height" : 70,
              "link" : {
                "no_follow" : false,
                "open_in_new_tab" : true,
                "url" : {
                  "href" : "https://www.npws.net/",
                  "type" : "EXTERNAL"
                }
              },
              "main_text" : "Lorem ipsum dolor sit amet, congue inciderint sea no, ut eos exerci soluta, an quo suscipit similique.",
              "overlay_color" : {
                "color" : "#fda350",
                "opacity" : 50
              },
              "overlay_text_color" : "light",
              "subheading" : "",
              "text_color" : "body"
            }, {
              "alignment" : "center",
              "background_color" : "light",
              "button_color" : "dark",
              "button_text" : "Learn More",
              "button_type" : "outline",
              "enable_button_accent_line" : false,
              "heading" : "A Look Inside the A3 Business Forum",
              "heading_tag": "h3",
              "heading_size": "h3",
              "icon" : {
                "name" : "podcast",
                "type" : "SOLID",
                "unicode" : "f2ce"
              },
              "icon_color" : "dark",
              "icon_height" : 70,
              "link" : {
                "no_follow" : false,
                "open_in_new_tab" : true,
                "url" : {
                  "href" : "https://www.npws.net/",
                  "type" : "EXTERNAL"
                }
              },
              "main_text" : "Lorem ipsum dolor sit amet, congue inciderint sea no, ut eos exerci soluta, an quo suscipit similique.",
              "overlay_color" : {
                "color" : "#fda350",
                "opacity" : 50
              },
              "overlay_text_color" : "light",
              "subheading" : "",
              "text_color" : "body"
            } ],
            hover_behavior="image-zoom",
            style={
              "background" : {
                "background_type" : "color"
              }
            },
            variation="var_2",
            whole_card_link=false
          %}
          {% end_dnd_module %}
        {% end_dnd_row %}
        {% dnd_row %}
          {% dnd_module
            path="../modules/Section Options",
            offset=0,
            width=12,
            background_image_effects="parallax"
          %}
          {% end_dnd_module %}
        {% end_dnd_row %}
      {% end_dnd_column %}
    {% end_dnd_section %}


    {% include_dnd_partial path='../sections/title-text-center.html' context={} %}


    {% include_dnd_partial path='../sections/classic-cards.html' context={} %}


    {% dnd_section
      max_width=960,
      background_image={
        "background_position" : "MIDDLE_CENTER",
        "background_size" : "cover",
        "image_url" : get_asset_url("../images/bg-people.jpg")
      },
      padding={
        "default" : {
          "bottom" : "100px"
        },
        "mobile" : {
          "bottom" : "40px"
        }
      }
    %}
      {% dnd_column
        offset=0,
        width=12
      %}
        {% dnd_row %}
          {% dnd_module
            path="../modules/Text - B2B Engine",
            offset=0,
            width=12,
            alignment="center",
            text_color="light",
            heading="Our Clients Love Us",
            heading_accent= "split-horizontal",
            heading_accent_color= "light",
            subheading="",
            intro_text="",
            main_text="",
            enable_heading_shadow=true
          %}
          {% end_dnd_module %}
        {% end_dnd_row %}
        {% dnd_row %}
          {% dnd_module
            path="../modules/Testimonials",
            offset=0,
            width=12,
            layout="grid",
            text_color="light",
            testimonials=[
              {
                "author_image": {
                  "src": get_asset_url("../images/customer.jpg")
                },
                "quote": "Lorem ipsum dolor sit amet, erant viris tibique an mea, maiorum blandit repudiandae ei nec, eam ut scripta blandit singulis. Ubique recusabo ut his. Ea cum wisi audiam persius, vidit illud graecis in per. Nam ex malis abhorreant, et falli soleat nec, duo augue eripuit euripidis ne.",
                "author": "Company Name",
                "title": "Company Title"
              }
            ]
          %}
          {% end_dnd_module %}
        {% end_dnd_row %}
        {% dnd_row %}
          {% dnd_module
            path="../modules/Section Options",
            offset=0,
            width=12,
            background_image_effects="parallax",
            enable_background_video=true,
            enable_overlay=true,
            enable_top_linear_gradient=false,
            overlay_color_choice="primary"
          %}
          {% end_dnd_module %}
        {% end_dnd_row %}
      {% end_dnd_column %}
    {% end_dnd_section %}


    {% dnd_section
      vertical_alignment='MIDDLE',
      max_width=1100,
      padding={
        "default" : {
          "bottom" : "60px",
          "top" : "30px"
        },
        "mobile" : {
          "bottom" : "30px",
          "top" : "60px"
        }
      }
    %}
      {% dnd_column
        offset=0,
        width=6
      %}
        {% dnd_row %}
          {% dnd_module
            path="../modules/Text - B2B Engine",
            offset=0,
            width=12,
            heading="Meet the Team",
            subheading="",
            intro_text="",
            main_text="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Convallis convallis tellus id interdum velit. Tellus at urna condimentum mattis pellentesque id. Eleifend mi in nulla posuere sollicitudin aliquam ultrices sagittis orci. Tellus pellentesque eu tincidunt tortor aliquam nulla.",
            enable_heading_shadow=true
          %}
          {% end_dnd_module %}
        {% end_dnd_row %}
        {% dnd_row %}
          {% dnd_module
            path="../modules/Button - B2B Engine",
            offset=0,
            width=12,
            button_color="light",
            button_type="gradient",
            enable_accent_line=true,
            text="Get to Know Us"
          %}
          {% end_dnd_module %}
        {% end_dnd_row %}
      {% end_dnd_column %}
      {% dnd_column
        offset=6,
        width=6
      %}
        {% dnd_row %}
          {% dnd_module  'image_1'
            path="../modules/Image - B2B Engine",
            offset=0,
            width=12,
            accent_line_color="secondary",
            accent_lines="shape-one",
            image={
              "height" : 1272,
              "max_height" : 1272,
              "max_width" : 1000,
              "src" : get_asset_url("../images/team-member-1.jpg"),
              "width" : 1000
            }
          %}
          {% end_dnd_module %}
        {% end_dnd_row %}
      {% end_dnd_column %}
    {% end_dnd_section %}


  {% end_dnd_area %}
</main>
{% endblock body %}
