<!--
  templateType: page
  isAvailableForNewContent: true
  label: Home 3
  screenshotPath: ../images/template-previews/home-3.jpg
-->

{% extends "./layouts/base.html" %}

{% block body %}
<main id="main-content" class="body-container-wrapper">
  {% dnd_area 'dnd_area' class='body-container body-container--home', label='Main section' %}


    {% dnd_section
      full_width=true,
      padding={
        "default" : {
          "bottom" : "0px",
          "left" : "0px",
          "right" : "0px",
          "top" : "0px"
        }
      }
    %}
      {% dnd_module
        path="../modules/Hero Banner",
        offset=0,
        width=12,
        layout="image_text",
        background_overlay={
          background_type: "video",
          background_image_mobile: {
            "src": get_asset_url("../images/bg-hero-3-mobile.jpg")
          },
          enable_overlay: true,
          overlay_color_choice: "primary"
        },
        text={
          alignment: "center",
          text_color: "light",
          heading: "Stand Out from the Competition",
          heading_accent: "small-width",
          heading_accent_color: "secondary",
          subheading: "",
          intro_text: "<strong>Groundbreaking technology for</strong><br><strong>industry innovation</strong>",
          enable_heading_shadow: true
        },
        image: {
          "src": get_asset_url("../images/hero-image.jpg")
        },
        enable_button_1=true,
        button_1={
          link: {
            "no_follow" : false,
            "open_in_new_tab" : true,
            "url" : {
              "href" : "https://www.npws.net/",
              "type" : "EXTERNAL"
            }
          },
          button_text: "Explore Our Solutions",
          button_type: "outline",
          button_color: "light",
          enable_button_accent_line: false,
        },
        enable_button_2=true,
        button_2={
          button_text: "Get Started",
          button_type: "gradient",
          button_color: "light",
          enable_button_accent_line: true,
        },
        enable_full_height=true
      %}
      {% end_dnd_module %}
    {% end_dnd_section %}
  

    {% dnd_section
      max_width=1100
    %}
      {% dnd_column
        offset=0,
        width=7,
        padding={
          "default" : {
            "right" : "30px"
          }
        }
      %}
        {% dnd_row %}
          {% dnd_module
            path="../modules/Text - B2B Engine",
            offset=0,
            width=12,
            heading="Making an Impact",
            heading_accent= "left-vertical",
            heading_accent_color= "primary",
            subheading="",
            intro_text="",
            main_text="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dodum velit. Tellus at urna condimentum mattis pellentesque id. Eleifend mi in nulla posuere sollicitudin aliquam ultrices sagittis orci. Tellus pellentesque eu tincidunt tortor aliquam nulla.",
            enable_heading_shadow=false
          %}
          {% end_dnd_module %}
        {% end_dnd_row %}
        {% dnd_row %}
          {% dnd_column
            offset=0,
            width=6
          %}
            {% dnd_row %}
              {% dnd_module
                path="../modules/Counter",
                offset=0,
                width=12,
                bottom_text="<strong>Impressive Statistic</strong>",
                enable_icon=false,
                number=70,
                number_color="light",
                prefix="",
                style={
                  "background" : {
                    "background_color" : {
                      "color" : "#003753",
                      "opacity" : 100
                    },
                    "background_gradient" : {
                      "colors" : [ {
                        "color" : {
                          "a" : 1,
                          "b" : 83,
                          "g" : 13,
                          "r" : 0
                        }
                      }, {
                        "color" : {
                          "a" : 1,
                          "b" : 255,
                          "g" : 80,
                          "r" : 99
                        }
                      } ],
                      "side_or_corner" : {
                        "horizontalSide" : "RIGHT",
                        "verticalSide" : "BOTTOM"
                      }
                    },
                    "background_type" : "gradient"
                  },
                  "custom_styling" : {
                    "number_color" : {
                      "color" : "#50C6FC",
                      "opacity" : 100
                    },
                    "text_color" : {
                      "color" : "#FFFFFF",
                      "opacity" : 100
                    }
                  },
                  "spacing" : {
                    "spacing" : {
                      "padding" : {
                        "bottom" : {
                          "units" : "px",
                          "value" : 50
                        },
                        "left" : {
                          "units" : "px",
                          "value" : 30
                        },
                        "right" : {
                          "units" : "px",
                          "value" : 30
                        },
                        "top" : {
                          "units" : "px",
                          "value" : 50
                        }
                      }
                    }
                  }
                },
                suffix="k",
                top_text=""
              %}
              {% end_dnd_module %}
            {% end_dnd_row %}
          {% end_dnd_column %}
          {% dnd_column
            offset=6,
            width=6
          %}
            {% dnd_row %}
              {% dnd_module
                path="../modules/Counter",
                offset=0,
                width=12,
                bottom_text="<strong>Impressive Statistic</strong>",
                enable_icon=false,
                number=150,
                number_color="light",
                prefix="",
                style={
                  "background" : {
                    "background_color" : {
                      "color" : "#003753",
                      "opacity" : 100
                    },
                    "background_gradient" : {
                      "colors" : [ {
                        "color" : {
                          "a" : 1,
                          "b" : 83,
                          "g" : 13,
                          "r" : 0
                        }
                      }, {
                        "color" : {
                          "a" : 1,
                          "b" : 255,
                          "g" : 80,
                          "r" : 99
                        }
                      } ],
                      "side_or_corner" : {
                        "horizontalSide" : "RIGHT",
                        "verticalSide" : "BOTTOM"
                      }
                    },
                    "background_type" : "gradient"
                  },
                  "custom_styling" : {
                    "number_color" : {
                      "color" : "#50C6FC",
                      "opacity" : 100
                    },
                    "text_color" : {
                      "color" : "#FFFFFF",
                      "opacity" : 100
                    }
                  },
                  "spacing" : {
                    "spacing" : {
                      "padding" : {
                        "bottom" : {
                          "units" : "px",
                          "value" : 50
                        },
                        "left" : {
                          "units" : "px",
                          "value" : 30
                        },
                        "right" : {
                          "units" : "px",
                          "value" : 30
                        },
                        "top" : {
                          "units" : "px",
                          "value" : 50
                        }
                      }
                    }
                  }
                },
                suffix="k",
                top_text=""
              %}
              {% end_dnd_module %}
            {% end_dnd_row %}
          {% end_dnd_column %}
        {% end_dnd_row %}
        {% dnd_row %}
          {% dnd_module
            path="../modules/Button - B2B Engine",
            offset=0,
            width=12,
            button_color="light",
            button_type="gradient",
            enable_accent_line=true,
            style={
              "spacing" : {
                "spacing" : {
                  "margin" : {
                    "bottom" : { },
                    "top" : {
                      "units" : "px",
                      "value" : 20
                    }
                  }
                }
              }
            },
            text="Read the Case Study"
          %}
          {% end_dnd_module %}
        {% end_dnd_row %}
      {% end_dnd_column %}
      {% dnd_column
        offset=7,
        width=5
      %}
        {% dnd_row %}
          {% dnd_module
            path="../modules/Image - B2B Engine",
            offset=0,
            width=12,
            accent_line_color="secondary",
            accent_lines="offset-frame",
            image={
              "alt" : "team",
              "height" : 1350,
              "max_height" : 1350,
              "max_width" : 900,
              "src" : get_asset_url("../images/team-member-2.jpg"),
              "width" : 900
            }
          %}
          {% end_dnd_module %}
        {% end_dnd_row %}
      {% end_dnd_column %}
    {% end_dnd_section %}


    {% dnd_section
      max_width=1240,
      background_image={
        "background_position" : "MIDDLE_CENTER",
        "background_size" : "cover",
        "image_url" : get_asset_url("../images/bg-gray.png")
      }
    %}
      {% dnd_column
        offset=0,
        width=12
      %}
        {% dnd_row %}
          {% dnd_module
            path="../modules/Text - B2B Engine",
            offset=0,
            width=12,
            alignment="center",
            heading="From the Blog",
            heading_accent= "split-horizontal",
            heading_accent_color= "secondary",
            subheading="",
            intro_text="Resource library created by our team of industry experts",
            main_text="",
            enable_heading_shadow=true
          %}
          {% end_dnd_module %}
        {% end_dnd_row %}
        {% dnd_row
          padding={
            "default" : {
              "bottom" : "0px",
              "top" : "0px"
            }
          },
          margin={
            "default" : {
              "bottom" : "30px",
              "top" : "30px"
            }
          }
        %}
          {% dnd_module
            path="../modules/Blog Posts",
            offset=0,
            width=12,
            background_color="primary",
            button_color="light",
            button_type="link",
            tag="module",
            text_color="light"
          %}
          {% end_dnd_module %}
        {% end_dnd_row %}
        {% dnd_row %}
          {% dnd_module
            path="../modules/Section Options",
            offset=0,
            width=12,
            background_image_effects="parallax"
          %}
          {% end_dnd_module %}
        {% end_dnd_row %}
      {% end_dnd_column %}
    {% end_dnd_section %}


    {% dnd_section
      max_width=960,
      background_linear_gradient={
        "colors" : [ "rgba(0, 13, 83, 1)", "rgba(99, 80, 255, 1)" ],
        "direction" : "to bottom right"
      },
      padding={
        "default" : {
          "bottom" : "80px",
          "top" : "80px"
        }
      }
    %}
      {% dnd_column
        offset=0,
        width=12
      %}
        {% dnd_row %}
          {% dnd_module
            path="../modules/Text - B2B Engine",
            offset=0,
            width=12,
            alignment="center",
            text_color="light",
            heading="Our Mission",
            heading_accent= "split-horizontal",
            heading_accent_color= "light",
            subheading="",
            intro_text="<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Convallis convallis tellus id interdum velit. Tellus at urna condimentum mattis pellentesque id. Eleifend mi in nulla posuere sollicitudin aliquam ultrices sagittis orci.</p>",
            main_text="",
            enable_heading_shadow=true
          %}
          {% end_dnd_module %}
        {% end_dnd_row %}
        {% dnd_row %}
          {% dnd_module
            path="../modules/Button - B2B Engine",
            offset=0,
            width=12,
            alignment="center",
            button_color="light",
            button_type="gradient",
            enable_accent_line=true,
            style={
              "spacing" : {
                "spacing" : {
                  "margin" : {
                    "bottom" : { },
                    "top" : {
                      "units" : "px",
                      "value" : 20
                    }
                  }
                }
              }
            },
            text="Learn More About Us"
          %}
          {% end_dnd_module %}
        {% end_dnd_row %}
        {% dnd_row %}
          {% dnd_module
            path="../modules/Image - B2B Engine",
            offset=0,
            width=12,
            accent_line_color="light",
            accent_lines="shape-one",
            image={
              "alt" : "mission-image",
              "height" : 591,
              "loading" : "lazy",
              "max_height" : 591,
              "max_width" : 1200,
              "size_type" : "auto",
              "src" : get_asset_url("../images/mission.jpg"),,
              "width" : 1200
            }
          %}
          {% end_dnd_module %}
        {% end_dnd_row %}
      {% end_dnd_column %}
    {% end_dnd_section %}


    {% dnd_section
      max_width=960,
      padding={
        "default" : {
          "bottom" : "0px"
        }
      }
    %}
      {% dnd_column
        offset=0,
        width=12
      %}
        {% dnd_row %}
          {% dnd_module
            path="../modules/Text - B2B Engine",
            offset=0,
            width=12,
            alignment="center",
            heading="Find Your Fit",
            heading_accent= "split-horizontal",
            heading_accent_color= "primary",
            subheading="",
            intro_text="",
            main_text="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Convallis convallis tellus id interdum velit. Tellus at urna condimentum mattis pellentesque id. Eleifend mi in nulla posuere sollicitudin aliquam ultrices sagittis orci. Tellus pellentesque eu tincidunt tortor aliquam nulla.",
            enable_heading_shadow=true
          %}
          {% end_dnd_module %}
        {% end_dnd_row %}
      {% end_dnd_column %}
    {% end_dnd_section %}


    {% dnd_section
      padding={
        "default" : {
          "top" : "80px"
        },
        "mobile" : {
          "top" : "40px"
        }
      }
    %}
      {% dnd_column
        offset=0,
        width=12
      %}
        {% dnd_row %}
          {% dnd_module
            path="../modules/Cards",
            offset=0,
            width=12,
            variation="var_5",
            hover_behavior="image-zoom",
            cards=[
              {
                "alignment": "center",
                "image": {
                  "src": get_asset_url("../images/card-image-3.jpg")
                },
                "background_color": "secondary",
                "overlay_color_choice": "light-gray",
                "overlay_text_color": "dark",
                "text_color": "dark",
                "heading": "Product Name",
                "heading_size": "h3",
                "heading_tag": "h3",
                "subheading": "",
                "main_text": "Lorem ipsum dolor sit amet, congue inciderint sea no, ut eos exerci soluta, an quo suscipit similique.",
                "button_type": "outline",
                "button_color": "dark",
                "button_text": "Learn More",
                "link": {
                  "no_follow" : false,
                  "open_in_new_tab" : true,
                  "url" : {
                    "href" : "https://www.npws.net/",
                    "type" : "EXTERNAL"
                  }
                }
              },
              {
                "alignment": "center",
                "image": {
                  "src": get_asset_url("../images/product-image-1.jpg")
                },
                "background_color": "secondary",
                "overlay_color_choice": "light-gray",
                "overlay_text_color": "dark",
                "text_color": "dark",
                "heading": "Product Name",
                "heading_size": "h3",
                "heading_tag": "h3",
                "subheading": "",
                "main_text": "Lorem ipsum dolor sit amet, congue inciderint sea no, ut eos exerci soluta, an quo suscipit similique.",
                "button_type": "outline",
                "button_color": "dark",
                "button_text": "Learn More",
                "link": {
                  "no_follow" : false,
                  "open_in_new_tab" : true,
                  "url" : {
                    "href" : "https://www.npws.net/",
                    "type" : "EXTERNAL"
                  }
                }
              },
              {
                "alignment": "center",
                "image": {
                  "src": get_asset_url("../images/product-image-3.jpg")
                },
                "background_color": "secondary",
                "overlay_color_choice": "light-gray",
                "overlay_text_color": "dark",
                "text_color": "dark",
                "heading": "Product Name",
                "heading_size": "h3",
                "heading_tag": "h3",
                "subheading": "",
                "main_text": "Lorem ipsum dolor sit amet, congue inciderint sea no, ut eos exerci soluta, an quo suscipit similique.",
                "button_type": "outline",
                "button_color": "dark",
                "button_text": "Learn More",
                "link": {
                  "no_follow" : false,
                  "open_in_new_tab" : true,
                  "url" : {
                    "href" : "https://www.npws.net/",
                    "type" : "EXTERNAL"
                  }
                }
              }
            ]
          %}
          {% end_dnd_module %}
        {% end_dnd_row %}
      {% end_dnd_column %}
    {% end_dnd_section %}


    {% include_dnd_partial path='../sections/cta-centered-text-button-overlay.html' context={} %}


  {% end_dnd_area %}
</main>
{% endblock body %}
