<!--
  templateType: page
  isAvailableForNewContent: true
  label: Landing 1
  screenshotPath: ../images/template-previews/landing-1.jpg
-->

{% extends './layouts/base.html' %}

{% block body %}
<main id="main-content" class="body-container-wrapper">
  {% dnd_area 'dnd_area' class='body-container body-container--landing', label='Main section' %}


  {% dnd_section
    background_color="rgba(242, 242, 242, 1)",
    padding={
      "default" : {
        "bottom" : "20px",
        "top" : "30px"
      }
    }
  %}
    {% dnd_column
      offset=0,
      width=12
    %}
      {% dnd_row %}
        {% dnd_module
          path="@hubspot/logo",
          offset=0,
          width=12,
          horizontal_alignment="CENTER",
          img={
            "alt" : "Group 108",
            "height" : 58,
            "override_inherited_src" : true,
            "src" : get_asset_url("../images/b2b-engine-pro-logo.png"),
            "suppress_company_name" : true,
            "width" : 350
          }
        %}
        {% end_dnd_module %}
      {% end_dnd_row %}
    {% end_dnd_column %}
  {% end_dnd_section %}


  {% dnd_section
    max_width=1100,
    background_image={
      "background_position" : "BOTTOM_RIGHT",
      "background_size" : "cover",
      "image_url" : get_asset_url("../images/bg-gray.png")
    },
    padding={
      "default" : {
        "top" : "60px"
      },
      "mobile" : {
        "top" : "0px"
      }
    }
  %}
    {% dnd_column
      offset=0,
      width=5,
      padding={
        "default" : {
          "top" : "10px"
        }
      }
    %}
      {% dnd_row %}
        {% dnd_module
          path="../modules/Image - B2B Engine",
          offset=0,
          width=12,
          accent_lines="offset-frame",
          image={
            "alt" : "lp-item",
            "height" : 805,
            "loading" : "lazy",
            "max_height" : 805,
            "max_width" : 600,
            "size_type" : "auto",
            "src" : get_asset_url("../images/lp-item.jpg"),
            "width" : 600
          }
        %}
        {% end_dnd_module %}
      {% end_dnd_row %}
      {% dnd_row %}
        {% dnd_module
          path="../modules/Text - B2B Engine",
          offset=0,
          width=12,
          alignment="left",
          heading="What's Included:",
          heading_size="h4",
          heading_tag="h2",
          subheading="",
          intro_text="",
          main_text="<span>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</span><br><br><ul><li>Chapter 1</li><li>Chapter 2</li><li>Chapter 3</li><li>Chapter 4</li></ul>"
        %}
        {% end_dnd_module %}
      {% end_dnd_row %}
    {% end_dnd_column %}
    {% dnd_column
      offset=5,
      width=7,
      padding={
        "default" : {
          "left" : "2rem",
          "right" : "2rem"
        },
        "mobile" : {
          "left" : "0px",
          "right" : "0px"
        }
      }
    %}
      {% dnd_row %}
        {% dnd_module
          path="../modules/Text - B2B Engine",
          offset=0,
          width=12,
          alignment="left",
          heading="Download Your Free Guide",
          heading_size="h1",
          heading_tag="h2",
          heading_accent="full-width",
          heading_accent_color="primary",
          subheading="",
          intro_text="",
          main_text=""
        %}
        {% end_dnd_module %}
      {% end_dnd_row %}
      {% dnd_row %}
        {% dnd_module
          path="../modules/Form - B2B Engine",
          offset=0,
          width=12,
          enable_sticky_column=false,
          form_title="",
          style={
            "background" : {
              "background_gradient" : {
                "colors" : [ {
                  "color" : {
                    "a" : 1,
                    "b" : 252,
                    "g" : 198,
                    "r" : 80
                  }
                }, {
                  "color" : {
                    "a" : 1,
                    "b" : 255,
                    "g" : 80,
                    "r" : 99
                  }
                } ],
                "side_or_corner" : {
                  "verticalSide" : "BOTTOM"
                }
              },
              "background_type" : "gradient"
            },
            "button" : {
              "background_color" : {
                "color" : "#003753",
                "opacity" : 100
              },
              "border_color" : {
                "color" : "#003753",
                "opacity" : 100
              },
              "font" : {
                "color" : "#FFFFFF"
              }
            }
          }
        %}
        {% end_dnd_module %}
      {% end_dnd_row %}
    {% end_dnd_column %}
  {% end_dnd_section %}


  {% include_dnd_partial path='../sections/recent-blog-posts.html' context={} %}
  

  {% end_dnd_area %}
</main>
{% endblock body %}
