<!--
  templateType: page
  isAvailableForNewContent: true
  label: Products
  screenshotPath: ../images/template-previews/products.jpg
-->

{% extends "./layouts/base.html" %}

{% block body %}
<main id="main-content" class="body-container-wrapper">
  {% dnd_area 'dnd_area' class='body-container body-container--products', label='Main section' %}
    
  
  {% dnd_section
    full_width=true,
    padding={'top': '0', 'bottom': '0', 'left': '0', 'right': '0'}
  %}
    {% dnd_module
      path="../modules/Hero Banner",
      offset=0,
      width=12,
      layout="text",
      background_overlay={
        background_type: "video",
        background_image_mobile: {
          "src": get_asset_url("../images/bg-hero-4-mobile.jpg")
        },
        enable_overlay: true,
        overlay_color_choice: "dark"
      },
      text={
        alignment: "center",
        text_color: "light",
        heading: "Our Products",
        heading_accent: "none",
        subheading: "",
        intro_text: "",
        enable_heading_shadow: false
      }
    %}
    {% end_dnd_module %}
  {% end_dnd_section %}


  {% dnd_section
    max_width=960,
    padding={
      "default" : {
        "bottom" : "0px"
      }
    }
  %}
    {% dnd_column
      offset=0,
      width=12
    %}
      {% dnd_row %}
        {% dnd_module
          path="../modules/Text - B2B Engine",
          offset=0,
          width=12,
          alignment="center",
          heading="Find Your Solution",
          subheading="",
          intro_text="",
          main_text="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Convallis convallis tellus id interdum velit. Tellus at urna condimentum mattis pellentesque id. Eleifend mi in nulla posuere sollicitudin aliquam ultrices sagittis orci. Tellus pellentesque eu tincidunt tortor aliquam nulla."
        %}
        {% end_dnd_module %}
      {% end_dnd_row %}
    {% end_dnd_column %}
  {% end_dnd_section %}


  {% dnd_section
    padding={
      "default" : {
        "top" : "80px"
      }
    }
  %}
    {% dnd_column
      offset=0,
      width=12
    %}
      {% dnd_row %}
        {% dnd_module
          path="../modules/Cards",
          offset=0,
          width=12,
          cards=[ {
            "alignment" : "center",
            "background_color" : "primary",
            "button_color" : "light",
            "button_text" : "Learn More",
            "button_type" : "flat",
            "enable_button_accent_line" : false,
            "heading" : "Product One",
            "heading_size" : "h3",
            "heading_tag" : "h3",
            "image" : {
              "alt" : "product-image-1",
              "height" : 1221,
              "loading" : "lazy",
              "max_height" : 1221,
              "max_width" : 960,
              "size_type" : "auto",
              "src" : get_asset_url("../images/product-image-1.jpg"),
              "width" : 960
            },
            "main_text" : "<p>Lorem ipsum dolor sit amet, congue inciderint sea no, ut eos exerci soluta, an quo suscipit similique. Vix mucius docendi in, dictas habemus an nam.</p>",
            "overlay_color_choice" : "primary",
            "overlay_text_color" : "light",
            "subheading" : "",
            "text_color" : "light"
          },
          {
            "alignment" : "center",
            "background_color" : "primary",
            "button_color" : "light",
            "button_text" : "Learn More",
            "button_type" : "flat",
            "enable_button_accent_line" : false,
            "heading" : "Product two",
            "heading_size" : "h3",
            "heading_tag" : "h3",
            "image" : {
              "alt" : "product-image-2",
              "height" : 1221,
              "loading" : "lazy",
              "max_height" : 1221,
              "max_width" : 960,
              "size_type" : "auto",
              "src" : get_asset_url("../images/product-image-2.jpg"),
              "width" : 960
            },
            "main_text" : "<p>Lorem ipsum dolor sit amet, congue inciderint sea no, ut eos exerci soluta, an quo suscipit similique. Vix mucius docendi in, dictas habemus an nam.</p>",
            "overlay_color_choice" : "primary",
            "overlay_text_color" : "light",
            "subheading" : "",
            "text_color" : "light"
          },
          {
            "alignment" : "center",
            "background_color" : "primary",
            "button_color" : "light",
            "button_text" : "Learn More",
            "button_type" : "flat",
            "enable_button_accent_line" : false,
            "heading" : "Product Three",
            "heading_size" : "h3",
            "heading_tag" : "h3",
            "image" : {
              "alt" : "team-member-2",
              "height" : 1350,
              "loading" : "lazy",
              "max_height" : 1350,
              "max_width" : 900,
              "size_type" : "auto",
              "src" : get_asset_url("../images/team-member-2.jpg"),
              "width" : 900
            },
            "main_text" : "<p>Lorem ipsum dolor sit amet, congue inciderint sea no, ut eos exerci soluta, an quo suscipit similique. Vix mucius docendi in, dictas habemus an nam.</p>",
            "overlay_color_choice" : "primary",
            "overlay_text_color" : "light",
            "subheading" : "",
            "text_color" : "light"
          },
          {
            "alignment" : "center",
            "background_color" : "primary",
            "button_color" : "light",
            "button_text" : "Learn More",
            "button_type" : "flat",
            "enable_button_accent_line" : false,
            "heading" : "Product Four",
            "heading_size" : "h3",
            "heading_tag" : "h3",
            "image" : {
              "alt" : "team-member-4",
              "height" : 1247,
              "loading" : "lazy",
              "max_height" : 1247,
              "max_width" : 1000,
              "size_type" : "auto",
              "src" : get_asset_url("../images/team-member-4.jpg"),
              "width" : 1000
            },
            "main_text" : "<p>Lorem ipsum dolor sit amet, congue inciderint sea no, ut eos exerci soluta, an quo suscipit similique. Vix mucius docendi in, dictas habemus an nam.</p>",
            "overlay_color_choice" : "primary",
            "overlay_text_color" : "light",
            "subheading" : "",
            "text_color" : "light"
          },
          {
            "alignment" : "center",
            "background_color" : "primary",
            "button_color" : "light",
            "button_text" : "Learn More",
            "button_type" : "flat",
            "enable_button_accent_line" : false,
            "heading" : "Product Five",
            "heading_size" : "h3",
            "heading_tag" : "h3",
            "image" : {
              "alt" : "team-member-1.jpg",
              "height" : 1272,
              "loading" : "lazy",
              "max_height" : 1272,
              "max_width" : 1000,
              "size_type" : "auto",
              "src" : get_asset_url("../images/team-member-1.jpg"),
              "width" : 1000
            },
            "main_text" : "<p>Lorem ipsum dolor sit amet, congue inciderint sea no, ut eos exerci soluta, an quo suscipit similique. Vix mucius docendi in, dictas habemus an nam.</p>",
            "overlay_color_choice" : "primary",
            "overlay_text_color" : "light",
            "subheading" : "",
            "text_color" : "light"
          },
          {
            "alignment" : "center",
            "background_color" : "primary",
            "button_color" : "light",
            "button_text" : "Learn More",
            "button_type" : "flat",
            "enable_button_accent_line" : false,
            "heading" : "Product Six",
            "heading_size" : "h3",
            "heading_tag" : "h3",
            "image" : {
              "alt" : "card-image-3",
              "height" : 1272,
              "loading" : "lazy",
              "max_height" : 1272,
              "max_width" : 1000,
              "size_type" : "auto",
              "src" : get_asset_url("../images/card-image-3.jpg"),
              "width" : 1000
            },
            "main_text" : "<p>Lorem ipsum dolor sit amet, congue inciderint sea no, ut eos exerci soluta, an quo suscipit similique. Vix mucius docendi in, dictas habemus an nam.</p>",
            "overlay_color_choice" : "primary",
            "overlay_text_color" : "light",
            "subheading" : "",
            "text_color" : "light"
          }
          ],
          layout="grid",
          variation="var_4"
        %}
        {% end_dnd_module %}
      {% end_dnd_row %}
    {% end_dnd_column %}
  {% end_dnd_section %}


  {% dnd_section
    max_width=960,
    background_linear_gradient={
      "colors" : [ "rgba(99, 80, 255, 1)", "rgba(80, 198, 252, 1)" ],
      "direction" : "to bottom"
    },
    padding={
      "default" : {
        "bottom" : "100px"
      },
      "mobile" : {
        "bottom" : "50px"
      }
    }
  %}
    {% dnd_column
      offset=0,
      width=12
    %}
      {% dnd_row %}
        {% dnd_module
          path="../modules/Text - B2B Engine",
          offset=0,
          width=12,
          alignment="center",
          text_color="light",
          heading="Our Client's Love Us",
          subheading="",
          intro_text="",
          main_text=""
        %}
        {% end_dnd_module %}
      {% end_dnd_row %}
      {% dnd_row %}
        {% dnd_module
          path="../modules/Testimonials",
          offset=0,
          width=12,
          layout="grid",
          text_color="light",
          testimonials=[
            {
              "author_image": {
                "src": get_asset_url("../images/customer.jpg")
              },
              "quote": "Lorem ipsum dolor sit amet, erant viris tibique an mea, maiorum blandit repudiandae ei nec, eam ut scripta blandit singulis. Ubique recusabo ut his. Ea cum wisi audiam persius, vidit illud graecis in per. Nam ex malis abhorreant, et falli soleat nec, duo augue eripuit euripidis ne.",
              "author": "Client Name",
              "title": "Job Title, Years with the Company"
            }
          ]
        %}
        {% end_dnd_module %}
      {% end_dnd_row %}
    {% end_dnd_column %}
  {% end_dnd_section %}


  {% dnd_section
    max_width=900,
    padding={
      "default" : {
        "bottom" : "85px",
        "top" : "75px"
      }
    }
  %}
    {% dnd_column
      offset=0,
      width=6
    %}
      {% dnd_row %}
        {% dnd_module
          path="../modules/Image - B2B Engine",
          offset=0,
          width=12,
          accent_lines="shape-two",
          image={
            "alt" : "team-member-5",
            "height" : 1142,
            "max_height" : 1142,
            "max_width" : 800,
            "src" : get_asset_url("../images/team-member-5.jpg"),
            "width" : 800
          }
        %}
        {% end_dnd_module %}
      {% end_dnd_row %}
    {% end_dnd_column %}
    {% dnd_column
      offset=6,
      width=6
    %}
      {% dnd_row %}
        {% dnd_module
          path="../modules/Text - B2B Engine",
          offset=0,
          width=12,
          heading="Ready to Get Started?",
          subheading="",
          intro_text=""
        %}
        {% end_dnd_module %}
      {% end_dnd_row %}
      {% dnd_row %}
        {% dnd_module
          path="../modules/Button - B2B Engine",
          offset=0,
          width=12,
          alignment="center",
          button_color="light",
          button_type="gradient",
          enable_accent_line=true,
          text="Request a Quote"
        %}
        {% end_dnd_module %}
      {% end_dnd_row %}
    {% end_dnd_column %}
  {% end_dnd_section %}
  

  {% end_dnd_area %}
</main>
{% endblock body %}
