<!--
  templateType: page
  isAvailableForNewContent: true
  label: Resources
  screenshotPath: ../images/template-previews/resources.jpg
-->

{% extends './layouts/base.html' %}

{% block body %}
<main id="main-content" class="body-container-wrapper">
  {% dnd_area 'dnd_area' class='body-container body-container--resources', label='Main section' %}


  {% dnd_section
    max_width=860,
    padding={
      "default" : {
        "bottom" : "30px",
        "top" : "65px"
      }
    }
  %}
    {% dnd_column
      offset=0,
      width=12
    %}
      {% dnd_row %}
        {% dnd_module
          path="../modules/Text - B2B Engine",
          offset=0,
          width=12,
          alignment="center",
          heading_size="h1",
          heading_tag="h1",
          heading="Resources",
          subheading="",
          intro_text="",
          main_text="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Convallis convallis tellus id interdum velit. Tellus at urna condimentum mattis pellentesque id. Eleifend mi in nulla posuere sollicitudin aliquam ultrices sagittis orci. Tellus pellentesque eu tincidunt tortor aliquam nulla."
        %}
        {% end_dnd_module %}
      {% end_dnd_row %}
    {% end_dnd_column %}
  {% end_dnd_section %}


  {% dnd_section
    max_width=1240,
    background_image={
      "background_position" : "TOP_CENTER",
      "background_size" : "cover",
      "image_url" : get_asset_url("../images/bg-stars.jpg")
    },
    padding={
      "default" : {
        "top" : "30px"
      }
    }
  %}
    {% dnd_column
      offset=0,
      width=9
    %}
      {% dnd_row %}
        {% dnd_module
          path="../modules/Text - B2B Engine",
          offset=0,
          width=12,
          alignment="center",
          heading="Webinars",
          heading_accent="small-width",
          heading_accent_color="primary",
          subheading="",
          intro_text="",
          main_text="",
          heading_size="h3",
          heading_tag="h2",
          text_color="dark",
          custom_id="webinars"
        %}
        {% end_dnd_module %}
      {% end_dnd_row %}
      {% dnd_row %}
        {% dnd_module
          path="../modules/Cards",
          offset=0,
          width=12,
          cards=[ {
            "alignment" : "center",
            "background_color" : "dark",
            "button_color" : "light",
            "button_text" : "Watch Now",
            "button_type" : "gradient",
            "enable_button_accent_line" : false,
            "enable_social_links" : false,
            "heading" : "Resource Name",
            "heading_size" : "h3",
            "heading_tag" : "h3",
            "icon" : {
              "name" : "Video",
              "type" : "SOLID",
              "unicode" : "f03d"
            },
            "icon_color" : "primary",
            "icon_height" : 50,
            "link" : {
              "no_follow" : false,
              "open_in_new_tab" : true,
              "url" : {
                "href" : "#",
                "type" : "EXTERNAL"
              }
            },
            "main_text" : "<p>Lorem ipsum dolor sit amet, congue inciderint sea no, ut eos exerci soluta,</p>",
            "overlay_color_choice" : "dark",
            "overlay_text_color" : "body",
            "subheading" : "WEBINAR",
            "text_color" : "light"
          }, {
            "alignment" : "center",
            "background_color" : "dark",
            "button_color" : "light",
            "button_text" : "Watch Now",
            "button_type" : "gradient",
            "enable_button_accent_line" : false,
            "enable_social_links" : false,
            "heading" : "Resource Name",
            "heading_size" : "h3",
            "heading_tag" : "h3",
            "icon" : {
              "name" : "Video",
              "type" : "SOLID",
              "unicode" : "f03d"
            },
            "icon_color" : "primary",
            "icon_height" : 50,
            "link" : {
              "no_follow" : false,
              "open_in_new_tab" : true,
              "url" : {
                "href" : "#",
                "type" : "EXTERNAL"
              }
            },
            "main_text" : "<p>Lorem ipsum dolor sit amet, congue inciderint sea no, ut eos exerci soluta,</p>",
            "overlay_color_choice" : "dark",
            "overlay_text_color" : "body",
            "subheading" : "WEBINAR",
            "text_color" : "light"
          }, {
            "alignment" : "center",
            "background_color" : "dark",
            "button_color" : "light",
            "button_text" : "Watch Now",
            "button_type" : "gradient",
            "enable_button_accent_line" : false,
            "enable_social_links" : false,
            "heading" : "Resource Name",
            "heading_size" : "h3",
            "heading_tag" : "h3",
            "icon" : {
              "name" : "Video",
              "type" : "SOLID",
              "unicode" : "f03d"
            },
            "icon_color" : "primary",
            "icon_height" : 50,
            "link" : {
              "no_follow" : false,
              "open_in_new_tab" : true,
              "url" : {
                "href" : "#",
                "type" : "EXTERNAL"
              }
            },
            "main_text" : "<p>Lorem ipsum dolor sit amet, congue inciderint sea no, ut eos exerci soluta,</p>",
            "overlay_color_choice" : "dark",
            "overlay_text_color" : "body",
            "subheading" : "WEBINAR",
            "text_color" : "light"
          }, {
            "alignment" : "center",
            "background_color" : "dark",
            "button_color" : "light",
            "button_text" : "Watch Now",
            "button_type" : "gradient",
            "enable_button_accent_line" : false,
            "enable_social_links" : false,
            "heading" : "Resource Name",
            "heading_size" : "h3",
            "heading_tag" : "h3",
            "icon" : {
              "name" : "Video",
              "type" : "SOLID",
              "unicode" : "f03d"
            },
            "icon_color" : "primary",
            "icon_height" : 50,
            "link" : {
              "no_follow" : false,
              "open_in_new_tab" : true,
              "url" : {
                "href" : "#",
                "type" : "EXTERNAL"
              }
            },
            "main_text" : "<p>Lorem ipsum dolor sit amet, congue inciderint sea no, ut eos exerci soluta,</p>",
            "overlay_color_choice" : "dark",
            "overlay_text_color" : "body",
            "subheading" : "WEBINAR",
            "text_color" : "light"
          }, {
            "alignment" : "center",
            "background_color" : "dark",
            "button_color" : "light",
            "button_text" : "Watch Now",
            "button_type" : "gradient",
            "enable_button_accent_line" : false,
            "enable_social_links" : false,
            "heading" : "Resource Name",
            "heading_size" : "h3",
            "heading_tag" : "h3",
            "icon" : {
              "name" : "Video",
              "type" : "SOLID",
              "unicode" : "f03d"
            },
            "icon_color" : "primary",
            "icon_height" : 50,
            "link" : {
              "no_follow" : false,
              "open_in_new_tab" : true,
              "url" : {
                "href" : "#",
                "type" : "EXTERNAL"
              }
            },
            "main_text" : "<p>Lorem ipsum dolor sit amet, congue inciderint sea no, ut eos exerci soluta,</p>",
            "overlay_color_choice" : "dark",
            "overlay_text_color" : "body",
            "subheading" : "WEBINAR",
            "text_color" : "light"
          }, {
            "alignment" : "center",
            "background_color" : "dark",
            "button_color" : "light",
            "button_text" : "Watch Now",
            "button_type" : "gradient",
            "enable_button_accent_line" : false,
            "enable_social_links" : false,
            "heading" : "Resource Name",
            "heading_size" : "h3",
            "heading_tag" : "h3",
            "icon" : {
              "name" : "Video",
              "type" : "SOLID",
              "unicode" : "f03d"
            },
            "icon_color" : "primary",
            "icon_height" : 50,
            "link" : {
              "no_follow" : false,
              "open_in_new_tab" : true,
              "url" : {
                "href" : "#",
                "type" : "EXTERNAL"
              }
            },
            "main_text" : "<p>Lorem ipsum dolor sit amet, congue inciderint sea no, ut eos exerci soluta,</p>",
            "overlay_color_choice" : "dark",
            "overlay_text_color" : "body",
            "subheading" : "WEBINAR",
            "text_color" : "light"
          } ],
          layout="grid",
          variation="var_2"
        %}
        {% end_dnd_module %}
      {% end_dnd_row %}
      {% dnd_row %}
        {% dnd_module
          path="../modules/Text - B2B Engine",
          offset=0,
          width=12,
          alignment="center",
          heading="Whitepapers",
          heading_accent="small-width",
          heading_accent_color="primary",
          subheading="",
          intro_text="",
          main_text="",
          heading_size="h3",
          heading_tag="h2",
          text_color="dark",
          custom_id="whitepapers"
        %}
        {% end_dnd_module %}
      {% end_dnd_row %}
      {% dnd_row %}
        {% dnd_module
          path="../modules/Cards",
          offset=0,
          width=12,
          cards=[ {
            "alignment" : "center",
            "background_color" : "secondary",
            "button_color" : "light",
            "button_text" : "Download Now",
            "button_type" : "gradient",
            "enable_button_accent_line" : false,
            "enable_social_links" : false,
            "heading" : "Resource Name",
            "heading_size" : "h3",
            "heading_tag" : "h3",
            "icon" : {
              "name" : "file",
              "type" : "REGULAR",
              "unicode" : "f15b"
            },
            "icon_color" : "primary",
            "icon_height" : 50,
            "link" : {
              "no_follow" : false,
              "open_in_new_tab" : true,
              "url" : {
                "href" : "#",
                "type" : "EXTERNAL"
              }
            },
            "main_text" : "<p>Lorem ipsum dolor sit amet, congue inciderint sea no, ut eos exerci soluta,</p>",
            "overlay_color_choice" : "dark",
            "overlay_text_color" : "body",
            "subheading" : "WHITEPAPER",
            "text_color" : "dark"
          }, {
            "alignment" : "center",
            "background_color" : "secondary",
            "button_color" : "light",
            "button_text" : "Download Now",
            "button_type" : "gradient",
            "enable_button_accent_line" : false,
            "enable_social_links" : false,
            "heading" : "Resource Name",
            "heading_size" : "h3",
            "heading_tag" : "h3",
            "icon" : {
              "name" : "file",
              "type" : "REGULAR",
              "unicode" : "f15b"
            },
            "icon_color" : "primary",
            "icon_height" : 50,
            "link" : {
              "no_follow" : false,
              "open_in_new_tab" : true,
              "url" : {
                "href" : "#",
                "type" : "EXTERNAL"
              }
            },
            "main_text" : "<p>Lorem ipsum dolor sit amet, congue inciderint sea no, ut eos exerci soluta,</p>",
            "overlay_color_choice" : "dark",
            "overlay_text_color" : "body",
            "subheading" : "WHITEPAPER",
            "text_color" : "dark"
          }, {
            "alignment" : "center",
            "background_color" : "secondary",
            "button_color" : "light",
            "button_text" : "Download Now",
            "button_type" : "gradient",
            "enable_button_accent_line" : false,
            "enable_social_links" : false,
            "heading" : "Resource Name",
            "heading_size" : "h3",
            "heading_tag" : "h3",
            "icon" : {
              "name" : "file",
              "type" : "REGULAR",
              "unicode" : "f15b"
            },
            "icon_color" : "primary",
            "icon_height" : 50,
            "link" : {
              "no_follow" : false,
              "open_in_new_tab" : true,
              "url" : {
                "href" : "#",
                "type" : "EXTERNAL"
              }
            },
            "main_text" : "<p>Lorem ipsum dolor sit amet, congue inciderint sea no, ut eos exerci soluta,</p>",
            "overlay_color_choice" : "dark",
            "overlay_text_color" : "body",
            "subheading" : "WHITEPAPER",
            "text_color" : "dark"
          }, {
            "alignment" : "center",
            "background_color" : "secondary",
            "button_color" : "light",
            "button_text" : "Download Now",
            "button_type" : "gradient",
            "enable_button_accent_line" : false,
            "enable_social_links" : false,
            "heading" : "Resource Name",
            "heading_size" : "h3",
            "heading_tag" : "h3",
            "icon" : {
              "name" : "file",
              "type" : "REGULAR",
              "unicode" : "f15b"
            },
            "icon_color" : "primary",
            "icon_height" : 50,
            "link" : {
              "no_follow" : false,
              "open_in_new_tab" : true,
              "url" : {
                "href" : "#",
                "type" : "EXTERNAL"
              }
            },
            "main_text" : "<p>Lorem ipsum dolor sit amet, congue inciderint sea no, ut eos exerci soluta,</p>",
            "overlay_color_choice" : "dark",
            "overlay_text_color" : "body",
            "subheading" : "WHITEPAPER",
            "text_color" : "dark"
          }, {
            "alignment" : "center",
            "background_color" : "secondary",
            "button_color" : "light",
            "button_text" : "Download Now",
            "button_type" : "gradient",
            "enable_button_accent_line" : false,
            "enable_social_links" : false,
            "heading" : "Resource Name",
            "heading_size" : "h3",
            "heading_tag" : "h3",
            "icon" : {
              "name" : "file",
              "type" : "REGULAR",
              "unicode" : "f15b"
            },
            "icon_color" : "primary",
            "icon_height" : 50,
            "link" : {
              "no_follow" : false,
              "open_in_new_tab" : true,
              "url" : {
                "href" : "#",
                "type" : "EXTERNAL"
              }
            },
            "main_text" : "<p>Lorem ipsum dolor sit amet, congue inciderint sea no, ut eos exerci soluta,</p>",
            "overlay_color_choice" : "dark",
            "overlay_text_color" : "body",
            "subheading" : "WHITEPAPER",
            "text_color" : "dark"
          }, {
            "alignment" : "center",
            "background_color" : "secondary",
            "button_color" : "light",
            "button_text" : "Download Now",
            "button_type" : "gradient",
            "enable_button_accent_line" : false,
            "enable_social_links" : false,
            "heading" : "Resource Name",
            "heading_size" : "h3",
            "heading_tag" : "h3",
            "icon" : {
              "name" : "file",
              "type" : "REGULAR",
              "unicode" : "f15b"
            },
            "icon_color" : "primary",
            "icon_height" : 50,
            "link" : {
              "no_follow" : false,
              "open_in_new_tab" : true,
              "url" : {
                "href" : "#",
                "type" : "EXTERNAL"
              }
            },
            "main_text" : "<p>Lorem ipsum dolor sit amet, congue inciderint sea no, ut eos exerci soluta,</p>",
            "overlay_color_choice" : "dark",
            "overlay_text_color" : "body",
            "subheading" : "WHITEPAPER",
            "text_color" : "dark"
          } ],
          layout="grid",
          variation="var_2"
        %}
        {% end_dnd_module %}
      {% end_dnd_row %}
      {% dnd_row %}
        {% dnd_module
          path="../modules/Text - B2B Engine",
          offset=0,
          width=12,
          alignment="center",
          heading="Podcasts",
          heading_accent="small-width",
          heading_accent_color="primary",
          subheading="",
          intro_text="",
          main_text="",
          heading_size="h3",
          heading_tag="h2",
          text_color="dark",
          custom_id="podcasts"
        %}
        {% end_dnd_module %}
      {% end_dnd_row %}
      {% dnd_row %}
        {% dnd_module
          path="../modules/Cards",
          offset=0,
          width=12,
          cards=[ {
            "alignment" : "center",
            "background_color" : "light-gray",
            "button_color" : "light",
            "button_text" : "Download Now",
            "button_type" : "gradient",
            "enable_button_accent_line" : false,
            "enable_social_links" : false,
            "heading" : "Resource Name",
            "heading_size" : "h3",
            "heading_tag" : "h3",
            "icon" : {
              "name" : "Podcast",
              "type" : "SOLID",
              "unicode" : "f2ce"
            },
            "icon_color" : "primary",
            "icon_height" : 60,
            "link" : {
              "no_follow" : false,
              "open_in_new_tab" : true,
              "url" : {
                "href" : "#",
                "type" : "EXTERNAL"
              }
            },
            "main_text" : "<p>Lorem ipsum dolor sit amet, congue inciderint sea no, ut eos exerci soluta,</p>",
            "overlay_color_choice" : "dark",
            "overlay_text_color" : "body",
            "subheading" : "PODCAST",
            "text_color" : "dark"
          }, {
            "alignment" : "center",
            "background_color" : "light-gray",
            "button_color" : "light",
            "button_text" : "Download Now",
            "button_type" : "gradient",
            "enable_button_accent_line" : false,
            "enable_social_links" : false,
            "heading" : "Resource Name",
            "heading_size" : "h3",
            "heading_tag" : "h3",
            "icon" : {
              "name" : "Podcast",
              "type" : "SOLID",
              "unicode" : "f2ce"
            },
            "icon_color" : "primary",
            "icon_height" : 60,
            "link" : {
              "no_follow" : false,
              "open_in_new_tab" : true,
              "url" : {
                "href" : "#",
                "type" : "EXTERNAL"
              }
            },
            "main_text" : "<p>Lorem ipsum dolor sit amet, congue inciderint sea no, ut eos exerci soluta,</p>",
            "overlay_color_choice" : "dark",
            "overlay_text_color" : "body",
            "subheading" : "PODCAST",
            "text_color" : "dark"
          }, {
            "alignment" : "center",
            "background_color" : "light-gray",
            "button_color" : "light",
            "button_text" : "Download Now",
            "button_type" : "gradient",
            "enable_button_accent_line" : false,
            "enable_social_links" : false,
            "heading" : "Resource Name",
            "heading_size" : "h3",
            "heading_tag" : "h3",
            "icon" : {
              "name" : "Podcast",
              "type" : "SOLID",
              "unicode" : "f2ce"
            },
            "icon_color" : "primary",
            "icon_height" : 60,
            "link" : {
              "no_follow" : false,
              "open_in_new_tab" : true,
              "url" : {
                "href" : "#",
                "type" : "EXTERNAL"
              }
            },
            "main_text" : "<p>Lorem ipsum dolor sit amet, congue inciderint sea no, ut eos exerci soluta,</p>",
            "overlay_color_choice" : "dark",
            "overlay_text_color" : "body",
            "subheading" : "PODCAST",
            "text_color" : "dark"
          }, {
            "alignment" : "center",
            "background_color" : "light-gray",
            "button_color" : "light",
            "button_text" : "Download Now",
            "button_type" : "gradient",
            "enable_button_accent_line" : false,
            "enable_social_links" : false,
            "heading" : "Resource Name",
            "heading_size" : "h3",
            "heading_tag" : "h3",
            "icon" : {
              "name" : "Podcast",
              "type" : "SOLID",
              "unicode" : "f2ce"
            },
            "icon_color" : "primary",
            "icon_height" : 60,
            "link" : {
              "no_follow" : false,
              "open_in_new_tab" : true,
              "url" : {
                "href" : "#",
                "type" : "EXTERNAL"
              }
            },
            "main_text" : "<p>Lorem ipsum dolor sit amet, congue inciderint sea no, ut eos exerci soluta,</p>",
            "overlay_color_choice" : "dark",
            "overlay_text_color" : "body",
            "subheading" : "PODCAST",
            "text_color" : "dark"
          }, {
            "alignment" : "center",
            "background_color" : "light-gray",
            "button_color" : "light",
            "button_text" : "Download Now",
            "button_type" : "gradient",
            "enable_button_accent_line" : false,
            "enable_social_links" : false,
            "heading" : "Resource Name",
            "heading_size" : "h3",
            "heading_tag" : "h3",
            "icon" : {
              "name" : "Podcast",
              "type" : "SOLID",
              "unicode" : "f2ce"
            },
            "icon_color" : "primary",
            "icon_height" : 60,
            "link" : {
              "no_follow" : false,
              "open_in_new_tab" : true,
              "url" : {
                "href" : "#",
                "type" : "EXTERNAL"
              }
            },
            "main_text" : "<p>Lorem ipsum dolor sit amet, congue inciderint sea no, ut eos exerci soluta,</p>",
            "overlay_color_choice" : "dark",
            "overlay_text_color" : "body",
            "subheading" : "PODCAST",
            "text_color" : "dark"
          }, {
            "alignment" : "center",
            "background_color" : "light-gray",
            "button_color" : "light",
            "button_text" : "Download Now",
            "button_type" : "gradient",
            "enable_button_accent_line" : false,
            "enable_social_links" : false,
            "heading" : "Resource Name",
            "heading_size" : "h3",
            "heading_tag" : "h3",
            "icon" : {
              "name" : "Podcast",
              "type" : "SOLID",
              "unicode" : "f2ce"
            },
            "icon_color" : "primary",
            "icon_height" : 60,
            "link" : {
              "no_follow" : false,
              "open_in_new_tab" : true,
              "url" : {
                "href" : "#",
                "type" : "EXTERNAL"
              }
            },
            "main_text" : "<p>Lorem ipsum dolor sit amet, congue inciderint sea no, ut eos exerci soluta,</p>",
            "overlay_color_choice" : "dark",
            "overlay_text_color" : "body",
            "subheading" : "PODCAST",
            "text_color" : "dark"
          } ],
          layout="grid",
          variation="var_2"
        %}
        {% end_dnd_module %}
      {% end_dnd_row %}
    {% end_dnd_column %}
    {% dnd_column
      offset=9,
      width=3
    %}
      {% dnd_row %}
        {% dnd_module
          path="@hubspot/horizontal_spacer",
          offset=0,
          width=12
        %}
        {% end_dnd_module %}
      {% end_dnd_row %}
      {% dnd_row %}
        {% dnd_module
          path="../modules/Menu - B2B Engine",
          offset=0,
          width=12,
          background_color="light-gray",
          enable_sticky_column=true,
          heading_size="h3",
          heading_tag="h3",
          simple_menu=[ {
            "children" : [ ],
            "isPublished" : false,
            "linkLabel" : "Webinars",
            "linkUrl" : "#webinars",
            "type" : "URL_LINK"
          }, {
            "children" : [ ],
            "isPublished" : false,
            "linkLabel" : "Whitepapers",
            "linkUrl" : "#whitepapers",
            "type" : "URL_LINK"
          }, {
            "children" : [ ],
            "isPublished" : false,
            "linkLabel" : "Podcasts",
            "linkUrl" : "#podcasts",
            "type" : "URL_LINK"
          } ],
          style={ }
        %}
        {% end_dnd_module %}
      {% end_dnd_row %}
      {% dnd_row %}
        {% dnd_module
          path="../modules/Section Options",
          offset=0,
          width=12,
          background_image_effects="parallax",
          reverse_element_order_on_mobile=true
        %}
        {% end_dnd_module %}
      {% end_dnd_row %}
    {% end_dnd_column %}
  {% end_dnd_section %}

  
  {% include_dnd_partial path='../sections/recent-blog-posts.html' context={} %}

  
  {% end_dnd_area %}
</main>
{% endblock body %}