<!--
  templateType: page
  isAvailableForNewContent: true
  label: Thank You
  screenshotPath: ../images/template-previews/thank-you.jpg
-->

{% extends './layouts/base.html' %}

{% block body %}
<main id="main-content" class="body-container-wrapper">
  {% dnd_area 'dnd_area' class='body-container body-container--thank-you', label='Main section' %}

  
  {% dnd_section
    max_width=700,
    background_image={
      "background_position" : "MIDDLE_CENTER",
      "background_size" : "cover",
      "image_url" : get_asset_url("../images/bg-hero-8.jpg"),
    },
    padding={
      "default" : {
        "top" : "80px"
      },
      "mobile" : {
        "top" : "60px"
      }
    }
  %}
    {% dnd_column
      offset=0,
      width=12
    %}
      {% dnd_row %}
        {% dnd_module
          path="@hubspot/logo",
          offset=0,
          width=12,
          horizontal_alignment="CENTER",
          img={
            "alt" : "b2b-engine-pro-logo-white",
            "height" : 58,
            "override_inherited_src" : true,
            "src" : get_asset_url("../images/b2b-engine-pro-logo-white.png"),
            "suppress_company_name" : true,
            "width" : 350
          }
        %}
        {% end_dnd_module %}
      {% end_dnd_row %}
      {% dnd_row %}
        {% dnd_module
          path="../modules/Text - B2B Engine",
          offset=0,
          width=12,
          alignment="center",
          text_color="light",
          heading_size="h1",
          heading_tag="h1",
          heading="Thank you for your interest",
          heading_accent="split-vertical",
          heading_accent_color="primary",
          subheading="",
          intro_text="",
          main_text="<p>Thank you for your interest in our solution. Someone will be contacting you within the next 2-3 business days to book your consultation.</p>"
        %}
        {% end_dnd_module %}
      {% end_dnd_row %}
      {% dnd_row %}
        {% dnd_module
          path="../modules/Section Options",
          offset=0,
          width=12,
          background_image_effects="parallax"
        %}
        {% end_dnd_module %}
      {% end_dnd_row %}
    {% end_dnd_column %}
  {% end_dnd_section %}


  {% dnd_section
    max_width=1100,
    background_image={
      "background_position" : "MIDDLE_CENTER",
      "background_size" : "cover",
      "image_url" : get_asset_url("../images/bg-gray.png"),
    },
    padding={
      "default" : {
        "bottom" : "80px",
        "top" : "80px"
      },
      "mobile" : {
        "bottom" : "60px",
        "top" : "60px"
      }
    }
  %}
    {% dnd_column
      offset=0,
      width=12,
      padding={
        "default" : {
          "top" : "10px"
        }
      }
    %}
      {% dnd_row %}
        {% dnd_module
          path="../modules/Text - B2B Engine",
          offset=0,
          width=12,
          heading="Check Out the Latest From Our Blog",
          subheading="",
          intro_text="",
          main_text=""
        %}
        {% end_dnd_module %}
      {% end_dnd_row %}
      {% dnd_row %}
        {% dnd_module
          path="../modules/Blog Posts",
          offset=0,
          width=12,
          style={
            "spacing" : {
              "spacing" : {
                "margin" : {
                  "bottom" : { },
                  "top" : {
                    "units" : "px",
                    "value" : 28
                  }
                }
              }
            }
          }
        %}
        {% end_dnd_module %}
      {% end_dnd_row %}
    {% end_dnd_column %}
  {% end_dnd_section %}

  
  {% end_dnd_area %}
</main>
{% endblock body %}