.map-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.map {
  position: relative;
  width: 100%;
  height: 350px;
  max-width: 100%;
}
.map iframe {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}