<div class="map-wrapper justify-{{ module.alignment }}{% if module.enable_sticky_column %} sticky{% endif %}">
<div id="{{ module.custom_id }}" class="map text-{{ module.alignment }} {{ module.custom_class }}"
  {% if module.enable_animation %}
    {% if module.animation_settings.animation_type == "default" %}
      data-aos="{{ theme.animations.animation_type }}"
    {% else %}
      data-aos="{{ module.animation_settings.animation_type }}"
    {% endif %}
    data-aos-delay="{{ module.animation_settings.animation_delay }}"
    {% if module.animation_settings.override_default_animation_duration %}
      data-aos-duration="{{ module.animation_settings.animation_duration }}"
    {% endif %}
  {% endif %}
>
  {% if module.map_embed_or_src is string_containing 'iframe' %}
    {{ module.map_embed_or_src }}
  {% else %}
    <iframe src="{{ module.map_embed_or_src }}" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
	{% endif %}
</div>
</div>

{% require_css %}
  <style>
    {% scope_css %}
    .map {
      width: {{ module.custom_width ~ 'px' }};
      height: {{ module.custom_height ~ 'px' }};
    }
    
    {# Module custom styles #}
      .map-wrapper {
        {% if module.style.spacing.spacing %}
          {{ module.style.spacing.spacing.css }}
        {% endif %}
        {% if module.style.background.background_type == 'none' %}
          background: none;
        {% elif module.style.background.background_type == 'color' %}
          background: rgba({{ module.style.background.background_color.color|convert_rgb }}, {{ module.style.background.background_color.opacity / 100 }});
        {% elif module.style.background.background_type == 'gradient' %}
          background: {{ module.style.background.background_gradient.css }};
        {% elif module.style.background.background_type == 'image' %}
          {{ module.style.background.background_image.css }};
        {% endif %}
      }
      .map,
      .map iframe {
        {% if module.style.custom_styling.border_radius != none %}
          border-radius: {{ module.style.custom_styling.border_radius ~ 'px' }};
        {% endif %}
      }
    {% end_scope_css %}
  </style>
{% end_require_css %}