<div class="cards-wrapper{% if module.enable_sticky_column %} sticky{% endif %}">
<div id="{{ module.custom_id }}" class="cards pricing {{ module.custom_class }}{% if module.layout == "slider" %} slider-enabled{% endif %}"
  {% if module.layout == 'slider' %}
		data-slider-items="{{ module.items_in_row }}" 
		data-slider-arrows="{% if module.slider_options.arrows %}true{% else %}false{% endif %}"
		data-slider-dots="{% if module.slider_options.dots %}true{% else %}false{% endif %}"
    data-slider-autoplay="{% if module.slider_options.autoplay %}true{% else %}false{% endif %}"
    data-slider-autoplay_speed="{% if module.slider_options.autoplay %}{{ module.slider_options.autoplay_speed }}{% endif %}"
    
    {% if module.enable_animation %}
      {% if module.animation_settings.animation_type == "default" %}
        data-aos="{{ theme.animations.animation_type }}"
      {% else %}
        data-aos="{{ module.animation_settings.animation_type }}"
      {% endif %}
      data-aos-delay="{{ module.animation_settings.animation_delay }}"
      {% if module.animation_settings.override_default_animation_duration %}
        data-aos-duration="{{ module.animation_settings.animation_duration }}"
      {% endif %}
    {% endif %}
  {% endif %}
>
  {% for item in module.cards %}
    {% if item.link.url.type is equalto 'EMAIL_ADDRESS' %}
      {% set href = 'mailto:' ~ item.link.url.href %}
    {% elif item.link.url.href == '/' %}
      {% set href = item.link.url.href %}
    {% else %}
      {% unless (item.link.url.href is string_containing '//') or (item.link.url.href is string_containing 'tel:') or (item.link.url.href is string_startingwith '#') or !item.link.url.href %}
        {% set href = '//' ~ item.link.url.href %}
      {% else %}
        {% set href = item.link.url.href or '' %}
      {% endunless %}
    {% endif %}
    {% set rel = (item.link.open_in_new_tab ? 'noopener ' : null) ~ (item.link.no_follow ? 'nofollow' : null) %}
  
    <div class="cards-single flex-basis-{{ module.items_in_row }}"
      {% unless module.layout == "slider" %}
        {% if module.enable_animation %}
          {% if module.animation_settings.animation_type == "default" %}
            data-aos="{{ theme.animations.animation_type }}"
          {% else %}
            data-aos="{{ module.animation_settings.animation_type }}"
          {% endif %}
          data-aos-delay="{{ ( ( loop.index0 % module.items_in_row ) * module.animation_settings.animation_delay ) + module.animation_settings.animation_delay }}"
          {% if module.animation_settings.override_default_animation_duration %}
            data-aos-duration="{{ module.animation_settings.animation_duration }}"
          {% endif %}
        {% endif %}
      {% endunless %}
    >
      <div class="cards-single-inner bg-{{ item.background_color }}{% if module.hover_behavior != "default" %} card-hover--{{ module.hover_behavior }}{% else %} card-hover--{{ theme.other.card_hover_behavior }}{% endif %}">
        {% if module.whole_card_link and item.link.url.href %}
          <a
            href="{{ href }}"
            {% if item.link.open_in_new_tab %}target="_blank"{% endif %}
            {% if rel %}rel="{{ rel }}"{% endif %}
          >
        {% endif %}
          {% if item.image.src %}
            {% set sizeAttrs = 'width="{{ item.image.width }}" height="{{ item.image.height }}"' %}
            {% if item.image.size_type == 'auto' %}
              {% set sizeAttrs = 'style="max-width: 100%; height: auto;"' %}
            {% elif item.image.size_type == 'auto_custom_max' %}
              {% set sizeAttrs = 'width="{{ item.image.max_width }}" height="{{ item.image.max_height }}" style="max-width: 100%; max-height: auto;"' %}
            {% endif %}
            {% set loadingAttr = item.image.loading != 'disabled' ? 'loading="{{ item.image.loading }}"' : '' %}
            <div class="card-image">
              <img src="{{ item.image.src }}" alt="{{ item.image.alt }}" {{ loadingAttr }} {{ sizeAttrs }}>
            </div>
          {% endif %}

          <div class="card-body text-{{ item.alignment }}">
            {% if item.subheading %}
              <label class="subheading color-{{ item.text_color }}">{{ item.subheading }}</label>
            {% endif %}
            {% if item.heading %}
              <{{ item.heading_tag }}
                class="{% if item.heading_size != item.heading_tag %}{{ item.heading_size }}{% endif %} card-heading color-{{ item.text_color }}{% if item.heading_accent != "none" %} heading-accent--{{ item.heading_accent }} pe-{{ item.heading_accent_color }}{% endif %}">
                <span>{{ item.heading }}</span>
              </{{ item.heading_tag }}>
            {% endif %}
            {% if item.enable_accent_lines %}
              <div class="card-accent bg-{{ item.accent_line_color }}"></div>
            {% endif %}
            {% if item.features_intro %}
              <div class="card-text color-{{ item.text_color }}">{{ item.features_intro }}</div>
            {% endif %}
            
            {% if item.features %}
              <ul class="list-inner">
                {% for item2 in item.features %}
                  <li class="list-single">
                    {% if item.features_style == 'bullet' %}
                      <div class="list-indicator list-indicator--bullet">
                        <span class="bg-{{ item2.indicator_color }}"></span>
                      </div>
                    {% elif item.features_style == 'number' %}
                      <div class="list-indicator list-indicator--number color-{{ item2.indicator_color }}">
                        {{loop.index}}.
                      </div>
                    {% elif item.features_style == 'icon' %}
                      <div class="list-indicator list-indicator--icon">
                        <span class="color-{{ item2.indicator_color }}">
                          {% icon
                            name="{{ item2.icon.name }}"
                            style="{{ item2.icon.type }}"
                            unicode="{{ item2.icon.unicode }}"
                            icon_set="{{ item2.icon.icon_set }}",
                            no_wrapper=True
                          %}
                        </span>
                      </div>
                    {% elif item.features_style == 'image' %}
                      <div class="list-indicator list-indicator--image">
                        {% if item2.image.src %}
                          {% set sizeAttrs = 'width="{{ item2.image.width }}" height="{{ item2.image.height }}"' %}
                        {% if item2.image.size_type == 'auto' %}
                          {% set sizeAttrs = 'style="max-width: 100%; height: auto;"' %}
                        {% elif item2.image.size_type == 'auto_custom_max' %}
                          {% set sizeAttrs = 'width="{{ item2.image.max_width }}" height="{{ item2.image.max_height }}" style="max-width: 100%; height: auto;"' %}
                        {% endif %}
                        {% set loadingAttr = item2.image.loading != 'disabled' ? 'loading="{{ item2.image.loading }}"' : '' %}
                          <img src="{{ item2.image.src }}" alt="{{ item2.image.alt }}" {{ loadingAttr }} {{ sizeAttrs }}>{{ resize_image_url(content.post_list_summary_featured_image, 820 ) }}
                        {% endif %}
                      </div>
                    {% endif %}
                    <div class="list-text color-{{ item.text_color }}">
                      {{ item2.text }}
                    </div>
                  </li>
                {% endfor %}
              </ul>
            {% endif %}
            {% if item.enable_accent_lines %}
              <div class="card-accent bg-{{ item.accent_line_color }}"></div>
            {% endif %}
          </div>
          <div class="card-button text-{{ item.alignment }}">
            {% if item.price or item.duration %}
              <div class="pricing-price-duration color-{{ item.text_color }}">
                {% if item.price %}
                  <span class="pricing-price">{{ item.price }}</span>
                {% endif %}
                {% if item.duration %}
                  <span class="pricing-duration">{{ item.duration }}</span>
                {% endif %}
              </div>
            {% endif %}
            {% if !module.whole_card_link and item.button_text and item.link.url.href %}
              <a
                class="{% if item.button_type != 'link' %}button button-{% if item.button_type == 'outline' %}outline-{% elif item.button_type == 'gradient' %}gradient color-{% endif %}{{ item.button_color }}{% if item.enable_button_accent_line %} button-accent{% endif %}{% else %} link color-{{ item.button_color }} pe-{{ item.button_color }}{% endif%} button-{{ item.button_size }}"
                href="{{ href }}"
                {% if item.link.open_in_new_tab %}target="_blank"{% endif %}
                {% if rel %}rel="{{ rel }}"{% endif %}
              >
                {{ item.button_text }}
              </a>
            {% endif %}
          </div>
        {% if module.whole_card_link and item.link.url.href %}
          </a>
        {% endif %}
      </div>
    </div>
  {% endfor %}
</div>
</div>

{% require_css %}
  <style>
    {% scope_css %}
      {% unless module.layout == "slider" %}
        @media (max-width: 767px) {
          .cards-single {
            transition-delay: {{ module.animation_settings.animation_delay ~ "ms" }} !important;
          }
        }
        @media (min-width: 768px) and (max-width: 991px) {
          .cards-single:nth-child(odd) {
            transition-delay: {{ module.animation_settings.animation_delay ~ "ms" }} !important;
          }
          .cards-single:nth-child(even) {
            transition-delay: {{ module.animation_settings.animation_delay + 300 ~ "ms" }} !important;
          }
        }
      {% endunless %}
    
      {# Module custom styles #}
      .cards-wrapper {
        {% if module.style.spacing.spacing %}
          {{ module.style.spacing.spacing.css }}
        {% endif %}
        {% if module.style.background.background_type == 'none' %}
          background: none;
        {% elif module.style.background.background_type == 'color' %}
          background: rgba({{ module.style.background.background_color.color|convert_rgb }}, {{ module.style.background.background_color.opacity / 100 }});
        {% elif module.style.background.background_type == 'gradient' %}
          background: {{ module.style.background.background_gradient.css }};
        {% elif module.style.background.background_type == 'image' %}
          {{ module.style.background.background_image.css }};
        {% endif %}
      }
      .cards {
        {% if module.style.item_spacing.item_spacing_horizontal != none %}
          margin-left: -{{ module.style.item_spacing.item_spacing_horizontal / 2 ~ 'px' }};
          margin-right: -{{ module.style.item_spacing.item_spacing_horizontal / 2 ~ 'px' }};
        {% endif %}
        {% if module.style.item_spacing.item_spacing_vertical != none %}
          margin-top: -{{ module.style.item_spacing.item_spacing_vertical / 2 ~ 'px' }};
        {% endif %}
      }
      .cards:not(.slider-enabled) {
        {% if module.style.item_spacing.item_spacing_vertical != none %}
          margin-bottom: -{{ module.style.item_spacing.item_spacing_vertical / 2 ~ 'px' }};
        {% endif %}
      }
      .cards-single {
        {% if module.style.item_spacing.item_spacing_horizontal != none %}
          padding-left: {{ module.style.item_spacing.item_spacing_horizontal / 2 ~ 'px' }};
          padding-right: {{ module.style.item_spacing.item_spacing_horizontal / 2 ~ 'px' }};
        {% endif %}
        {% if module.style.item_spacing.item_spacing_vertical != none %}
          padding-top: {{ module.style.item_spacing.item_spacing_vertical / 2 ~ 'px' }};
          padding-bottom: {{ module.style.item_spacing.item_spacing_vertical / 2 ~ 'px' }};
        {% endif %}
        {% if module.style.custom_styling.border_radius != none %}
          border-radius: {{ module.style.custom_styling.border_radius ~ 'px' }};
        {% endif %}
      }
      {% if module.style.custom_styling.border_radius != none %}
        .cards-single-inner {
          border-radius: {{ module.style.custom_styling.border_radius ~ 'px' }};
        }
      {% endif %}
    {% end_scope_css %}
  </style>
{% end_require_css %}