.pricing .card-image {
  padding: 1.5rem 1.5rem 0;
}
.pricing .card-text {
  font-size: 1.25rem;
}
.card-body .list-inner {
  margin-top: .75rem;
}
.pricing-price-duration {
  padding-bottom: 1rem;
}
.pricing-price {
  font-size: 1.625rem;
  font-weight: bold;
}