.card-image-wrapper {
  border-radius: inherit;
}
.gallery-image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  border-radius: inherit;
}
.gallery-image img {
  display: block;
  height: auto;
  margin: auto;
  max-width: 100%;
  border-radius: inherit;
}
.gallery-image-caption {
  position: absolute;
  bottom: 0.75rem;
  left: 0.75rem;
  max-width: calc(100% - 1.5rem);
  z-index: 3;
}
.gallery .card-overlay {
  background: -webkit-gradient(linear, left bottom, left top, color-stop(5%, rgba(0, 0, 0, 1)), color-stop(15%, rgba(0, 0, 0, 0.9)), color-stop(25%, rgba(0, 0, 0, 0.75)), color-stop(65%, rgba(0, 0, 0, 0)) );
  background: -o-linear-gradient(bottom, rgba(0, 0, 0, 1) 5%, rgba(0, 0, 0, 0.9) 15%, rgba(0, 0, 0, 0.75) 25%, rgba(0, 0, 0, 0) 65% );
  background: linear-gradient(0deg, rgba(0, 0, 0, 1) 5%, rgba(0, 0, 0, 0.9) 15%, rgba(0, 0, 0, 0.75) 25%, rgba(0, 0, 0, 0) 65% );
}