<div class="cards-wrapper{% if module.enable_sticky_column %} sticky{% endif %}">
{% if module.enable_filter and module.layout != 'slider' %}
  <div class="cards-filter">
    {% if module.filter.filter_layout == 'buttons' %}
      <span class="button button-{{ module.filter.filter_button_color }}" data-filter-button="all">
        All
      </span>
      {% for item in module.filter.filter_names %}
        <span class="button button-outline-{{ module.filter.filter_button_color }}" data-filter-button="{{ 'filter_' ~ item|replace('-','_')|replace(' ','_') }}">
          {{ item }}
        </span>
      {% endfor %}
    {% else %}
      <select>
        <option data-filter-button="all">All</option>
        {% for item in module.filter.filter_names %}
          <option data-filter-button="{{ 'filter_' ~ item|replace('-','_')|replace(' ','_') }}">
            {{ item }}
          </option>
        {% endfor %}
      </select>
    {% endif %}
  </div>
{% endif %}
  <div id="{{ module.custom_id }}" class="cards gallery gallery_{{ name }} gallery--{{ module.layout }}{% if module.layout == "slider" %} slider-enabled{% endif %} popup-gallery-enabled {{ module.custom_class }}"
  {% if module.layout == 'slider' or module.layout == "masonry" %}
		data-slider-items="{{ module.items_in_row }}" 
		data-slider-arrows="{% if module.slider_options.arrows %}true{% else %}false{% endif %}"
		data-slider-dots="{% if module.slider_options.dots %}true{% else %}false{% endif %}"
    data-slider-autoplay="{% if module.slider_options.autoplay %}true{% else %}false{% endif %}"
    data-slider-autoplay_speed="{% if module.slider_options.autoplay %}{{ module.slider_options.autoplay_speed }}{% endif %}"

    {% if module.enable_animation %}
      {% if module.animation_settings.animation_type == "default" %}
        data-aos="{{ theme.animations.animation_type }}"
      {% else %}
        data-aos="{{ module.animation_settings.animation_type }}"
      {% endif %}
      data-aos-delay="{{ module.animation_settings.animation_delay }}"
      {% if module.animation_settings.override_default_animation_duration %}
        data-aos-duration="{{ module.animation_settings.animation_duration }}"
      {% endif %}
    {% endif %}
  {% endif %}
>
  {% for item in module.images %}
    <div class="cards-single flex-basis-{{ module.items_in_row }}"
      {% unless module.layout == "slider" or module.layout == "masonry" %}
        {% if module.enable_animation %}
          {% if module.animation_settings.animation_type == "default" %}
            data-aos="{{ theme.animations.animation_type }}"
          {% else %}
            data-aos="{{ module.animation_settings.animation_type }}"
          {% endif %}
          data-aos-delay="{{ ( ( loop.index0 % module.items_in_row ) * module.animation_settings.animation_delay ) + module.animation_settings.animation_delay }}"
          {% if module.animation_settings.override_default_animation_duration %}
            data-aos-duration="{{ module.animation_settings.animation_duration }}"
          {% endif %}
        {% endif %}
      {% endunless %}
      data-filter-value="{% for item2 in item.filters %}{{ 'filter_' ~ item2|replace('-','_')|replace(' ','_') }} {% endfor %}"
    >
      <div class="cards-single-inner {% if module.hover_behavior != "default" %} card-hover--{{ module.hover_behavior }}{% else %} card-hover--{{ theme.other.card_hover_behavior }}{% endif %}">
        {% if module.enable_equal_image_size %}
          <div class="card-image-wrapper">
        {% endif %}
          {% if ( item.link_or_lightbox == "link" and item.link.url.href ) or item.link_or_lightbox == "lightbox" %}
            {% if item.link.url.type is equalto 'EMAIL_ADDRESS' %}
              {% set href = 'mailto:' ~ item.link.url.href %}
            {% elif item.link.url.href == '/' %}
              {% set href = item.link.url.href %}
            {% else %}
              {% unless (item.link.url.href is string_containing '//') or (item.link.url.href is string_containing 'tel:') or (item.link.url.href is string_startingwith '#') or !item.link.url.href %}
                {% set href = '//' ~ item.link.url.href %}
              {% else %}
                {% set href = item.link.url.href or '' %}
              {% endunless %}
            {% endif %}

            {% set rel = (item.link.open_in_new_tab ? 'noopener ' : null) ~ (item.link.no_follow ? 'nofollow' : null) %}
   
            <a
              {% if item.link_or_lightbox == "lightbox" %}class="popup-gallery-item" title="{{ item.caption }}"{% endif %}
              href="{% if item.link_or_lightbox == "lightbox" %}{{ item.image.src }}{% else %}{{ href }}{% endif %}"
              {% if item.link.open_in_new_tab %}target="_blank"{% endif %}
              {% if rel %}rel="{{ rel }}"{% endif %}
            >  
          {% endif %}
            {% if item.image.src %}
              {% set sizeAttrs = 'width="{{ item.image.width }}" height="{{ item.image.height }}"' %}
              {% set renderSize = item.image.width %}
              {% if item.image.size_type == 'auto_custom_max' %}
                {% set sizeAttrs = 'width="{{ item.image.max_width }}" height="{{ item.image.max_height }}"' %}
                {% set renderSize = item.image.max_width %}
              {% endif %}
              {% set loadingAttr = item.image.loading != 'disabled' ? 'loading="{{ item.image.loading }}"' : '' %}
            {% endif %}
              
            <div class="gallery-image{% if module.enable_equal_image_size %} card-image-bg" style="background-image: url({{ resize_image_url(item.image.src, renderSize) }});{% endif %}">
              {% unless module.enable_equal_image_size %}
                {% set loadingAttr = item.image.loading != 'disabled' ? 'loading="{{ item.image.loading }}"' : '' %}
                <img src="{{ resize_image_url(item.image.src, renderSize) }}" alt="{{ item.image.alt }}" {{ loadingAttr }} {{ sizeAttrs }}>
              {% endunless %}
              {% if item.caption and item.overlay_color_choice != 'transparent' %}
                <div class="card-overlay" data-overlay-color="{{ item.overlay_color_choice }}"></div>
                <div class="gallery-image-caption color-{{ item.caption_color }}">{{ item.caption }}</div>
              {% endif %}
            </div>
          {% if ( item.link_or_lightbox == "link" and item.link.url.href ) or item.link_or_lightbox == "lightbox" %}
            </a>
          {% endif %}
        {% if module.enable_equal_image_size %}
          </div>
        {% endif %}
      </div>
    </div>
  {% endfor %}
</div>
</div>

{% if module.layout == "masonry" %}
  {{ require_js('https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js') }}
  {% require_js %}
    <script>
      $(window).on('load', function(){
        $('.gallery_{{ name }}').masonry({
          itemSelector: '.cards-single'
        });
      });
    </script>
  {% end_require_js%}
{% endif %}
{% require_css %}
  <style>
    {% scope_css %}
      .card-image-wrapper,
      .card-image-bg {
        padding-bottom: {{ module.image_height / module.image_width * 100 ~ '%' }};
      }

      {% unless module.layout == "slider" or module.layout == "masonry" %}
        @media (max-width: 767px) {
          .cards-single {
            transition-delay: {{ module.animation_settings.animation_delay ~ "ms" }} !important;
          }
        }
        @media (min-width: 768px) and (max-width: 991px) {
          .cards-single:nth-child(odd) {
            transition-delay: {{ module.animation_settings.animation_delay ~ "ms" }} !important;
          }
          .cards-single:nth-child(even) {
            transition-delay: {{ module.animation_settings.animation_delay + 300 ~ "ms" }} !important;
          }
        }
      {% endunless %}

      {# Module custom styles #}
      .cards-wrapper {
        {% if module.style.spacing.spacing %}
          {{ module.style.spacing.spacing.css }}
        {% endif %}
        {% if module.style.background.background_type == 'none' %}
          background: none;
        {% elif module.style.background.background_type == 'color' %}
          background: rgba({{ module.style.background.background_color.color|convert_rgb }}, {{ module.style.background.background_color.opacity / 100 }});
        {% elif module.style.background.background_type == 'gradient' %}
          background: {{ module.style.background.background_gradient.css }};
        {% elif module.style.background.background_type == 'image' %}
          {{ module.style.background.background_image.css }};
        {% endif %}
      }
      .cards {
        {% if module.style.item_spacing.item_spacing_horizontal != none %}
          margin-left: -{{ module.style.item_spacing.item_spacing_horizontal / 2 ~ 'px' }};
          margin-right: -{{ module.style.item_spacing.item_spacing_horizontal / 2 ~ 'px' }};
        {% endif %}
        {% if module.style.item_spacing.item_spacing_vertical != none %}
          margin-top: -{{ module.style.item_spacing.item_spacing_vertical / 2 ~ 'px' }};
        {% endif %}
      }
      .cards:not(.slider-enabled) {
        {% if module.style.item_spacing.item_spacing_vertical != none %}
          margin-bottom: -{{ module.style.item_spacing.item_spacing_vertical / 2 ~ 'px' }};
        {% endif %}
      }
      .cards-single {
        {% if module.style.item_spacing.item_spacing_horizontal != none %}
          padding-left: {{ module.style.item_spacing.item_spacing_horizontal / 2 ~ 'px' }};
          padding-right: {{ module.style.item_spacing.item_spacing_horizontal / 2 ~ 'px' }};
        {% endif %}
        {% if module.style.item_spacing.item_spacing_vertical != none %}
          padding-top: {{ module.style.item_spacing.item_spacing_vertical / 2 ~ 'px' }};
          padding-bottom: {{ module.style.item_spacing.item_spacing_vertical / 2 ~ 'px' }};
        {% endif %}
        {% if module.style.custom_styling.border_radius != none %}
          border-radius: {{ module.style.custom_styling.border_radius ~ 'px' }};
        {% endif %}
      }
      {% if module.style.custom_styling.border_radius != none %}
        .cards-single-inner {
          border-radius: {{ module.style.custom_styling.border_radius ~ 'px' }};
        }
      {% endif %}
    {% end_scope_css %}
  </style>
{% end_require_css %}