{% if module.post_type == 'recent' %}
  {% set blog_posts = blog_recent_posts(module.blog, module.number_of_posts) %}
{% elif module.post_type == 'popular' %}
  {% set blog_posts = blog_popular_posts(module.blog, module.number_of_posts) %}
{% elif module.post_type == 'featured' %}
  {% set blog_posts = module.featured_posts %}
{% elif module.post_type == 'tag' %}
  {% set blog_posts = blog_recent_tag_posts(module.blog, [module.tag], module.number_of_posts) %}
{% endif %}

<div class="cards-wrapper{% if module.layout == "slider" %} cards-wrapper--slider{% endif %}{% if module.enable_sticky_column %} sticky{% endif %}">
<div id="{{ module.custom_id }}" class="cards blog-posts{% if module.layout == "slider" %} slider-enabled{% endif %} {{ module.custom_class }}"
  {% if module.layout == 'slider' %}
		data-slider-items="{{ module.items_in_row }}" 
		data-slider-arrows="{% if module.slider_options.arrows %}true{% else %}false{% endif %}"
		data-slider-dots="{% if module.slider_options.dots %}true{% else %}false{% endif %}"
    data-slider-autoplay="{% if module.slider_options.autoplay %}true{% else %}false{% endif %}"
    data-slider-autoplay_speed="{% if module.slider_options.autoplay %}{{ module.slider_options.autoplay_speed }}{% endif %}"
    
    {% if module.enable_animation %}
      {% if module.animation_settings.animation_type == "default" %}
        data-aos="{{ theme.animations.animation_type }}"
      {% else %}
        data-aos="{{ module.animation_settings.animation_type }}"
      {% endif %}
      data-aos-delay="{{ module.animation_settings.animation_delay }}"
      {% if module.animation_settings.override_default_animation_duration %}
        data-aos-duration="{{ module.animation_settings.animation_duration }}"
      {% endif %}
    {% endif %}
  {% endif %}
>  
  {% for item in blog_posts %}
    {% if module.post_type == 'featured' %}
      {% set featured_image = content_by_id(item).featured_image %}
      {% set absolute_url = content_by_id(item).absolute_url %}
      {% set name = content_by_id(item).name %}
      {% set post_list_content = content_by_id(item).post_list_content|truncatehtml(100)|striptags %}
      {% set author_name = content_by_id(item).blog_post_author.display_name %}
      {% set publish_date = content_by_id(item).publish_date %}
      {% set word_count = content_by_id(item).post_body|striptags|wordcount %}
      {% set tag_list = content_by_id(item).tag_list %}
    {% else %}
      {% set featured_image = item.featured_image %}
      {% set absolute_url = item.absolute_url %}
      {% set name = item.name %}
      {% set post_list_content = item.post_list_content|truncatehtml(100)|striptags %}
      {% set author_name = item.blog_post_author.display_name %}
      {% set publish_date = item.publish_date_localized %}
      {% set word_count = item.post_body|striptags|wordcount %}
      {% set tag_list = item.tag_list %}
    {% endif %}
  
    {% if !featured_image %}
      {% set featured_image_logo = brand_settings.primaryLogo.src %}
    {% endif %}
  
    <div class="cards-single flex-basis-{{ module.items_in_row }}"
      {% unless module.layout == "slider" %}
        {% if module.enable_animation %}
          {% if module.animation_settings.animation_type == "default" %}
            data-aos="{{ theme.animations.animation_type }}"
          {% else %}
            data-aos="{{ module.animation_settings.animation_type }}"
          {% endif %}
          data-aos-delay="{{ ( ( loop.index0 % module.items_in_row ) * module.animation_settings.animation_delay ) + module.animation_settings.animation_delay }}"
          {% if module.animation_settings.override_default_animation_duration %}
            data-aos-duration="{{ module.animation_settings.animation_duration }}"
          {% endif %}
        {% endif %}
      {% endunless %}
    >
      <{% if module.whole_card_link %}a href="{{ absolute_url }}"{% else %}div{% endif %} class="cards-single-inner bg-{{ module.background_color }}{% if module.hover_behavior != "default" %} card-hover--{{ module.hover_behavior }}{% else %} card-hover--{{ theme.other.card_hover_behavior }}{% endif %}">
        {% if module.sections.enable_featured_image %}
          <div class="card-image-wrapper">
            {% if featured_image %}
              <div class="card-image-bg" style="background-image: url('{{ resize_image_url(featured_image, 730) }}');"></div>
            {% else %}
              <div class="card-image-bg" style="background-image: url('{{ resize_image_url(featured_image_logo, 730) }}'); background-color: #fff; background-size: contain;"></div>
            {% endif %}
          </div>
        {% endif %}
        <div class="card-body text-{{ module.alignment }}">
          {% if tag_list and module.sections.enable_tags %}
            <div class="tags-list justify-{{ module.alignment }}">  
              {% for tag in tag_list %}
                <div class="tag">
                  {{ tag.name }}
                </div>
              {% endfor %}
            </div>
          {% endif %}
          {% if module.sections.enable_heading %}
	          <{{ module.heading_tag }}
              class="{% if module.heading_size != module.heading_tag %}{{ module.heading_size }}{% endif %} card-heading color-{{ module.text_color }}{% if module.heading_accent != "none" %} heading-accent--{{ module.heading_accent }} pe-{{ module.heading_accent_color }}{% endif %}">
              <span>{{ name }}</span>
            </{{ module.heading_tag }}>
          {% endif %}
          {% if module.sections.enable_intro_text %}
            <div class="card-text color-{{ module.text_color }}">{{ post_list_content }}</div>
          {% endif %}
          <div class="card-post-meta-wrapper color-{{ module.text_color }}">
            {% if module.sections.enable_author_name %}
              <div class="card-post-meta">
                {% icon name='user', no_wrapper=True, purpose='decorative', style='REGULAR', width='14' %} <span>{{ author_name }}</span>
              </div>
            {% endif %}
            {% if module.sections.enable_publish_date %}
              <time datetime="{{ publish_date }}" class="card-post-meta">
                {% icon name='calendar-alt', no_wrapper=True, purpose='decorative', style='REGULAR', width='14' %} <span>{{ publish_date }}</span>
              </time>
            {% endif %}
            {% if module.sections.enable_read_time %}
              <div class="card-post-meta">                         
                {% if word_count > 0 %}
                  {% icon name='clock', no_wrapper=True, purpose='decorative', style='REGULAR', width='14' %} <span>{{ word_count|float|divide(300)|round(0, 'ceil') }} minute read</span>
                {% else %}
                  {% icon name='clock', no_wrapper=True, purpose='decorative', style='REGULAR', width='14' %} <span>1 minute read</span>
                {% endif %}
              </div>
            {% endif %}
          </div>
        </div>
        {% if !module.whole_card_link and module.button_text %}
          <div class="card-button text-{{ module.alignment }}">
            <a
              class="{% if module.button_type != 'link' %}button button-{% if module.button_type == 'outline' %}outline-{% elif module.button_type == 'gradient' %}gradient color-{% endif %}{{ module.button_color }}{% if module.enable_button_accent_line %} button-accent{% endif %}{% else %} link color-{{ module.button_color }} pe-{{ module.button_color }}{% endif%} button-{{ module.button_size }}"
              href="{{ absolute_url }}"
            >
              {{ module.button_text }}
            </a>
          </div>
        {% endif %}
      </{% if module.whole_card_link %}a{% else %}div{% endif %}>
    </div>
  {% endfor %}
</div>
</div>

{% require_css %}
  <style>
    {% scope_css %}
      {% unless module.layout == "slider" %}
        @media (max-width: 767px) {
          .cards-single {
            transition-delay: {{ module.animation_settings.animation_delay ~ "ms" }} !important;
          }
        }
        @media (min-width: 768px) and (max-width: 991px) {
          .cards-single:nth-child(odd) {
            transition-delay: {{ module.animation_settings.animation_delay ~ "ms" }} !important;
          }
          .cards-single:nth-child(even) {
            transition-delay: {{ module.animation_settings.animation_delay + 300 ~ "ms" }} !important;
          }
        }
      {% endunless %}

      {# Module custom styles #}
      .cards-wrapper {
        {% if module.style.spacing.spacing %}
          {{ module.style.spacing.spacing.css }}
        {% endif %}
        {% if module.style.background.background_type == 'none' %}
          background: none;
        {% elif module.style.background.background_type == 'color' %}
          background: rgba({{ module.style.background.background_color.color|convert_rgb }}, {{ module.style.background.background_color.opacity / 100 }});
        {% elif module.style.background.background_type == 'gradient' %}
          background: {{ module.style.background.background_gradient.css }};
        {% elif module.style.background.background_type == 'image' %}
          {{ module.style.background.background_image.css }};
        {% endif %}
      }
      .cards {
        {% if module.style.item_spacing.item_spacing_horizontal != none %}
          margin-left: -{{ module.style.item_spacing.item_spacing_horizontal / 2 ~ 'px' }};
          margin-right: -{{ module.style.item_spacing.item_spacing_horizontal / 2 ~ 'px' }};
        {% endif %}
        {% if module.style.item_spacing.item_spacing_vertical != none %}
          margin-top: -{{ module.style.item_spacing.item_spacing_vertical / 2 ~ 'px' }};
        {% endif %}
      }
      .cards:not(.slider-enabled) {
        {% if module.style.item_spacing.item_spacing_vertical != none %}
          margin-bottom: -{{ module.style.item_spacing.item_spacing_vertical / 2 ~ 'px' }};
        {% endif %}
      }
      .cards-single {
        {% if module.style.item_spacing.item_spacing_horizontal != none %}
          padding-left: {{ module.style.item_spacing.item_spacing_horizontal / 2 ~ 'px' }};
          padding-right: {{ module.style.item_spacing.item_spacing_horizontal / 2 ~ 'px' }};
        {% endif %}
        {% if module.style.item_spacing.item_spacing_vertical != none %}
          padding-top: {{ module.style.item_spacing.item_spacing_vertical / 2 ~ 'px' }};
          padding-bottom: {{ module.style.item_spacing.item_spacing_vertical / 2 ~ 'px' }};
        {% endif %}
        {% if module.style.custom_styling.border_radius != none %}
          border-radius: {{ module.style.custom_styling.border_radius ~ 'px' }};
        {% endif %}
      }
    {% end_scope_css %}
  </style>
{% end_require_css %}