{% if module.enable_faq_page_structured_data %}
  {% require_head %}
    <script type="application/ld+json">
      {
        "@context": "https://schema.org",
        "@type": "FAQPage",
        "mainEntity": [
          {% for item in module.accordion_items %}
            {
              "@type": "Question",
              "name": "{{ item.title }}",
              "acceptedAnswer": {
                "@type": "Answer",
                "text": "{{ item.text }}"
              }
            }{% unless loop.last %},{% endunless %}
          {% endfor %}
        ]
      }
    </script>
  {% end_require_head %}
{% endif %}

<div class="accordion-wrapper{% if module.enable_sticky_column %} sticky{% endif %}">
<div id="{{ module.custom_id }}" class="accordion{% if module.enable_accordion_auto_toggle %} accordion-auto-toggle{% else %} accordion-manual-toggle{% endif %} {{ module.custom_class }}">
  {% for item in module.accordion_items %}
    <div class="accordion-single bg-{{ module.background_color }}{% if theme.other.general_border_radius %} rounded{% endif %}"
      {% if module.enable_animation %}
        {% if module.animation_settings.animation_type == "default" %}
          data-aos="{{ theme.animations.animation_type }}"
        {% else %}
          data-aos="{{ module.animation_settings.animation_type }}"
        {% endif %}
        data-aos-delay="{{ loop.index * module.animation_settings.animation_delay }}"
        {% if module.animation_settings.override_default_animation_duration %}
            data-aos-duration="{{ module.animation_settings.animation_duration }}"
        {% endif %}
      {% endif %}
    >  
      <div class="accordion-head">
        <{{ module.title_tag }}
          class="{% if module.title_size != module.title_tag %}{{ module.title_size }}{% endif %} accordion-title color-{{ module.text_color }}">
          {{ item.title }}
        </{{ module.title_tag }}>
        <span class="accordion-icon color-{{ module.text_color }}">
          {% icon name='chevron-down' style='SOLID' unicode='f078', no_wrapper=True %}
        </span>
      </div>
      <div class="accordion-body color-{{ module.text_color }}">
        <div class="accordion-body-inner">
          {{ item.text }}
        </div>
      </div>
    </div>
  {% endfor %}
</div>
</div>

{% require_css %}
  <style>
    {% scope_css %}
      {# Module custom styles #}
      .accordion-wrapper {
        {% if module.style.spacing.spacing %}
          {{ module.style.spacing.spacing.css }}
        {% endif %}
        {% if module.style.background.background_type == 'none' %}
          background: none;
        {% elif module.style.background.background_type == 'color' %}
          background: rgba({{ module.style.background.background_color.color|convert_rgb }}, {{ module.style.background.background_color.opacity / 100 }});
        {% elif module.style.background.background_type == 'gradient' %}
          background: {{ module.style.background.background_gradient.css }};
        {% elif module.style.background.background_type == 'image' %}
          {{ module.style.background.background_image.css }};
        {% endif %}
      }
      .accordion-single {
        {% if module.style.custom_styling.item_background.item_background_type == 'none' %}
          background: none;
        {% elif module.style.custom_styling.item_background.item_background_type == 'color' %}
          background: rgba({{ module.style.custom_styling.item_background.item_background_color.color|convert_rgb }}, {{ module.style.custom_styling.item_background.item_background_color.opacity / 100 }});
        {% elif module.style.custom_styling.item_background.item_background_type == 'gradient' %}
          background: {{ module.style.custom_styling.item_background.item_background_gradient.css }};
        {% elif module.style.custom_styling.item_background.item_background_type == 'image' %}
          {{ module.style.custom_styling.item_background.item_background_image.css }};
        {% endif %}
        {% if module.style.custom_styling.border_radius != none %}
          border-radius: {{ module.style.custom_styling.border_radius ~ 'px' }};
        {% endif %}
      }
      {% if module.style.item_spacing.item_spacing != none %}
        .accordion-single:not(:last-child) {
          margin-bottom: {{ module.style.item_spacing.item_spacing ~ 'px'}};
        }
      {% endif %}
      {% if module.style.custom_styling.text_color.color %}
        .accordion-title,
        .accordion-body {
          color: {{ module.style.custom_styling.text_color.color }};
        }
        .accordion-icon svg {
          fill: {{ module.style.custom_styling.text_color.color }};
        }
      {% endif %}
    {% end_scope_css %}
  </style>
{% end_require_css %}