.accordion-single {
  margin-bottom: 1.25rem;
  position: relative;
  overflow: hidden;
}
.accordion-single:last-child {
  margin-bottom: 0;
}
.accordion-head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  cursor: pointer;
  padding: 1.5rem;
  width: 100%;
  outline: none;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.accordion-head.bg-transparent {
  padding: 1rem 0;
}
.accordion-title {
  margin: 0;
}
.accordion-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.accordion-head svg {
  width: 1rem;
  height: 1rem;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.accordion-single.active svg {
  transform: rotateZ(180deg);
  -webkit-transform: rotateZ(180deg);
  -moz-transform: rotateZ(180deg);
  -ms-transform: rotateZ(180deg);
}
.accordion-body {
  display: none;
}
.accordion-body-inner {
  padding: 0 1.5rem 1.5rem;
}
.accordion-body.bg-transparent .accordion-body-inner {
  padding: 0 0 1rem;
}