<div id="{{ module.custom_id }}" class="hero-banner{% if module.layout == "image_text" %} hero-banner--image-text{% elif module.layout == "text_image" %} hero-banner--text-image{% endif %}{% if module.enable_full_height %} full-height{% endif %}{% if module.background_overlay.fixed_background %} bg-fixed{% endif %} {{ module.custom_class }}
  {% if module.background_overlay.background_type == 'color' %} bg-{{ module.background_overlay.background_color_choice }}"
  {% elif module.background_overlay.background_type == 'image' %}" style="background-image:url('{{ module.background_overlay.background_image.src }}'); background-position:{{ module.background_overlay.background_position|replace('-', ' ') }};"
  {% elif module.background_overlay.background_type == 'video' %}" style="background-image:url('{{ module.background_overlay.background_image_mobile.src }}');"
  {% endif %}
  
>
  {% if module.background_overlay.enable_overlay %}
    <div class="hero-banner-overlay" data-overlay-color="{{ module.background_overlay.overlay_color_choice }}"></div>
  {% endif %}
  {% if module.background_overlay.background_type == 'video' %}
    <div class="hero-banner-video">
      {% if module.background_overlay.background_video_url is string_containing 'youtube.com' or module.background_overlay.background_video_url is string_containing 'youtu.be' %}
        <div class="hero-banner-iframe-wrapper">
          {% set videoUrl = module.background_overlay.background_video_url|string|split('=') %}
          {% set videoCode = videoUrl[1]|truncatehtml(11) %}
          <iframe src="https://www.youtube.com/embed/{{ videoCode }}?controls=0&showinfo=0&autoplay=1&mute=1&loop=1&playlist={{ videoCode }}" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
      {% elif module.background_overlay.background_video_url is string_containing 'vimeo.com' %}
        <div class="hero-banner-iframe-wrapper">
          {% set videoUrl = module.background_overlay.background_video_url|string|split('/') %}
          {% set videoCode = videoUrl|last|truncatehtml(9) %}
          <iframe src="https://player.vimeo.com/video/{{ videoCode }}?background=1&muted=1&autoplay=1&loop=1&byline=0&title=0" frameborder="0" allow="autoplay; fullscreen"  webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
        </div>
        <script src="https://player.vimeo.com/api/player.js"></script>
      {% else %}
        <video muted autoplay loop>
          <source src="{{ module.background_overlay.background_video_url }}" type="video/mp4">
        </video>
      {% endif %}
    </div>
  {% endif %}
  <div class="container">
    <div class="hero-banner-text text-{{ module.text.alignment }}{% if module.text.text_color != "default"  %} color-{{ module.text.text_color }}{% endif %}"
      {% if module.enable_animation %}
        {% if module.animation_settings.animation_type == "default" %}
          data-aos="{{ theme.animations.animation_type }}"
        {% else %}
          data-aos="{{ module.animation_settings.animation_type }}"
        {% endif %}
        {% if module.layout == "image_text" %}
          data-aos-delay="{{ module.animation_settings.animation_delay *2 }}"
        {% else %}
          data-aos-delay="{{ module.animation_settings.animation_delay }}"
        {% endif %}
        {% if module.animation_settings.override_default_animation_duration %}
          data-aos-duration="{{ module.animation_settings.animation_duration }}"
        {% endif %}
      {% endif %}
    >
      {% if module.text.subheading %}
        <label class="subheading">{{ module.text.subheading }}</label>
      {% endif %}
      {% if module.text.heading %}
        <{{ module.text.heading_tag }}
          class="{% if module.text.heading_size != module.text.heading_tag %}{{ module.text.heading_size }}{% endif %}{% if module.text.text_color != 'default'  %} color-{{ module.text.text_color }}{% endif %}{% if module.text.heading_accent != 'none' %} heading-accent--{{ module.text.heading_accent }} pe-{{ module.text.heading_accent_color }}{% endif %}{% if module.text.enable_heading_shadow %} text-shadow{% endif %}">
          <span>{{ module.text.heading }}</span>
        </{{ module.text.heading_tag }}>
      {% endif %}
      {% if module.text.intro_text %}
        <div class="intro-text">
          {{ module.text.intro_text }}
        </div>
      {% endif %}
    
      {% if ( module.enable_button_1 and ( module.button_1.cta or ( module.button_1.button_text and module.button_1.link.url.href ) ) ) or ( module.enable_button_2 and ( module.button_2.cta or ( module.button_2.button_text and module.button_2.link.url.href ) ) ) %}
        <div class="hero-banner-buttons justify-{{ module.text.alignment }}">
          {% if module.enable_button_1 and ( module.button_1.cta or ( module.button_1.button_text and module.button_1.link.url.href ) ) %}
            {% if module.button_1.button_or_hubspot_cta == "cta" %}
              {% cta guid="{{ module.button_1.cta }}" %}
            {% elif module.button_1.button_or_hubspot_cta == "button" %}
              {% if module.button_1.link.url.type is equalto 'EMAIL_ADDRESS' %}
                {% set href = 'mailto:' ~ module.button_1.link.url.href %}
              {% elif module.button_1.link.url.href == '/' %}
                {% set href = module.button_1.link.url.href %}
              {% else %}
                {% unless (module.button_1.link.url.href is string_containing '//') or (module.button_1.link.url.href is string_containing 'tel:') or (module.button_1.link.url.href is string_startingwith '#') or !module.button_1.link.url.href %}
                  {% set href = '//' ~ module.button_1.link.url.href %}
                {% else %}
                  {% set href = module.button_1.link.url.href or '' %}
                {% endunless %}
              {% endif %}
              {% set rel = (module.button_1.link.open_in_new_tab ? 'noopener ' : null) ~ (module.button_1.link.no_follow ? 'nofollow' : null) %}
              <span>
                <a
                  class="hero-banner-button-1 {% if module.button_1.button_type != 'link' %}button button-{% if module.button_1.button_type == 'outline' %}outline-{% elif module.button_1.button_type == 'gradient' %}gradient color-{% endif %}{{ module.button_1.button_color }}{% if module.button_1.enable_button_accent_line %} button-accent{% endif %}{% else %} link color-{{ module.button_1.button_color }} pe-{{ module.button_1.button_color }}{% endif %} button-{{ module.button_1.button_size }}"
                  href="{{ href }}"
                  {% if module.button_1.link.open_in_new_tab %}target="_blank"{% endif %}
                  {% if rel %}rel="{{ rel }}"{% endif %}
                >
                  {{ module.button_1.button_text }}
                </a>
              </span>
            {% endif %}
          {% endif %}

          {% if module.enable_button_2 and ( module.button_2.cta or ( module.button_2.button_text and module.button_2.link.url.href ) ) %}
            {% if module.button_2.button_or_hubspot_cta == "cta" %}
              {% cta guid="{{ module.button_2.cta }}" %}
            {% elif module.button_2.button_or_hubspot_cta == "button" %}
              {% if module.button_2.link.url.type is equalto 'EMAIL_ADDRESS' %}
                {% set href = 'mailto:' ~ module.button_2.link.url.href %}
              {% elif module.button_2.link.url.href == '/' %}
                {% set href = module.button_2.link.url.href %}
              {% else %}
                {% unless (module.button_2.link.url.href is string_containing '//') or (module.button_2.link.url.href is string_containing 'tel:') or (module.button_2.link.url.href is string_startingwith '#') or !module.button_2.link.url.href %}
                  {% set href = '//' ~ module.button_2.link.url.href %}
                {% else %}
                  {% set href = module.button_2.link.url.href or '' %}
                {% endunless %}
              {% endif %}
              {% set rel = (module.button_2.link.open_in_new_tab ? 'noopener ' : null) ~ (module.button_2.link.no_follow ? 'nofollow' : null) %}
              <span>    
                <a
                  class="hero-banner-button-2 {% if module.button_2.button_type != 'link' %}button button-{% if module.button_2.button_type == 'outline' %}outline-{% elif module.button_2.button_type == 'gradient' %}gradient color-{% endif %}{{ module.button_2.button_color }}{% if module.button_2.enable_button_accent_line %} button-accent{% endif %}{% else %} link color-{{ module.button_2.button_color }} pe-{{ module.button_2.button_color }}{% endif %} button-{{ module.button_2.button_size }}"
                  href="{{ href }}"
                  {% if module.button_2.link.open_in_new_tab %}target="_blank"{% endif %}
                  {% if rel %}rel="{{ rel }}"{% endif %}
                >
                  {{ module.button_2.button_text }}
                </a>
              </span>
            {% endif %}
          {% endif %}
         </div>
      {% endif %}
    </div>
    {% if ( module.layout == 'text_image' or module.layout == 'image_text' ) and module.image.src %}
      {% set sizeAttrs = 'width="{{ module.image.width }}" height="{{ module.image.height }}"' %}
      {% set renderSize = module.image.width %}
      {% if module.image.size_type == 'auto_custom_max' %}
        {% set sizeAttrs = 'width="{{ module.image.max_width }}" height="{{ module.image.max_height }}"' %}
        {% set renderSize = module.image.max_width %}
      {% endif %}
      {% set loadingAttr = module.image.loading != 'disabled' ? 'loading="{{ module.image.loading }}"' : '' %}
      <div class="hero-banner-image"
        {% if module.enable_animation %}
          {% if module.animation_settings.animation_type == "default" %}
            data-aos="{{ theme.animations.animation_type }}"
          {% else %}
            data-aos="{{ module.animation_settings.animation_type }}"
          {% endif %}
          {% if module.layout == "image_text" %}
            data-aos-delay="{{ module.animation_settings.animation_delay }}"
          {% else %}
            data-aos-delay="{{ module.animation_settings.animation_delay *2 }}"
          {% endif %}
          {% if module.animation_settings.override_default_animation_duration %}
            data-aos-duration="{{ module.animation_settings.animation_duration }}"
          {% endif %}
        {% endif %}     
      >
        <img src="{{ resize_image_url(module.image.src, renderSize) }}" alt="{{ module.image.alt }}" {{ loadingAttr }} {{ sizeAttrs }} class="{% if theme.other.general_border_radius %}rounded{% endif %}">
      </div>
    {% endif %}
  </div>
</div>

{% require_css %}
  <style>
    {% scope_css %}
      /* Overlay */
      {% if module.background_overlay.enable_overlay and module.style.custom_styling.overlay_color.color %}
        .hero-banner-overlay {
          background-color: rgba({{ module.style.custom_styling.overlay_color.color|convert_rgb }}, {{ module.style.custom_styling.overlay_color.opacity / 100 }}) !important;
        }
      {% endif %}

      /* Container Width */
      {% if module.enable_custom_width %}
        .hero-banner .container {
          max-width: {{ module.custom_width ~ 'px' }};
        }
      {% endif %}
    
      /* Mobile Background Image */
      {% if module.background_overlay.background_type == 'image' %}
        @media (max-width: 767px) {
          .hero-banner {
            background-image: url('{{ module.background_overlay.background_image_mobile.src }}') !important;
          }
        }
      {% endif %}
    
      {# Module custom styles #}
      {% if module.style.background.background_color.color %}
        .hero-banner {
          background: rgba({{ module.style.background.background_color.color|convert_rgb }}, {{ module.style.background.background_color.opacity / 100 }});
        }
      {% endif %}
      .hero-banner-button-1 {       
        {% if module.style.button_1.font.font %}
          font-family: {{ module.style.button_1.font.font }}, sans-serif;
        {% endif %}
        {% if module.style.button_1.font.color %}
          color: {{ module.style.button_1.font.color }};
        {% endif %}
        {% if module.style.button_1.font.size %}
          font-size: {{ module.style.button_1.font.size ~ 'px' }};
        {% endif %}
        {% if module.style.button_1.font.styles|attr('font-style') %}
          font-style: {{ module.style.button_1.font.styles|attr('font-style') }};
        {% endif %}
        {% if module.style.button_1.font.styles|attr('font-weight') %}
          font-weight: {{ module.style.button_1.font.styles|attr('font-weight') }};
        {% endif %}
        {% if module.style.button_1.font.styles|attr('text-decoration') %}
          text-decoration: {{ module.style.button_1.font.styles|attr('text-decoration') }};
        {% endif %}
        {% if module.style.button_1.letter_spacing != none %}
          letter-spacing: {{ module.style.button_1.letter_spacing ~ 'px' }};
        {% endif %}
        {% if module.style.button_1.text_transform %}
          text-transform: {{ module.style.button_1.text_transform }};
        {% endif %}
        {% if module.style.button_1.background_color.color %}
          background-color: rgba({{ module.style.button_1.background_color.color|convert_rgb }}, {{ module.style.button_1.background_color.opacity / 100 }});
        {% endif %}
        {% if module.style.button_1.border_color.color %}
          border-color: rgba({{ module.style.button_1.border_color.color|convert_rgb }}, {{ module.style.button_1.border_color.opacity / 100 }});
        {% endif %}
        {% if module.style.button_1.border_width != none %}
          border-width: {{ module.style.button_1.border_width ~ 'px' }};
        {% endif %}
        {% if module.style.button_1.border_radius != none %}
          border-radius: {{ module.style.button_1.border_radius ~ 'px' }};
        {% endif %}
        {% if module.style.button_1.horizontal_padding != none %}
          padding-left: {{ module.style.button_1.horizontal_padding ~ 'px' }};
          padding-right: {{ module.style.button_1.horizontal_padding ~ 'px' }};
        {% endif %}
        {% if module.style.button_1.vertical_padding != none %}
          padding-top: {{ module.style.button_1.vertical_padding ~ 'px' }};
          padding-bottom: {{ module.style.button_1.vertical_padding ~ 'px' }};
        {% endif %}
      }
      .hero-banner-button-1:hover,
      .hero-banner-button-1:focus {
        {% if module.style.button_1.text_color_hover.color %}
          color: rgba({{ module.style.button_1.text_color_hover.color|convert_rgb }}, {{ module.style.button_1.text_color_hover.opacity / 100 }});
        {% endif %}
        {% if module.style.button_1.background_color_hover.color %}
          background-color: rgba({{ module.style.button_1.background_color_hover.color|convert_rgb }}, {{ module.style.button_1.background_color_hover.opacity / 100 }});
        {% endif %}
        {% if module.style.button_1.border_color_hover.color %}
          border-color: rgba({{ module.style.button_1.border_color_hover.color|convert_rgb }}, {{ module.style.button_1.border_color_hover.opacity / 100 }});
        {% endif %}
        {% if module.style.button_1.border_radius_hover != none %}
          border-radius: {{ module.style.button_1.border_radius_hover ~ 'px' }};
        {% endif %}
      }
      .hero-banner-button-2 {       
        {% if module.style.button_2.font.font %}
          font-family: {{ module.style.button_2.font.font }}, sans-serif;
        {% endif %}
        {% if module.style.button_2.font.color %}
          color: {{ module.style.button_2.font.color }};
        {% endif %}
        {% if module.style.button_2.font.size %}
          font-size: {{ module.style.button_2.font.size ~ 'px' }};
        {% endif %}
        {% if module.style.button_2.font.styles|attr('font-style') %}
          font-style: {{ module.style.button_2.font.styles|attr('font-style') }};
        {% endif %}
        {% if module.style.button_2.font.styles|attr('font-weight') %}
          font-weight: {{ module.style.button_2.font.styles|attr('font-weight') }};
        {% endif %}
        {% if module.style.button_2.font.styles|attr('text-decoration') %}
          text-decoration: {{ module.style.button_2.font.styles|attr('text-decoration') }};
        {% endif %}
        {% if module.style.button_2.letter_spacing != none %}
          letter-spacing: {{ module.style.button_2.letter_spacing ~ 'px' }};
        {% endif %}
        {% if module.style.button_2.text_transform %}
          text-transform: {{ module.style.button_2.text_transform }};
        {% endif %}
        {% if module.style.button_2.background_color.color %}
          background-color: rgba({{ module.style.button_2.background_color.color|convert_rgb }}, {{ module.style.button_2.background_color.opacity / 100 }});
        {% endif %}
        {% if module.style.button_2.border_color.color %}
          border-color: rgba({{ module.style.button_2.border_color.color|convert_rgb }}, {{ module.style.button_2.border_color.opacity / 100 }});
        {% endif %}
        {% if module.style.button_2.border_width != none %}
          border-width: {{ module.style.button_2.border_width ~ 'px' }};
        {% endif %}
        {% if module.style.button_2.border_radius != none %}
          border-radius: {{ module.style.button_2.border_radius ~ 'px' }};
        {% endif %}
        {% if module.style.button_2.horizontal_padding != none %}
          padding-left: {{ module.style.button_2.horizontal_padding ~ 'px' }};
          padding-right: {{ module.style.button_2.horizontal_padding ~ 'px' }};
        {% endif %}
        {% if module.style.button_2.vertical_padding != none %}
          padding-top: {{ module.style.button_2.vertical_padding ~ 'px' }};
          padding-bottom: {{ module.style.button_2.vertical_padding ~ 'px' }};
        {% endif %}
      }
      .hero-banner-button-2:hover,
      .hero-banner-button-2:focus {
        {% if module.style.button_2.text_color_hover.color %}
          color: rgba({{ module.style.button_2.text_color_hover.color|convert_rgb }}, {{ module.style.button_2.text_color_hover.opacity / 100 }});
        {% endif %}
        {% if module.style.button_2.background_color_hover.color %}
          background-color: rgba({{ module.style.button_2.background_color_hover.color|convert_rgb }}, {{ module.style.button_2.background_color_hover.opacity / 100 }});
        {% endif %}
        {% if module.style.button_2.border_color_hover.color %}
          border-color: rgba({{ module.style.button_2.border_color_hover.color|convert_rgb }}, {{ module.style.button_2.border_color_hover.opacity / 100 }});
        {% endif %}
        {% if module.style.button_2.border_radius_hover != none %}
          border-radius: {{ module.style.button_2.border_radius_hover ~ 'px' }};
        {% endif %}
      }
      {% if module.style.custom_styling.image_border_radius != none %}
        .hero-banner-image img {
          border-radius: {{ module.style.custom_styling.image_border_radius ~ 'px' }};
        }
      {% endif %}
    {% end_scope_css %}
  </style>
{% end_require_css %}