<div class="list-wrapper{% if module.enable_sticky_column %} sticky{% endif %}">
<div id="{{ module.custom_id }}" class="list {{ module.custom_class }}">
  <ul class="list-inner">
    {% for item in module.list_items %}
      <li class="list-single"
        {% if module.enable_animation %}
          {% if module.animation_settings.animation_type == "default" %}
            data-aos="{{ theme.animations.animation_type }}"
          {% else %}
            data-aos="{{ module.animation_settings.animation_type }}"
          {% endif %}
          data-aos-delay="{{ loop.index * module.animation_settings.animation_delay }}"
          {% if module.animation_settings.override_default_animation_duration %}
            data-aos-duration="{{ module.animation_settings.animation_duration }}"
          {% endif %}
        {% endif %}
      >
        {% if module.list_style == 'bullet' %}
          <div class="list-indicator list-indicator--bullet">
            <span class="bg-{{ item.indicator_color }}"></span>
          </div>
        {% elif module.list_style == 'number' %}
          <div class="list-indicator list-indicator--number color-{{ item.indicator_color }}">
            {{loop.index}}.
          </div>
        {% elif module.list_style == 'icon' %}
          <div class="list-indicator list-indicator--icon">
            <span class="color-{{ item.indicator_color }}">
              {% icon
                name="{{ item.icon.name }}"
                style="{{ item.icon.type }}"
                unicode="{{ item.icon.unicode }}"
                icon_set="{{ item.icon.icon_set }}"
              %}
            </span>
          </div>
        {% elif module.list_style == 'image' %}
          <div class="list-indicator list-indicator--image">
            {% if item.image.src %}
              {% set sizeAttrs = 'width="{{ item.image.width }}" height="{{ item.image.height }}"' %}
            {% if item.image.size_type == 'auto' %}
              {% set sizeAttrs = 'style="max-width: 100%; height: auto;"' %}
            {% elif item.image.size_type == 'auto_custom_max' %}
              {% set sizeAttrs = 'width="{{ item.image.max_width }}" height="{{ item.image.max_height }}" style="max-width: 100%; height: auto;"' %}
            {% endif %}
            {% set loadingAttr = item.image.loading != 'disabled' ? 'loading="{{ item.image.loading }}"' : '' %}
              <img src="{{ item.image.src }}" alt="{{ item.image.alt }}" {{ loadingAttr }} {{ sizeAttrs }}>{{ resize_image_url(content.post_list_summary_featured_image, 820 ) }}
            {% endif %}
          </div>
        {% endif %}
        <div class="list-text color-{{ module.text_color }}">
          {{ item.text }}
        </div>
      </li>
    {% endfor %}
  </ul>
</div>
</div>

{% require_css %}
  <style>
    {% scope_css %}
      {# Module custom styles #}
      .list-wrapper {
        {% if module.style.spacing.spacing %}
          {{ module.style.spacing.spacing.css }}
        {% endif %}
        {% if module.style.background.background_type == 'none' %}
          background: none;
        {% elif module.style.background.background_type == 'color' %}
          background: rgba({{ module.style.background.background_color.color|convert_rgb }}, {{ module.style.background.background_color.opacity / 100 }});
        {% elif module.style.background.background_type == 'gradient' %}
          background: {{ module.style.background.background_gradient.css }};
        {% elif module.style.background.background_type == 'image' %}
          {{ module.style.background.background_image.css }};
        {% endif %}
      }
    
      {% if module.style.custom_styling.border_radius != none %}
        .list-single {
          border-radius: {{ module.style.custom_styling.border_radius ~ 'px' }};
        }
      {% endif %}
      {% if module.style.item_spacing.item_spacing != none %}
        .list-single:not(:last-child) {
          margin-bottom: {{ module.style.item_spacing.item_spacing ~ 'px'}};
        }
      {% endif %}
      {% if module.style.custom_styling.text_color.color %}
        .list-text {
          color: {{ module.style.custom_styling.text_color.color }};
        }
      {% endif %}
      {% if module.style.custom_styling.indicator_color.color %}
        .list-indicator--number {
          color: {{ module.style.custom_styling.indicator_color.color }};
        }
        .list-indicator--icon svg {
          fill:  {{ module.style.custom_styling.indicator_color.color }};  
        }
        .list-indicator--bullet > span {
          background-color: {{ module.style.custom_styling.indicator_color.color }};
        }
      {% endif %}
    {% end_scope_css %}
  </style>
{% end_require_css %}