<div class="social-links-wrapper{% if module.enable_sticky_column %} sticky{% endif %}">
<div id="{{ module.custom_id }}" class="social-links justify-{{ module.alignment }} {{ module.custom_class }}">
  {% for item in module.social_links %}
    {% set href = item.social_link.url.href %}
    {% if item.social_link.url.type is equalto "EMAIL_ADDRESS" %}
      {% set href = "mailto:" + href %}
    {% endif %}
  
    {% set rel = (item.social_link.open_in_new_tab ? 'noopener ' : null) ~ (item.social_link.no_follow ? 'nofollow' : null) %}
    
    {% if item.social_account != 'custom_icon' %}
      {% set social_icon = item.social_account %}
    {% else %}
      {% set social_icon = item.custom_icon.name %}
    {% endif %}
    
    {% if module.enable_animation %}
      <div class="social-links-single-wrapper"
        {% if module.animation_settings.animation_type == "default" %}
          data-aos="{{ theme.animations.animation_type }}"
        {% else %}
          data-aos="{{ module.animation_settings.animation_type }}"
        {% endif %}
        data-aos-delay="{{ loop.index * module.animation_settings.animation_delay }}"
        {% if module.animation_settings.override_default_animation_duration %}
          data-aos-duration="{{ module.animation_settings.animation_duration }}"
        {% endif %}
      >
    {% endif %}
      <a class="social-links-single bg-{{ item.background_color }} color-{{ item.icon_color }}" href="{{ href }}"
        {% if item.social_link.open_in_new_tab %}target="_blank"{% endif %}
        {% if rel %}rel="{{ rel }}"{% endif %}
      >
        {% icon
          name='{{ social_icon }}',
          style='SOLID',
          title='{{ social_icon }}',
          unique_in_loop=True,
          no_wrapper=True
        %}
      </a>
    {% if module.enable_animation %}
      </div>
    {% endif %}
  {% endfor %}
</div>
</div>

{% require_css %}
  <style>
    {% scope_css %}
      {# Module custom styles #}
      .social-links-wrapper {
        {% if module.style.spacing.spacing %}
          {{ module.style.spacing.spacing.css }}
        {% endif %}
      }
      .social-links {
        {% if module.style.item_spacing.item_spacing %}
          margin: -{{ module.style.item_spacing.item_spacing / 2 ~ 'px' }};
        {% endif %}
      }
      .social-links-single {
        {% if module.style.item_spacing.item_spacing %}
          margin: {{ module.style.item_spacing.item_spacing ~ 'px' }};
        {% endif %}
        {% if module.style.custom_styling.button_size != none %}
          width: {{ module.style.custom_styling.button_size ~ 'px' }};
          height: {{ module.style.custom_styling.button_size ~ 'px' }};
        {% endif %}
        {% if module.style.custom_styling.background_color.color %}
          background-color: rgba({{ module.style.custom_styling.background_color.color|convert_rgb }}, {{ module.style.custom_styling.background_color.opacity / 100 }});
        {% endif %}
        {% if module.style.custom_styling.border_width != none %}
          border: solid {{ module.style.custom_styling.border_width ~ 'px' }} {{ module.style.custom_styling.icon_color.color }};
        {% endif %}
        {% if module.style.custom_styling.border_color.color %}
          border-color: rgba({{ module.style.custom_styling.border_color.color|convert_rgb }}, {{ module.style.custom_styling.border_color.opacity / 100 }});
        {% endif %}
        {% if module.style.custom_styling.border_radius != none %}
          border-radius: {{ module.style.custom_styling.border_radius ~ 'px' }};
        {% endif %}
      }
      .social-links-single svg {
        {% if module.style.custom_styling.icon_size != none %}
          height: {{ module.style.custom_styling.icon_size ~ 'px' }};
        {% endif %}
        {% if module.style.custom_styling.icon_color.color %}
          fill: {{ module.style.custom_styling.icon_color.color }};
        {% endif %}
      }
      .social-links-single:hover,
      .social-links-single:focus {
        {% if module.style.custom_styling.background_color_hover.color %}
          background-color: rgba({{ module.style.custom_styling.background_color_hover.color|convert_rgb }}, {{ module.style.custom_styling.background_color_hover.opacity / 100 }});
        {% endif %}
        {% if module.style.custom_styling.border_color_hover.color %}
          border-color: rgba({{ module.style.custom_styling.border_color_hover.color|convert_rgb }}, {{ module.style.custom_styling.border_color_hover.opacity / 100 }});
        {% endif %}
        {% if module.style.custom_styling.border_radius_hover != none %}
          border-radius: {{ module.style.custom_styling.border_radius_hover ~ 'px' }};
        {% endif %}
      }
      {% if module.style.custom_styling.icon_color_hover.color %}
        .social-links-single:hover svg,
        .social-links-single:focus svg {
          fill: {{ module.style.custom_styling.icon_color_hover.color }};
        }
      {% endif %}
    {% end_scope_css %}
  </style>
{% end_require_css %}