<div class="tabs-wrapper{% if module.enable_sticky_column %} sticky{% endif %}">
<div id="{{ module.custom_id }}" class="tabs{% if theme.other.general_border_radius %} rounded{% endif %} {{ module.custom_class }}"
  {% if module.enable_animation %}
    {% if module.animation_settings.animation_type == "default" %}
      data-aos="{{ theme.animations.animation_type }}"
    {% else %}
      data-aos="{{ module.animation_settings.animation_type }}"
    {% endif %}
    data-aos-delay="{{ loop.index * module.animation_settings.animation_delay }}"
    {% if module.animation_settings.override_default_animation_duration %}
        data-aos-duration="{{ module.animation_settings.animation_duration }}"
    {% endif %}
  {% endif %}
>  
  <ul class="tab-list">
    {% for item in module.tabs %}
      <li class="tab-button color-{{ item.title_text_color }} bg-{{ item.title_background_color }} pe-{{ item.title_text_color }}" data-tab="tab_{{ name }}_{{ loop.index }}">
        {{ item.title }}
      </li>
    {% endfor %}
  </ul>

  <div class="tab-body">
    {% for item in module.tabs %}
      <div id="tab_{{ name }}_{{ loop.index }}" class="tab-body-inner bg-{{ module.body_background_color }} color-{{ module.body_text_color }}">
        {{ item.text }}
      </div>
    {% endfor %}
  </div>
</div>
</div>

{% require_css %}
  <style>
    {% scope_css %}
      {# Module custom styles #}
      .tabs-wrapper {
        {% if module.style.spacing.spacing %}
          {{ module.style.spacing.spacing.css }}
        {% endif %}
        {% if module.style.background.background_type == 'none' %}
          background: none;
        {% elif module.style.background.background_type == 'color' %}
          background: rgba({{ module.style.background.background_color.color|convert_rgb }}, {{ module.style.background.background_color.opacity / 100 }});
        {% elif module.style.background.background_type == 'gradient' %}
          background: {{ module.style.background.background_gradient.css }};
        {% elif module.style.background.background_type == 'image' %}
          {{ module.style.background.background_image.css }};
        {% endif %}
      }
      .tab-body-inner {
        {% if module.style.custom_styling.body_text_color.color %}
          color: {{ module.style.custom_styling.body_text_color.color }};
        {% endif %}
        {% if module.style.custom_styling.body_background.body_background_type == 'none' %}
          background: none;
        {% elif module.style.custom_styling.body_background.body_background_type == 'color' %}
          background: rgba({{ module.style.custom_styling.body_background.body_background_color.color|convert_rgb }}, {{ module.style.custom_styling.body_background.body_background_color.opacity / 100 }});
        {% elif module.style.custom_styling.body_background.body_background_type == 'gradient' %}
          background: {{ module.style.custom_styling.body_background.body_background_gradient.css }};
        {% elif module.style.custom_styling.body_background.body_background_type == 'image' %}
          {{ module.style.custom_styling.body_background.body_background_image.css }};
        {% endif %}
      }
      {% if module.style.custom_styling.border_radius != none %}
        .tab-button:first-child {
          border-radius: {{ module.style.custom_styling.border_radius ~ 'px' }} 0 0 0;
        }
        .tab-button:last-child {
          border-radius: 0 {{ module.style.custom_styling.border_radius ~ 'px' }} 0 0;
        }
        .tab-body-inner {
          border-radius: 0 0 {{ module.style.custom_styling.border_radius ~ 'px' }} {{ module.style.custom_styling.border_radius ~ 'px' }};
        }
      {% endif %}
    {% end_scope_css %}
  </style>
{% end_require_css %}